OnboardingV2Minimal/.analysis/tmp-subject-evidence-deploy/flows/BLL_License_RCD_Logical_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_License_Context</name>
        <label>Determine License Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Supported License Context</defaultConnectorLabel>
        <rules>
            <name>Drivers_License_Contact_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driver&apos;s License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Drivers_License_Subjects</targetReference>
            </connector>
            <label>Driver&apos;s License Contact Context</label>
        </rules>
        <rules>
            <name>Business_License_Account_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Business_License_Subjects</targetReference>
            </connector>
            <label>Business License Account Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Evidence_Evaluation_Fail</name>
        <label>Did Evidence Evaluation Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Evaluation Fault</defaultConnectorLabel>
        <rules>
            <name>Evidence_Evaluation_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evidence_Evaluation_Fault</targetReference>
            </connector>
            <label>Evidence Evaluation Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Evaluate</name>
        <label>Should Evaluate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Relevant Change</defaultConnectorLabel>
        <rules>
            <name>On_Create_Or_Relevant_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_License_Context</targetReference>
            </connector>
            <label>On Create Or Relevant Change</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - License - RCD - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - License - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - License - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>License__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Should_Evaluate</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Business_License_Subjects</name>
        <label>Evaluate Business License Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evidence_Evaluation_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVALUATE_Onboarding_Requirement_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <stringValue>Business License</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_Drivers_License_Subjects</name>
        <label>Evaluate Drivers License Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evidence_Evaluation_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVALUATE_Onboarding_Requirement_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <stringValue>Driver&apos;s License</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Evidence_Evaluation_Fault</name>
        <label>Handle Evidence Evaluation Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>License evidence evaluation failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogWithoutOnboarding</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Determine_License_Context</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_License_RCD_Logical_Process</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
