OnboardingV2Minimal/force-app/main/default/flows/APP_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Agreement_Status_Changed</name>
        <label>Agreement Status Changed</label>
        <locationX>1067</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Contract_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agreement_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agreement_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Direction_on_Contract_Type</targetReference>
            </connector>
            <label>Yes - Agreement Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assigned_Team_Changed</name>
        <label>Assigned Team Changed</label>
        <locationX>1067</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Background_Check_Credit_Check_Compliance_Status_Changed_To_Complete_Type_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Assigned_Team_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Team__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changed_to_Onboarding_or_Sales</targetReference>
            </connector>
            <label>Yes - Assigned Team Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Background_Check_Credit_Check_Compliance_Status_Changed_To_Complete_Type_Status</name>
        <label>Background Check / Credit Check / Compliance Status Changed To Complete Type Status</label>
        <locationX>1067</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Background_Check_Status_Changed_to_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Background_Check</name>
            <conditionLogic>(1 AND (2 OR 3) AND (4 OR 5) AND (7 OR 8)) OR (6 AND (2 OR 3) AND (4 OR 5) AND (7 OR 8)) OR (9 AND (2 OR 3) AND (4 OR 5) AND (7 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compliance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compliance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Conditionally</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compliance_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Task_Stage_Sales_Team</targetReference>
            </connector>
            <label>Yes - Background Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Background_Check_Status_Changed_to_Requested</name>
        <label>Background Check Status Changed to Requested</label>
        <locationX>1342</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Status_Values_Ready_for_Compliance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Not Requested Or Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Background_Change_to_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_After_48_Hours_If_Necessary</targetReference>
            </connector>
            <label>Yes - Background Change to Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Onboarding_or_Sales</name>
        <label>Changed to Onboarding or Sales</label>
        <locationX>869</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Set_Net_Task_Stage_Sales_Team_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed to Sales</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Net_Task_Stage_Onboarding_Team_Changed</targetReference>
            </connector>
            <label>Changed to Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Status_Changed</name>
        <label>Contract Status Changed</label>
        <locationX>1414</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assigned_Team_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Contract Status</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Decide_Direction_on_Contract_Type</targetReference>
            </connector>
            <label>Yes - Contract Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Status_Changed_Program_Base_App</name>
        <label>Contract Status Changed</label>
        <locationX>754</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Task_Stage_Adobe_Signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Contract Status</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Status_Program_Base_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Team_Changed</targetReference>
            </connector>
            <label>Yes - Contract Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_A_Task_Or_No</name>
        <label>Create A Task Or No?</label>
        <locationX>1188</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Status_Values_Ready_for_Compliance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_A_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decide_If_We_Are_Creating_a_Task_after_48_Hours.Outputs.AssignTasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Task_Stage_Requested</targetReference>
            </connector>
            <label>Yes - Create A Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Direction_on_Contract_Type</name>
        <label>Decide Direction on Contract Type</label>
        <locationX>721</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assigned_Team_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vendor</defaultConnectorLabel>
        <rules>
            <name>Contract_Type_is_NDA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contract_Status_Completed</targetReference>
            </connector>
            <label>Contract Type is NDA</label>
        </rules>
        <rules>
            <name>Contract_Type_is_Program_Base_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Contract_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Program Base Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Status_Changed_Program_Base_App</targetReference>
            </connector>
            <label>Contract Type is Program Base Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Training_Assignment_Records_Are_Needed</name>
        <label>Decide if Training Assignment Records Are Needed</label>
        <locationX>3174</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Training Records Not Needed</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Records_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Training_Assignment_Records_Where_Needed</targetReference>
            </connector>
            <label>Yes Training Records Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Record_Already_Been_Created</name>
        <label>Has Related Record Already Been Created?</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Assigned_Team_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - It&apos;s Been Created Before</defaultConnectorLabel>
        <rules>
            <name>No_We_Need_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_How_Many_Records_Are_Related.Outputs.TotalOnboardingRecords</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Related_Onboarding_Record</targetReference>
            </connector>
            <label>No - We Need to Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Status_Completed</name>
        <label>Is Contract Status Completed</label>
        <locationX>336</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assigned_Team_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Contract Status is Not Complete</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Status_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Net_Task_Stage_NDA</targetReference>
            </connector>
            <label>Yes - Contract Status Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Type_is_NDA_On_Complete_Onboarding_Status</name>
        <label>Is Contract Type is NDA On Complete Onboarding Status</label>
        <locationX>1920</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Status_is_Setup_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Is Not NDA</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Type_is_NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Contract_Status_Completed</targetReference>
            </connector>
            <label>Yes - Contract Type is NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>License_Changed</name>
        <label>License Changed</label>
        <locationX>1265</locationX>
        <locationY>2771</locationY>
        <defaultConnectorLabel>No License is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_License_Is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drivers_Licenses_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_License_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - License Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Record_Type</name>
        <label>Onboarding Record Type</label>
        <locationX>2118</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Close_All_Onboarding_Tasks_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_is_Type_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vendor_Specific_Onboarding_Requirements</targetReference>
            </connector>
            <label>Onboarding is Type Vendor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Setup_Decision_Logic</name>
        <label>Onboarding Setup Decision Logic</label>
        <locationX>2318</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Setup_Not_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Status_Changed</targetReference>
            </connector>
            <label>Setup Not Complete</label>
        </rules>
        <rules>
            <name>Setup_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contract_Type_is_NDA_On_Complete_Onboarding_Status</targetReference>
            </connector>
            <label>Setup Complete</label>
        </rules>
        <rules>
            <name>Setup_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_All_Onboarding_Tasks_Stage</targetReference>
            </connector>
            <label>Setup Cancelled</label>
        </rules>
        <rules>
            <name>Setup_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_All_Onboarding_Tasks_Stage</targetReference>
            </connector>
            <label>Setup Expired</label>
        </rules>
        <rules>
            <name>Setup_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Status_is_Denied</targetReference>
            </connector>
            <label>Setup Denied</label>
        </rules>
        <rules>
            <name>Agreement_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Related_Records_After_Approval</targetReference>
            </connector>
            <label>Agreement Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Values_Ready_for_Compliance</name>
        <label>Status Values Ready for Compliance</label>
        <locationX>1067</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>License_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ready for Compliance</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Compliance</name>
            <conditionLogic>(1 OR 3 OR 5 OR 8) AND (2 AND 4 AND (6 OR 7) AND (9 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_License_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_License_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Drivers_Licenses_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Drivers_Licenses_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Task_Stage_for_Compliance</targetReference>
            </connector>
            <label>Ready for Compliance</label>
        </rules>
    </decisions>
    <description>APPLICATION LAYER - Onboarding Object - This flow invokes the business logic layer and the domain layer to update and maintain the Onboarding Object records.</description>
    <environments>Default</environments>
    <interviewLabel>APPLICATION LAYER - Onboarding Object - This flow invokes the business logic layer and the domain layer to update and maintain the Onboarding Object records. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APP - Onboarding</label>
    <orchestratedStages>
        <name>Close_All_Onboarding_Tasks_Stage</name>
        <label>Close All Onboarding Tasks</label>
        <locationX>2318</locationX>
        <locationY>3239</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Close_All_Onboarding_Tasks</name>
            <actionName>Onboarding_Autolaunch_Close_All_Tasks</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Close All Onboarding Tasks</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_New_Related_Onboarding_Record</name>
        <label>Create New Related Onboarding Record</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Assigned_Team_Changed</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Vendor_Customization_Record</name>
            <actionName>Onboarding_Get_Customization_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>contractRecordTypeName</name>
                <value>
                    <stringValue>New Dealer Application (DOM)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>perfectVisionVendorId</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programBaseAppSelection</name>
                <value>
                    <elementReference>$Record.Opportunity__r.Program_Base_App_Selection__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRetailerOption</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Retail_Option__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVendorId</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVertical</name>
                <value>
                    <elementReference>$Record.Vendor_Customization_Vertical__c</elementReference>
                </value>
            </inputParameters>
            <label>Get Vendor Customization Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Related_Onboarding_Id</name>
            <actionName>Onboarding_Subflow_Create_Related_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Get_Vendor_Customization_Record.Outputs.vendorCustomizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>NewRelatedOrUpdateRelated</name>
                <value>
                    <stringValue>NewRelated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TermsConditionsId</name>
                <value>
                    <elementReference>$Record.Terms_Conditions__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionPlanId</name>
                <value>
                    <elementReference>$Record.Action_Plan__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementId</name>
            </inputParameters>
            <inputParameters>
                <name>backgroundCheckId</name>
                <value>
                    <elementReference>$Record.Background_Check__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>businessLicenseId</name>
                <value>
                    <elementReference>$Record.Business_License__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chuzoAgreementId</name>
                <value>
                    <elementReference>$Record.Chuzo_Agreement__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clearingHouseId</name>
                <value>
                    <elementReference>$Record.Clearing_House__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complianceId</name>
                <value>
                    <elementReference>$Record.Compliance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
            </inputParameters>
            <inputParameters>
                <name>contractId</name>
            </inputParameters>
            <inputParameters>
                <name>createNewOrCreateRelated</name>
                <value>
                    <stringValue>CreateRelated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditCheckId</name>
                <value>
                    <elementReference>$Record.Credit_Check__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>driversLicenseId</name>
                <value>
                    <elementReference>$Record.Drivers_License__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eRPSetupId</name>
                <value>
                    <elementReference>$Record.ERP_Setup__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>laborFormId</name>
                <value>
                    <elementReference>$Record.Labor_Form__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>learnUponContactEnrollmentId</name>
                <value>
                    <elementReference>$Record.LearnUponContactEnrollment__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>netTermsId</name>
                <value>
                    <elementReference>$Record.Net_Terms__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
            </inputParameters>
            <inputParameters>
                <name>onboardingType</name>
                <value>
                    <elementReference>$Record.Onboarding_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>$Record.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>personalGuaranteeId</name>
                <value>
                    <elementReference>$Record.Personal_Guarantee__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>territoryAssignmentId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorCustomizationId</name>
                <value>
                    <elementReference>Get_Vendor_Customization_Record.Outputs.vendorCustomizationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorId</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorOrderEntryPlatformId</name>
                <value>
                    <elementReference>$Record.Vendor_Order_Entry_Platform__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Related Onboarding Id</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Contract</name>
            <actionName>Contract_Creation_Subflow</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Related_Onboarding_Id.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>SelectedOpportunityContactId</name>
                <value>
                    <elementReference>$Record.Opportunity__r.Selected_Opportunity_Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountIdInput</name>
                <value>
                    <elementReference>$Record.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementTemplateIdInput</name>
                <value>
                    <elementReference>Get_Vendor_Customization_Record.Outputs.adobeAgreementTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractRecordTypeId</name>
                <value>
                    <elementReference>Get_Vendor_Customization_Record.Outputs.contractRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractRecordTypeNameInput</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractTypeInput</name>
                <value>
                    <elementReference>$Record.Opportunity__r.Program_Base_App_Selection__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityIdInput</name>
                <value>
                    <elementReference>$Record.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>retailerTypeInput</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Retail_Option__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorCustomizationId</name>
            </inputParameters>
            <inputParameters>
                <name>vendorIdInput</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Contract</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Adobe_Agreement</name>
            <actionName>Send_NDA_Contract</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>accountIdInput</name>
                <value>
                    <elementReference>$Record.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementTemplateIdInput</name>
                <value>
                    <elementReference>Get_Vendor_Customization_Record.Outputs.adobeAgreementTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>agreemendIdInput</name>
            </inputParameters>
            <inputParameters>
                <name>agreementIdInput</name>
            </inputParameters>
            <inputParameters>
                <name>contactIdInput</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contactIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractIdInput</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contractIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityIdInput</name>
                <value>
                    <elementReference>$Record.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateOrSendNewAgreementInput</name>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorIdInput</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Adobe Agreement</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Related_Onboarding_Id</name>
            <actionName>Onboarding_Subflow_Create_Related_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Adobe_Agreement.Outputs.agreementIdOutput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Contract.Outputs.contractIdOutput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Related_Onboarding_Id.Outputs.onboardingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>NewRelatedOrUpdateRelated</name>
                <value>
                    <stringValue>UpdateRelated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TermsConditionsId</name>
            </inputParameters>
            <inputParameters>
                <name>actionPlanId</name>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementId</name>
                <value>
                    <elementReference>Create_Adobe_Agreement.Outputs.agreementIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backgroundCheckId</name>
            </inputParameters>
            <inputParameters>
                <name>businessLicenseId</name>
            </inputParameters>
            <inputParameters>
                <name>chuzoAgreementId</name>
            </inputParameters>
            <inputParameters>
                <name>clearingHouseId</name>
            </inputParameters>
            <inputParameters>
                <name>complianceId</name>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contactIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contractIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNewOrCreateRelated</name>
                <value>
                    <stringValue>CreateRelated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditCheckId</name>
            </inputParameters>
            <inputParameters>
                <name>driversLicenseId</name>
            </inputParameters>
            <inputParameters>
                <name>eRPSetupId</name>
            </inputParameters>
            <inputParameters>
                <name>laborFormId</name>
            </inputParameters>
            <inputParameters>
                <name>learnUponContactEnrollmentId</name>
            </inputParameters>
            <inputParameters>
                <name>netTermsId</name>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>Create_Related_Onboarding_Id.Outputs.onboardingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingType</name>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
            </inputParameters>
            <inputParameters>
                <name>personalGuaranteeId</name>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
            </inputParameters>
            <inputParameters>
                <name>territoryAssignmentId</name>
            </inputParameters>
            <inputParameters>
                <name>vendorCustomizationId</name>
            </inputParameters>
            <inputParameters>
                <name>vendorId</name>
            </inputParameters>
            <inputParameters>
                <name>vendorOrderEntryPlatformId</name>
            </inputParameters>
            <label>Update Related Onboarding Id</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Onboarding_Related_Records_After_Approval</name>
        <label>Create Onboarding Related Records After Approval</label>
        <locationX>3174</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Decide_if_Training_Assignment_Records_Are_Needed</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Action_Plan_After_Approval</name>
            <actionName>Action_Plan_Subflow_Create_Action_Plan</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>BaseAppOBRep</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Base_App_OB_Rep__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>$Record.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionPlanTemplateId</name>
                <value>
                    <elementReference>$Record.Action_Plan__r.ActionPlanTemplateVersionId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorId</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorName</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <label>Create Action Plan After Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Adobe_Agreement_After_Approval</name>
            <actionName>Send_NDA_Contract</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Action_Plan_After_Approval.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>accountIdInput</name>
                <value>
                    <elementReference>$Record.Account__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementTemplateIdInput</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Associated_Agreement_Template__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>agreemendIdInput</name>
            </inputParameters>
            <inputParameters>
                <name>agreementIdInput</name>
            </inputParameters>
            <inputParameters>
                <name>contactIdInput</name>
                <value>
                    <elementReference>$Record.Opportunity__r.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractIdInput</name>
                <value>
                    <elementReference>$Record.Contract__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityIdInput</name>
                <value>
                    <elementReference>$Record.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateOrSendNewAgreementInput</name>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorIdInput</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Adobe Agreement After Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Related_Onboarding_Record_After_Approval</name>
            <actionName>Onboarding_Subflow_Create_Related_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Adobe_Agreement_After_Approval.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>NewRelatedOrUpdateRelated</name>
                <value>
                    <stringValue>UpdateRelated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionPlanId</name>
                <value>
                    <elementReference>Create_Action_Plan_After_Approval.Outputs.actionPlanId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementId</name>
                <value>
                    <elementReference>Create_Adobe_Agreement_After_Approval.Outputs.agreementIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>$Record.Contract__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNewOrCreateRelated</name>
                <value>
                    <stringValue>CreateRelated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Update Related Onboarding Record After Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_ActionPlan_line_Tasks_WhatId</name>
            <actionName>Onboarding_Subflow_Update_Action_Plan_Items_WhatId</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Update_Related_Onboarding_Record_After_Approval.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Update ActionPlan line Tasks WhatId</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Training_Assignment_Records_Where_Needed</name>
        <label>Create Training Assignment Records Where Needed</label>
        <locationX>3042</locationX>
        <locationY>611</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Training_Assignment_Record</name>
            <actionName>DOM_Onboarding_SFL_CREATE_Training_Assignment_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Create Training Assignment Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_External_Contact_Credential_Records</name>
            <actionName>DOMAIN_Onboarding_SFL_CREATE_External_Contact_Credentials</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Training_Assignment_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PrincipalOwnerId</name>
                <value>
                    <elementReference>$Record.Opportunity__r.Selected_Opportunity_Contact__c</elementReference>
                </value>
            </inputParameters>
            <label>Create External Contact Credential Records</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Link_Between_ECC_and_Required_Credentials</name>
            <actionName>DOMAIN_External_Contact_Credential_SFL_CREATE_Required_External_Contact_Credenti</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_External_Contact_Credential_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ExternalContactCredentialRecords</name>
                <value>
                    <elementReference>Create_External_Contact_Credential_Records.Outputs.ExternalContactCredentialRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ExternalContactCredentialTypes</name>
                <value>
                    <elementReference>Create_External_Contact_Credential_Records.Outputs.ExternalContactCredentalTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RequiredCredentialRecordCollection</name>
                <value>
                    <elementReference>Create_External_Contact_Credential_Records.Outputs.RequiredCredentialRecordCollection</elementReference>
                </value>
            </inputParameters>
            <label>Create Link Between ECC and Required Credentials</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Onboarding_Status_is_Denied</name>
        <label>Onboarding Status is Denied</label>
        <locationX>2778</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Close_All_Onboarding_Tasks_Stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Onboarding_and_Contract_Status_to_Denied</name>
            <actionName>Onboarding_Autolaunch_Set_Related_Onboarding_Records_to_Denied</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Set Onboarding and Contract Status to Denied</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Close_All_Onboarding_Tasks_Denied</name>
            <actionName>Onboarding_Autolaunch_Close_All_Tasks</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Close All Onboarding Tasks</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Task_to_Reach_Out_to_Customer_to_Recruiter</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>TriggeringStatusField</name>
                <value>
                    <stringValue>Onboarding Status Changed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Recruiter__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Onboarding Denied</stringValue>
                </value>
            </inputParameters>
            <label>Assign Task to Reach Out to Customer to Recruiter</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Assign_Task_to_Reach_Out_to_Customer_to_Outside_Territory_Manager</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>TriggeringStatusField</name>
                <value>
                    <stringValue>Onboarding Status Changed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Outside_Territory_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Onboarding Denied</stringValue>
                </value>
            </inputParameters>
            <label>Assign Task to Reach Out to Customer to Outside Territory Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Onboarding_Status_is_Setup_Complete</name>
        <label>Onboarding Status is Setup Complete</label>
        <locationX>2118</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Onboarding_Record_Type</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Send_Program_Vendor_Welcome_Email</name>
            <actionName>Onboarding_Autolaunch_Dealer_Welcome_Emails</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Send Program/Vendor Welcome Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Net_Task_Stage_NDA</name>
        <label>Set Net Task Stage - NDA</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Has_Related_Record_Already_Been_Created</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Count_How_Many_Records_Are_Related</name>
            <actionName>Onboarding_Subflow_Count_Total_Related_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>backgroundCheckId</name>
                <value>
                    <elementReference>$Record.Background_Check__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Count How Many Records Are Related</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Net_Task_Stage_Onboarding_Team_Changed</name>
        <label>Set Net Task Stage - Onboarding Team Changed</label>
        <locationX>737</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Background_Check_Credit_Check_Compliance_Status_Changed_To_Complete_Type_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Next_Task_For_Assigned_Team_Change_Onboarding</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>AssignedTeam</name>
                <value>
                    <elementReference>$Record.Assigned_Team__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Onboarding_Rep__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Assigned Team Change</stringValue>
                </value>
            </inputParameters>
            <label>Assign Next Task For Assigned Team Change - Onboarding</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Net_Task_Stage_Sales_Team_Changed</name>
        <label>Set Net Task Stage - Sales Team Changed</label>
        <locationX>1001</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Background_Check_Credit_Check_Compliance_Status_Changed_To_Complete_Type_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Next_Task_For_Assigned_Team_Change_Sales</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>AssignedTeam</name>
                <value>
                    <elementReference>$Record.Assigned_Team__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Recruiter__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Assigned Team Change</stringValue>
                </value>
            </inputParameters>
            <label>Assign Next Task For Assigned Team Change - Sales</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Next_Task_Stage_Adobe_Signed</name>
        <label>Set Next Task Stage</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Assigned_Team_Changed</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Next_Task_to_Finance</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>TriggeringStatusField</name>
                <value>
                    <stringValue>Agreement Status Changed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <stringValue>00GQq0000081ovpMAA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Adobe Signed</stringValue>
                </value>
            </inputParameters>
            <label>Assign Next Task to Finance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Next_Task_Stage_for_Compliance</name>
        <label>Set Next Task Stage for Compliance</label>
        <locationX>869</locationX>
        <locationY>2771</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Next_Task_to_Compliance</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>TriggeringStatusField</name>
                <value>
                    <stringValue>Compliance Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <stringValue>00GQq0000081ouDMAQ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Complete Status</stringValue>
                </value>
            </inputParameters>
            <label>Assign Next Task to Compliance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Next_Task_Stage_Requested</name>
        <label>Set Next Task Stage</label>
        <locationX>1056</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Status_Values_Ready_for_Compliance</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Next_Task_to_Onboarding_Rep_Background_Requested</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>VendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Onboarding_Rep__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Background Check Requested</stringValue>
                </value>
            </inputParameters>
            <label>Assign Next Task to Onboarding Rep</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Next_Task_Stage_Sales_Team</name>
        <label>Set Next Task Stage</label>
        <locationX>792</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Status_Values_Ready_for_Compliance</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Next_Task_to_Recruiter_Background_Credit_Check</name>
            <actionName>Onboarding_Subflow_Task_Action_Creation</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>VendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskAssignedUserId</name>
                <value>
                    <elementReference>$Record.Territory_Assignments__r.Recruiter__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggeringStatus</name>
                <value>
                    <stringValue>Background / Credit Check Status</stringValue>
                </value>
            </inputParameters>
            <label>Assign Next Task to Recruiter</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Set_Status_After_48_Hours_If_Necessary</name>
        <label>Set Status After 48 Hours If Necessary</label>
        <locationX>1188</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Create_A_Task_Or_No</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Decide_If_We_Are_Creating_a_Task_after_48_Hours</name>
            <actionName>BLL_Onboarding_SFL_Assign_Tasks_for_Background_Check</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>backgroundCheckId</name>
                <value>
                    <elementReference>$Record.Background_Check__c</elementReference>
                </value>
            </inputParameters>
            <label>Decide If We Are Creating a Task after 48 Hours</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Vendor_Specific_Onboarding_Requirements</name>
        <label>Update Vendor Specific Onboarding Requirements</label>
        <locationX>1986</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Close_All_Onboarding_Tasks_Stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Dealer_Insurance_Record</name>
            <actionName>Onboarding_Autolaunch_Update_Dealer_Insurance_Record</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>dealerInsuranceRecordId</name>
                <value>
                    <elementReference>$Record.Dealer_Insurance__c</elementReference>
                </value>
            </inputParameters>
            <label>Update Dealer Insurance Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>2192</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboarding_Setup_Decision_Logic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Communication_Completed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
