OnboardingV2Minimal/force-app/main/default/flows/Before_Save_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>AccountNull</name>
        <label>Is Account Null</label>
        <locationX>894</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Is_Map_Click</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Generic_Account</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Map_Click</name>
        <label>Is Map Click</label>
        <locationX>364</locationX>
        <locationY>172</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Map_Click</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Map Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name</targetReference>
            </connector>
            <label>Map Click</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_retail</name>
        <label>is retail</label>
        <locationX>1099</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>AccountNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POE_Clicker_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_store_tracker</targetReference>
            </connector>
            <label>retail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Maps_Street__c},80)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Before Save Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Save Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Generic_Account</name>
        <label>Get Generic Account</label>
        <locationX>680</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer To Be Determined</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_store_tracker</name>
        <label>get store tracker</label>
        <locationX>1264</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_store_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>POE_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>POE_Store__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>POE_Clicker_Retail_Track__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Id</name>
        <label>Update Account Id</label>
        <locationX>489</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Is_Map_Click</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Generic_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Click2Create_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>97</locationX>
        <locationY>212</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Store__c</field>
            <value>
                <elementReference>get_store_tracker.POE_Store__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Name__c</field>
            <value>
                <elementReference>get_store_tracker.POE_Store__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_store_info</name>
        <label>update store info</label>
        <locationX>1054</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>AccountNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Retail_Store__c</field>
            <value>
                <elementReference>get_store_tracker.POE_Store__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Name__c</field>
            <value>
                <elementReference>get_store_tracker.POE_Store__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>is_retail</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
