OnboardingV2Minimal/force-app/main/default/flows/BLL_Contact_Training_Assignment_RCD_Update_Related_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Business Logic Layer - Contact Training Assignment Object - Record Trigger - Update Related Records</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Contact Training Assignment - RCD - Update Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Contact Training Assignment - RCD - Update Related Records</label>
    <orchestratedStages>
        <name>Get_External_Contact_Credentials</name>
        <label>Get External Contact Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Onboarding_Records</name>
            <actionName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>AccountId</name>
            </inputParameters>
            <inputParameters>
                <name>AccountRecord</name>
            </inputParameters>
            <inputParameters>
                <name>AccountRecordCollection</name>
            </inputParameters>
            <inputParameters>
                <name>AccountRecordList</name>
            </inputParameters>
            <inputParameters>
                <name>AgreementId</name>
            </inputParameters>
            <inputParameters>
                <name>AgreementRecord</name>
            </inputParameters>
            <inputParameters>
                <name>AgreementRecordCollection</name>
            </inputParameters>
            <inputParameters>
                <name>AgreementRecordList</name>
            </inputParameters>
            <inputParameters>
                <name>ContactId</name>
            </inputParameters>
            <inputParameters>
                <name>ContractId</name>
            </inputParameters>
            <inputParameters>
                <name>ContractRecord</name>
            </inputParameters>
            <inputParameters>
                <name>ContractRecordCollection</name>
            </inputParameters>
            <inputParameters>
                <name>ContractRecordList</name>
            </inputParameters>
            <inputParameters>
                <name>FindNotIncludedValues</name>
            </inputParameters>
            <inputParameters>
                <name>OnboardingId</name>
            </inputParameters>
            <inputParameters>
                <name>OpportunityId</name>
            </inputParameters>
            <inputParameters>
                <name>OpportunityRecord</name>
            </inputParameters>
            <inputParameters>
                <name>OpportunityRecordCollection</name>
            </inputParameters>
            <inputParameters>
                <name>OpportunityRecordList</name>
            </inputParameters>
            <inputParameters>
                <name>TrainingAssignmentRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TrainingAssignmentRecordCollection</name>
            </inputParameters>
            <inputParameters>
                <name>VendorProgramId</name>
            </inputParameters>
            <inputParameters>
                <name>VendorProgramRecord</name>
            </inputParameters>
            <inputParameters>
                <name>VendorProgramRecordCollection</name>
            </inputParameters>
            <inputParameters>
                <name>VendorProgramRecordList</name>
            </inputParameters>
            <label>Get Onboarding Records</label>
            <outputConfigParams>
                <name>OnboardingRecord</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>OnboardingRecordCollection</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>OnboardingRecordList</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>TotalOnboardingRecords</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>errorMessage</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Onboarding_Record_Flow</name>
            <actionName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Record</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>LearnUponContactEnrollment</name>
            </inputParameters>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>Get_Onboarding_Records.Outputs.OnboardingRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TrainingAssignmentRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Onboarding Record Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_External_Contact_Credentials</targetReference>
        </connector>
        <object>Training_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
