OnboardingV2Minimal/force-app/main/default/flows/BLL_Opportunity_RCD_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Preconditions_Missing_Error</name>
        <label>Assign Contract Preconditions Missing Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skipped onboarding/contract creation. Missing one or more required values: AccountRecord.Id, VendorProgramRecord.Id, OnboardingRecord.Id, or OpportunityContactRole.ContactId.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_There_Related_Onboarding_Record_to_Opportunity</name>
        <label>Is There Related Onboarding Record to Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Opportunity Does Not Have Related Onboarding</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_is_Related_to_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Opportunity is Related to Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Onboarding</name>
        <label>Should Create Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_Preconditions_Missing_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Onboarding and Contract Creation</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Create_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendorProgramRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityContactRole.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Record</targetReference>
            </connector>
            <label>Ready to Create Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Contract</name>
        <label>Should Create Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_Preconditions_Missing_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Contract Creation</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Create_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendorProgramRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityContactRole.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract</targetReference>
            </connector>
            <label>Ready to Create Contract</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Opportunity Object - Record Trigger - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Opportunity - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Opportunity - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Onboarding_Records_NEW</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Contract</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>AccountRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityContactRole</name>
            <value>
                <elementReference>OpportunityContactRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgram</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Onboarding_Record</name>
        <label>Create Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Create_Contract</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Record</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Program</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Account_Record</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecord</assignToReference>
            <name>AccountRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Records_NEW</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_Related_Onboarding_Record_to_Opportunity</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <name>OnboardingRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Primary_Opportunity_Contact</name>
        <label>Get Primary Opportunity Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Create_Onboarding</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Primary_Opportunity_Contact</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityContactRole</assignToReference>
            <name>OpportunityContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program</name>
        <label>Get Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Opportunity_Contact</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRecord</assignToReference>
            <name>VendorProgramRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalOnboardingRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
