OnboardingV2Minimal/force-app/main/default/flows/BLL_BRE_Evaluate_Business_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Communication_Dispatch</name>
        <label>Run Communication Dispatch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CommunicationDispatchResolver</actionName>
        <actionType>runExpressionSet</actionType>
        <faultConnector>
            <targetReference>Capture_Run_Communication_Dispatch_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsLearnUponTriggeredEvent</name>
            <value>
                <elementReference>IsLearnUponTriggeredEvent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsOnboardingCreatedEvent</name>
            <value>
                <elementReference>IsOnboardingCreatedEvent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsSetupCompleteEvent</name>
            <value>
                <elementReference>IsSetupCompleteEvent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunicationDispatchResolver</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>DispatchAllowed</assignToReference>
            <name>DispatchAllowed</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PolicyMatched</assignToReference>
            <name>PolicyMatched</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Onboarding_Orchestrator</name>
        <label>Run Onboarding Orchestrator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OnboardingOrchestrator_V2</actionName>
        <actionType>runExpressionSet</actionType>
        <faultConnector>
            <targetReference>Capture_Run_Onboarding_Orchestrator_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HasNDAOnboardingForOpportunity</name>
            <value>
                <elementReference>HasNDAOnboardingForOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsUserSpecial</name>
            <value>
                <elementReference>IsUserSpecial</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HasChuzoOnboardingForOpportunity</name>
            <value>
                <elementReference>HasChuzoOnboardingForOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HasAnyOnboardingForAccount</name>
            <value>
                <elementReference>HasAnyOnboardingForAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HasNonChuzoOnboardingForOpportunity</name>
            <value>
                <elementReference>HasNonChuzoOnboardingForOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsCoreOnboardingComplete</name>
            <value>
                <elementReference>IsCoreOnboardingComplete</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnboardingOrchestrator_V2</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ShowVendorSelector</assignToReference>
            <name>ShowVendorSelector</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ShowAgreementChoice</assignToReference>
            <name>ShowAgreementChoice</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FinalNextAction</assignToReference>
            <name>FinalNextAction</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ShowVerifyAccount</assignToReference>
            <name>ShowVerifyAccount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ShowPersonalGuarantee</assignToReference>
            <name>ShowPersonalGuarantee</name>
        </outputParameters>
        <connector>
            <targetReference>Decide_Onboarding_Orchestrator_Needs_Fallback</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Run_Onboarding_Status_Normalization</name>
        <label>Run Onboarding Status Normalization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OnboardingStatusNormalization</actionName>
        <actionType>runExpressionSet</actionType>
        <faultConnector>
            <targetReference>Capture_Run_Onboarding_Status_Normalization_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RequirementType</name>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Active</name>
            <value>
                <elementReference>StatusRuleActive</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsOverriden</name>
            <value>
                <elementReference>IsOverridden</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>RequirementStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnboardingStatusNormalization</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>NormalizedStatus</assignToReference>
            <name>NormalizedStatus</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Vendor_Program_Approval_Policy</name>
        <label>Run Vendor Program Approval Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VendorProgramApprovalPolicyResolver</actionName>
        <actionType>runExpressionSet</actionType>
        <faultConnector>
            <targetReference>Capture_Run_Vendor_Program_Approval_Policy_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Policy_Key__c</name>
            <value>
                <elementReference>PolicyKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Active__c</name>
            <value>
                <elementReference>PolicyActive</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <elementReference>PolicyType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VendorProgramApprovalPolicyResolver</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ApprovalRequired</assignToReference>
            <name>ApprovalRequired</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BlockAction</assignToReference>
            <name>BlockAction</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Priority</assignToReference>
            <name>Priority</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PolicyMatched</assignToReference>
            <name>PolicyMatched</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Unsupported_Rule_Context</name>
        <label>Assign Unsupported Rule Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsupported RuleContext provided to BLL_BRE_Evaluate_Business_Rules.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Run_Communication_Dispatch_Fault</name>
        <label>Capture Run Communication Dispatch Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultSourceElementApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Run_Communication_Dispatch</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Rule_Context_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Run_Onboarding_Orchestrator_Fault</name>
        <label>Capture Run Onboarding Orchestrator Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultSourceElementApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Run_Onboarding_Orchestrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Rule_Context_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Run_Onboarding_Status_Normalization_Fault</name>
        <label>Capture Run Onboarding Status Normalization Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultSourceElementApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Run_Onboarding_Status_Normalization</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Rule_Context_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Orchestrator_Fallback_OFFER_CHUZO</name>
        <label>Assign Orchestrator Fallback OFFER CHUZO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OFFER_CHUZO_CREATE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Orchestrator_Fallback_PROMPT_PATH</name>
        <label>Assign Orchestrator Fallback PROMPT PATH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PROMPT_PATH_SELECTION</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Orchestrator_Fallback_REQUIRE_NDA</name>
        <label>Assign Orchestrator Fallback REQUIRE NDA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUIRE_NDA</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Orchestrator_Fallback_No_Onboarding_Context</name>
        <label>Orchestrator Fallback No Onboarding Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FaultSourceElementApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Orchestrator_Outputs_Preserved</name>
        <label>Orchestrator Outputs Preserved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalNextAction</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Block_Active_Onboarding_Pipeline</name>
        <label>Assign Block Active Onboarding Pipeline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BLOCK_ACTIVE_ONBOARDING_PIPELINE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You cannot start onboarding while another Program Base or NDA onboarding is already in progress. Finish or cancel the existing onboarding, then try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowAgreementChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowPersonalGuarantee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowVendorSelector</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowVerifyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Orchestrator_Outputs_Preserved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Run_Vendor_Program_Approval_Policy_Fault</name>
        <label>Capture Run Vendor Program Approval Policy Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultSourceElementApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Run_Vendor_Program_Approval_Policy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Rule_Context_Fault</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Gate_Onboarding_Pipeline_Not_Active</name>
        <label>Gate Onboarding Pipeline Not Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Run_Onboarding_Orchestrator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Orchestrator</defaultConnectorLabel>
        <rules>
            <name>Block_Active_Program_Base_Or_NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasActiveProgramBaseOrNdaPipeline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Block_Active_Onboarding_Pipeline</targetReference>
            </connector>
            <label>Block Active Program Base or NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Onboarding_Orchestrator_Fallback_Scenario</name>
        <label>Decide Onboarding Orchestrator Fallback Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Orchestrator_Fallback_No_Onboarding_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No account onboarding context</defaultConnectorLabel>
        <rules>
            <name>Fallback_NDA_and_Chuzo_Setup_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAnyOnboardingForAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNDAOnboardingForOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasChuzoOnboardingForOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Orchestrator_Fallback_OFFER_CHUZO</targetReference>
            </connector>
            <label>Fallback NDA and Chuzo Setup Complete</label>
        </rules>
        <rules>
            <name>Fallback_NDA_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAnyOnboardingForAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNDAOnboardingForOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasChuzoOnboardingForOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Orchestrator_Fallback_REQUIRE_NDA</targetReference>
            </connector>
            <label>Fallback NDA only</label>
        </rules>
        <rules>
            <name>Fallback_Chuzo_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAnyOnboardingForAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNDAOnboardingForOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasChuzoOnboardingForOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Orchestrator_Fallback_OFFER_CHUZO</targetReference>
            </connector>
            <label>Fallback Chuzo only</label>
        </rules>
        <rules>
            <name>Fallback_Has_Onboarding_No_NDA_Chuzo_Flags</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAnyOnboardingForAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Orchestrator_Fallback_PROMPT_PATH</targetReference>
            </connector>
            <label>Fallback Has Onboarding No NDA Chuzo Flags</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Onboarding_Orchestrator_Needs_Fallback</name>
        <label>Decide Onboarding Orchestrator Needs Fallback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Orchestrator_Outputs_Preserved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FinalNextAction returned by BRE</defaultConnectorLabel>
        <rules>
            <name>Missing_Onboarding_Orchestrator_Outputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrchestratorFinalActionMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Onboarding_Orchestrator_Fallback_Scenario</targetReference>
            </connector>
            <label>Missing Onboarding Orchestrator Outputs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Rule_Context</name>
        <label>Decide Rule Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Unsupported_Rule_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported Context</defaultConnectorLabel>
        <rules>
            <name>Communication_Dispatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RuleContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CommunicationDispatch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Communication_Dispatch</targetReference>
            </connector>
            <label>Communication Dispatch</label>
        </rules>
        <rules>
            <name>Onboarding_Orchestrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RuleContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnboardingOrchestrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gate_Onboarding_Pipeline_Not_Active</targetReference>
            </connector>
            <label>Onboarding Orchestrator</label>
        </rules>
        <rules>
            <name>Onboarding_Status_Normalization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RuleContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnboardingStatusNormalization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Onboarding_Status_Normalization</targetReference>
            </connector>
            <label>Onboarding Status Normalization</label>
        </rules>
        <rules>
            <name>Vendor_Program_Approval_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RuleContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VendorProgramApprovalPolicy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Vendor_Program_Approval_Policy</targetReference>
            </connector>
            <label>Vendor Program Approval Policy</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - BRE - Evaluate Business Rules. Uses strict RuleContext routing for expression set execution.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsLearnUponTriggeredEvent</name>
        <dataType>Boolean</dataType>
        <expression>{!EventKey} = &quot;LearnUponTriggered&quot;</expression>
    </formulas>
    <formulas>
        <name>IsOnboardingCreatedEvent</name>
        <dataType>Boolean</dataType>
        <expression>{!EventKey} = &quot;OnboardingCreated&quot;</expression>
    </formulas>
    <formulas>
        <name>IsSetupCompleteEvent</name>
        <dataType>Boolean</dataType>
        <expression>{!EventKey} = &quot;SetupComplete&quot;</expression>
    </formulas>
    <formulas>
        <name>OrchestratorFinalActionMissing</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!FinalNextAction})</expression>
    </formulas>
    <interviewLabel>BLL - BRE - Evaluate Business Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - BRE - Evaluate Business Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Rule_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Rule_Context_Fault</name>
        <label>Handle Rule Context Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>RuleContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Business rules evaluation failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogWithoutOnboarding</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <elementReference>FaultSourceElementApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <elementReference>FaultSourceElementApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_BRE_Evaluate_Business_Rules</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ApprovalRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BlockAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DispatchAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaultSourceElementApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalNextAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsCoreOnboardingComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasAnyOnboardingForAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasActiveProgramBaseOrNdaPipeline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasChuzoOnboardingForOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasNDAOnboardingForOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasNonChuzoOnboardingForOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsOverridden</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsUserSpecial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NormalizedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Priority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RequirementStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequirementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RuleContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowAgreementChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowPersonalGuarantee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowVendorSelector</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowVerifyAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusRuleActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
