OnboardingV2Minimal/force-app/main/default/flows/BLL_Onboarding_RCD_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_Align_Onboarding_Opportunity_Fault</name>
        <label>Capture Align Onboarding Opportunity Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Align_Onboarding_Opportunity_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Execution_Path_Communication_Update</name>
        <label>Set Execution Path Communication Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExecutionPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CommunicationUpdate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Execution_Path_Create</name>
        <label>Set Execution Path Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExecutionPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Program</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Execution_Path</name>
        <label>Determine Execution Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Run_Contract_Opportunity_Alignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action Needed</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Execution_Path_Create</targetReference>
            </connector>
            <label>Onboarding Created</label>
        </rules>
        <rules>
            <name>Onboarding_Communication_Update</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Execution_Path_Communication_Update</targetReference>
            </connector>
            <label>Onboarding Communication Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Send_Setup_Complete</name>
        <label>Determine Send Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Run_Contract_Opportunity_Alignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Setup Complete</defaultConnectorLabel>
        <rules>
            <name>Setup_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_BRE_Setup_Complete_Gate</targetReference>
            </connector>
            <label>Setup Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Send_Training</name>
        <label>Determine Send Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_Send_Setup_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Training</defaultConnectorLabel>
        <rules>
            <name>LearnUpon_Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_BRE_Training_Gate</targetReference>
            </connector>
            <label>LearnUpon Triggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Get_Contract_Record_For_Alignment_Fail</name>
        <label>Did Get Contract Record For Alignment Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Align_Onboarding_Opportunity_From_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Get_Contract_Record_For_Alignment_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Get_Contract_Record_For_Alignment_Fault</targetReference>
            </connector>
            <label>Get Contract Record For Alignment Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_After_Vendor_Program</name>
        <label>Route After Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExecutionPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Program_Requirements</targetReference>
            </connector>
            <label>Create Path</label>
        </rules>
        <rules>
            <name>Communication_Update_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExecutionPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CommunicationUpdate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Send_Training</targetReference>
            </connector>
            <label>Communication Update Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Align_Onboarding_Opportunity_From_Contract</name>
        <label>Should Align Onboarding Opportunity From Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action Needed</defaultConnectorLabel>
        <rules>
            <name>Contract_Opportunity_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Opportunity_to_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Contract_Opportunity_Missing</targetReference>
            </connector>
            <label>Contract Opportunity Missing</label>
        </rules>
        <rules>
            <name>Opportunity_Mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord.Opportunity_to_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ContractRecord.Opportunity_to_Contract__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Align_Onboarding_Opportunity</targetReference>
            </connector>
            <label>Opportunity Mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Dispatch_Setup_Complete_By_BRE</name>
        <label>Should Dispatch Setup Complete By BRE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Run_Contract_Opportunity_Alignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blocked By BRE</defaultConnectorLabel>
        <rules>
            <name>Allowed_Setup_Complete_BRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BREDispatchAllowedSetupComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Setup_Complete_Communication</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Dispatch_Training_By_BRE</name>
        <label>Should Dispatch Training By BRE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_Send_Setup_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blocked By BRE</defaultConnectorLabel>
        <rules>
            <name>Allowed_Training_BRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BREDispatchAllowedTraining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Training_Communication</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Run_Contract_Opportunity_Alignment</name>
        <label>Should Run Contract Opportunity Alignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action Needed</defaultConnectorLabel>
        <rules>
            <name>Contract_Is_Present_And_Context_Changed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Record_For_Alignment</targetReference>
            </connector>
            <label>Contract Is Present And Context Changed</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Onboarding - RCD - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Onboarding - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Onboarding - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Align_Onboarding_Opportunity</name>
        <label>Align Onboarding Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Capture_Align_Onboarding_Opportunity_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ContractRecord.Opportunity_to_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Execution_Path</targetReference>
        </connector>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Onboarding_Requirements</name>
        <label>Create Onboarding Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Run_Contract_Opportunity_Alignment</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Requirements</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRequirements</name>
            <value>
                <elementReference>VendorProgramRequirementRecordCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Dispatch_Setup_Complete_Communication</name>
        <label>Dispatch Setup Complete Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Run_Contract_Opportunity_Alignment</targetReference>
        </connector>
        <flowName>BLL_Onboarding_SFL_Dispatch_Communication_By_Event</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>SetupComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Dispatch_Training_Communication</name>
        <label>Dispatch Training Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Send_Setup_Complete</targetReference>
        </connector>
        <flowName>BLL_Onboarding_SFL_Dispatch_Communication_By_Event</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>LearnUponTriggered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_BRE_Setup_Complete_Gate</name>
        <label>Evaluate BRE Setup Complete Gate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Dispatch_Setup_Complete_By_BRE</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>SetupComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>CommunicationDispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BREDispatchAllowedSetupComplete</assignToReference>
            <name>DispatchAllowed</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_BRE_Training_Gate</name>
        <label>Evaluate BRE Training Gate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Dispatch_Training_By_BRE</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>LearnUponTriggered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>CommunicationDispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BREDispatchAllowedTraining</assignToReference>
            <name>DispatchAllowed</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contract_Record_For_Alignment</name>
        <label>Get Contract Record For Alignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Get_Contract_Record_For_Alignment_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contract_Records</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContractRecord</assignToReference>
            <name>ContractRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program</name>
        <label>Get Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_After_Vendor_Program</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRecord</assignToReference>
            <name>VendorProgramRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program_Requirements</name>
        <label>Get Vendor Program Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Onboarding_Requirements</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program_Requirements</flowName>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRequirementRecordCollection</assignToReference>
            <name>VPRCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Align_Onboarding_Opportunity_Fault</name>
        <label>Handle Align Onboarding Opportunity Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding opportunity alignment update failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Align_Onboarding_Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Align_Onboarding_Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_Onboarding_RCD_Logical_Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Contract_Opportunity_Missing</name>
        <label>Handle Contract Opportunity Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding contract has no related opportunity; alignment skipped.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Should_Align_Onboarding_Opportunity_From_Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Contract_Opportunity_Missing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_Onboarding_RCD_Logical_Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Get_Contract_Record_For_Alignment_Fault</name>
        <label>Handle Get Contract Record For Alignment Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding contract lookup for opportunity alignment failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Get_Contract_Record_For_Alignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Get_Contract_Record_For_Alignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_Onboarding_RCD_Logical_Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BREDispatchAllowedOnboardingCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BREDispatchAllowedSetupComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BREDispatchAllowedTraining</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExecutionPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Program_Requirement__c</objectType>
    </variables>
</Flow>
