OnboardingV2Minimal/force-app/main/default/flows/BLL_Order_RCD_Business_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Onboarding_Status_Bulk</name>
        <label>Evaluate Onboarding Status Bulk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OnboardingStatusEvaluatorInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Capture_Evaluate_Onboarding_Status_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>onboardingIds</name>
            <value>
                <elementReference>OnboardingIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>applyUpdates</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>OnboardingStatusEvaluatorInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Onboarding_Id_To_Collection</name>
        <label>Add Onboarding Id To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Evaluate_Onboarding_Status_Fault</name>
        <label>Capture Evaluate Onboarding Status Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Onboarding_Records_Found</name>
        <label>Onboarding Records Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Onboarding Records Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Onboarding_Records</targetReference>
            </connector>
            <label>Yes Onboarding Records Found</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Order Object - RCD - Business Logic</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Order - RCD - Business Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Order - RCD - Business Logic</label>
    <loops>
        <name>Loop_Onboarding_Records</name>
        <label>Loop Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Onboarding_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Onboarding_Status_Bulk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboarding_Records_Found</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <name>OnboardingRecordCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
