OnboardingV2Minimal/force-app/main/default/flows/BLL_Onboarding_RCD_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Execution_Path_Created</name>
        <label>Set Execution Path Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExecutionPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Execution_Path_Update</name>
        <label>Set Execution Path Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExecutionPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Program</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Execution_Path</name>
        <label>Determine Execution Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action Needed</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Execution_Path_Created</targetReference>
            </connector>
            <label>Onboarding Created</label>
        </rules>
        <rules>
            <name>Onboarding_Communication_Update</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Execution_Path_Update</targetReference>
            </connector>
            <label>Onboarding Communication Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Send_Setup_Complete</name>
        <label>Determine Send Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do Not Send Setup Complete</defaultConnectorLabel>
        <rules>
            <name>Setup_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_BRE_Setup_Complete_Gate</targetReference>
            </connector>
            <label>Setup Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Send_Training</name>
        <label>Determine Send Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_Send_Setup_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Training</defaultConnectorLabel>
        <rules>
            <name>LearnUpon_Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LearnUpon_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_BRE_Training_Gate</targetReference>
            </connector>
            <label>LearnUpon Triggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_After_Get_Vendor_Program</name>
        <label>Route After Get Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Route</defaultConnectorLabel>
        <rules>
            <name>Execution_Path_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExecutionPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Program_Requirements</targetReference>
            </connector>
            <label>Execution Path Created</label>
        </rules>
        <rules>
            <name>Execution_Path_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExecutionPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Send_Training</targetReference>
            </connector>
            <label>Execution Path Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Dispatch_Onboarding_Created_By_BRE</name>
        <label>Should Dispatch Onboarding Created By BRE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Blocked By BRE</defaultConnectorLabel>
        <rules>
            <name>Allowed_Onboarding_Created_BRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BREDispatchAllowedOnboardingCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Onboarding_Created_Communication</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Dispatch_Setup_Complete_By_BRE</name>
        <label>Should Dispatch Setup Complete By BRE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Blocked By BRE</defaultConnectorLabel>
        <rules>
            <name>Allowed_Setup_Complete_BRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BREDispatchAllowedSetupComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Setup_Complete_Communication</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Dispatch_Training_By_BRE</name>
        <label>Should Dispatch Training By BRE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_Send_Setup_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blocked By BRE</defaultConnectorLabel>
        <rules>
            <name>Allowed_Training_BRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BREDispatchAllowedTraining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Training_Communication</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Onboarding - RCD - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Onboarding - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Onboarding - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Execution_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Onboarding_Requirements</name>
        <label>Create Onboarding Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_BRE_Onboarding_Created_Gate</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Requirements</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRequirements</name>
            <value>
                <elementReference>VendorProgramRequirementRecordCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Dispatch_Onboarding_Created_Communication</name>
        <label>Dispatch Onboarding Created Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>BLL_Onboarding_SFL_Dispatch_Communication_By_Event</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>OnboardingCreated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Dispatch_Setup_Complete_Communication</name>
        <label>Dispatch Setup Complete Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>BLL_Onboarding_SFL_Dispatch_Communication_By_Event</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>SetupComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Dispatch_Training_Communication</name>
        <label>Dispatch Training Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Send_Setup_Complete</targetReference>
        </connector>
        <flowName>BLL_Onboarding_SFL_Dispatch_Communication_By_Event</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>LearnUponTriggered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_BRE_Onboarding_Created_Gate</name>
        <label>Evaluate BRE Onboarding Created Gate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Dispatch_Onboarding_Created_By_BRE</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>OnboardingCreated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>CommunicationDispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BREDispatchAllowedOnboardingCreated</assignToReference>
            <name>DispatchAllowed</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_BRE_Setup_Complete_Gate</name>
        <label>Evaluate BRE Setup Complete Gate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Dispatch_Setup_Complete_By_BRE</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>SetupComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>CommunicationDispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BREDispatchAllowedSetupComplete</assignToReference>
            <name>DispatchAllowed</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_BRE_Training_Gate</name>
        <label>Evaluate BRE Training Gate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Dispatch_Training_By_BRE</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>EventKey</name>
            <value>
                <stringValue>LearnUponTriggered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>CommunicationDispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BREDispatchAllowedTraining</assignToReference>
            <name>DispatchAllowed</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program</name>
        <label>Get Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_After_Get_Vendor_Program</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRecord</assignToReference>
            <name>VendorProgramRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program_Requirements</name>
        <label>Get Vendor Program Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Onboarding_Requirements</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program_Requirements</flowName>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRequirementRecordCollection</assignToReference>
            <name>VPRCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BREDispatchAllowedOnboardingCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BREDispatchAllowedSetupComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BREDispatchAllowedTraining</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExecutionPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Program_Requirement__c</objectType>
    </variables>
</Flow>
