OnboardingV2Minimal/force-app/main/default/flows/BLL_Onboarding_SCD_Review_and_Assign_Missing_Training_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_Update_Training_Assignment_Records_Fault</name>
        <label>Capture Update Training Assignment Records Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_TA_to_Be_Updated_to_Collection</name>
        <label>Add TA to Be Updated to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TAToBeUpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TAToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Assignments_Not_Assigned_to_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_to_List</name>
        <label>Assign Records to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Vendor_Customization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Selected_Opportunity_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_to_Onboarding_Record</name>
        <label>Assign Training Assignment to Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TAToBeUpdated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Assignments_Not_Assigned_to_Onboarding_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TAToBeUpdated.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Onboarding_Records_to_Update_Training_Assignments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TA_to_Be_Updated_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignments_to_List</name>
        <label>Assign Training Assignments to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Training_Assignment_Records_from_Onboarding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Assignment_Records_from_Onboarding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Triggering_Records_to_Record_Collection</name>
        <label>Assign Triggering Records to Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_We_Sorting_Through_External_Or_Internal_Training</name>
        <label>Are We Sorting Through External Or Internal Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Onboarding_Records_to_Update_Training_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Training Requirement</defaultConnectorLabel>
        <rules>
            <name>Current_Onboarding_Training_Requirement_is_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Requirement_to_Sort_Training_Required.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Training_Assignments_Not_Assigned_to_Onboarding_Record</targetReference>
            </connector>
            <label>Current Onboarding Training Requirement is External</label>
        </rules>
        <rules>
            <name>Current_Onboarding_Training_Requirement_is_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Requirement_to_Sort_Training_Required.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Onboarding_Records_to_Update_Training_Assignments</targetReference>
            </connector>
            <label>Current Onboarding Training Requirement is Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decide if Onboarding Record Vendor Customization Matches TA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Assignments_Not_Assigned_to_Onboarding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Assignments_Not_Assigned_to_Onboarding_Record.Vendor_Training_Requirement__r.Vendor_Customization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Onboarding_Records_to_Update_Training_Assignments.Vendor_Customization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Training_Assignment_to_Onboarding_Record</targetReference>
            </connector>
            <label>Yes - Match Found</label>
        </rules>
    </decisions>
    <description>BUSINESS LOGIC LAYER - Onboarding Object - Scheduled System - Review &amp; Assign Missing Training Records</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Onboarding - SCD - Review and Assign Missing Training Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Onboarding - SCD - Review &amp; Assign Missing Training Records</label>
    <loops>
        <name>Loop_Onboarding_Records</name>
        <label>Loop Onboarding Records to Collect Vendor Programs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Records_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Onboarding_Records_to_Update_Training_Assignments</name>
        <label>Loop Onboarding Records to Update Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Are_We_Sorting_Through_External_Or_Internal_Training</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Training_Requirement_to_Sort_Training_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Training_Assignment_Records_from_Onboarding</name>
        <label>Loop Training Assignment Records from Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TARecordCollectionFromOnboarding</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Training_Assignments_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Assignment_Records_Not_Assigned_to_Onboarding_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Training_Assignments_Not_Assigned_to_Onboarding_Record</name>
        <label>Loop Training Assignments Not Assigned to Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TARecordsNotAssignedToOnboardingRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Onboarding_Records_to_Update_Training_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Training Requirement to Sort External Training to Internal Training to No Training</description>
        <name>Loop_Training_Requirement_to_Sort_Training_Required</name>
        <label>Loop Training Requirement to Sort Training Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Onboarding_Records_to_Update_Training_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Training_Assignment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Training_Assignment_Records</name>
        <label>Update Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Capture_Update_Training_Assignment_Records_Fault</targetReference>
        </faultConnector>
        <inputReference>TAToBeUpdatedCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Triggering_Records_to_Record_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LearnUpon_Training_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-22</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Training_Assignment_Records_from_Onboarding_Records</name>
        <label>Get Training Assignment Records from Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Training_Assignment_Records_from_Onboarding</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Training_Assignment_Records</flowName>
        <inputAssignments>
            <name>OnboardingRecordList</name>
            <value>
                <elementReference>OnboardingRecordList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TARecordCollectionFromOnboarding</assignToReference>
            <name>TrainingAssignmentRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Training_Assignment_Records_Not_Assigned_to_Onboarding_Records</name>
        <label>Get Training Assignment Records Not Assigned to Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Training_Requirement_to_Sort_Training_Required</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Training_Assignment_Records</flowName>
        <inputAssignments>
            <name>ContactRecordList</name>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrainingAssignmentList</name>
            <value>
                <elementReference>TrainingAssignmentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TARecordsNotAssignedToOnboardingRecord</assignToReference>
            <name>TrainingAssignmentRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Training_Requirements</name>
        <label>Get Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Training_Assignment_Records_from_Onboarding_Records</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Training_Requirement_Records</flowName>
        <inputAssignments>
            <name>VendorProgramList</name>
            <value>
                <elementReference>VendorProgramRecordList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TrainingRequirementRecordCollection</assignToReference>
            <name>TrainingRequirementRecordCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LUContactEnrollmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TARecordCollectionFromOnboarding</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TARecordsNotAssignedToOnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TAToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TAToBeUpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
