OnboardingV2Minimal/force-app/main/default/flows/BLL_Order_RCD_Business_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Onboarding_Status_to_Setup_Complete</name>
        <label>Set Onboarding Status to Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Onboarding_Records.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setup Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOnboardingRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Onboarding_Records_Found</name>
        <label>Onboarding Records Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Onboarding Records Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Onboarding_Records</targetReference>
            </connector>
            <label>Yes Onboarding Records Found</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Order Object - RCD - Business Logic</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Order - RCD - Business Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Order - RCD - Business Logic</label>
    <loops>
        <name>Loop_Onboarding_Records</name>
        <label>Loop Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Onboarding_Status_to_Setup_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Onboarding_Status</name>
        <label>Update Onboarding Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>UpdatedOnboardingRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboarding_Records_Found</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <name>OnboardingRecordCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>UpdatedOnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
