OnboardingV2Minimal/force-app/main/default/flows/BLL_Onboarding_SFL_Dispatch_Communication_By_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agent_Cache_To_Current</name>
        <label>Assign Agent Cache To Current</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecipientIdCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentRecipientIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Cache_To_Current</name>
        <label>Assign Contact Cache To Current</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecipientIdCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecipientIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Cache_To_Current</name>
        <label>Assign Input Cache To Current</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecipientIdCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRecipientIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PrincipalOwner_Cache_To_Current</name>
        <label>Assign Principal Owner Cache To Current</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecipientIdCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrincipalOwnerRecipientIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Send_Result</name>
        <label>Reset Send Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SendFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Communication_Template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Recipient_Cache_Strategy</name>
        <label>Determine Recipient Cache Strategy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Build Recipient Cache From Templates</defaultConnectorLabel>
        <rules>
            <name>Use_Input_Recipient_Type_for_Cache</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Input_Recipients</targetReference>
            </connector>
            <label>Use Input Recipient Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Recipient_Collection_for_Template</name>
        <label>Determine Recipient Collection for Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Cache_To_Current</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact (Default)</defaultConnectorLabel>
        <rules>
            <name>Use_Input_Recipient_Type_for_Template_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Cache_To_Current</targetReference>
            </connector>
            <label>Use Input Recipient Type</label>
        </rules>
        <rules>
            <name>Template_Recipient_PrincipalOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Communication_Templates.Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PrincipalOwner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PrincipalOwner_Cache_To_Current</targetReference>
            </connector>
            <label>Template Recipient Principal Owner</label>
        </rules>
        <rules>
            <name>Template_Recipient_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Communication_Templates.Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agent_Cache_To_Current</targetReference>
            </connector>
            <label>Template Recipient Agent</label>
        </rules>
        <rules>
            <name>Template_Recipient_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Communication_Templates.Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Cache_To_Current</targetReference>
            </connector>
            <label>Template Recipient Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Vendor_Program_Source</name>
        <label>Determine Vendor Program Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Vendor_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup Vendor Program</defaultConnectorLabel>
        <rules>
            <name>Vendor_Program_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgramRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Communication_Templates</targetReference>
            </connector>
            <label>Vendor Program Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Dispatch_Template</name>
        <label>Should Dispatch Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Communication_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blocked</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispatchAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Recipient_Collection_for_Template</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Queue_Communication_Fault</name>
        <label>Should Queue Communication Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Recipient_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Fault_Detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendFailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Communication_Fault</targetReference>
            </connector>
            <label>Fault Detected</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Onboarding - SFL - Dispatch Communication By Context</description>
    <environments>Default</environments>
    <formulas>
        <name>DispatchIdempotencyKey</name>
        <dataType>String</dataType>
        <expression>{!OnboardingRecord.Id} &amp; &quot;|&quot; &amp;
{!CommunicationType} &amp; &quot;|&quot; &amp;
{!ResolvedRecipientType} &amp; &quot;|&quot; &amp;
{!Loop_Communication_Templates.Id} &amp; &quot;|&quot; &amp;
{!Loop_Recipient_Ids}</expression>
    </formulas>
    <formulas>
        <name>ResolvedRecipientType</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!RecipientType})),
    {!RecipientType} &lt;&gt; &quot;&quot;
  ),
  {!RecipientType},
  IF(
    TEXT({!Loop_Communication_Templates.Recipient_Type__c}) = &quot;&quot;,
    &quot;Contact&quot;,
    TEXT({!Loop_Communication_Templates.Recipient_Type__c})
  )
)</expression>
    </formulas>
    <interviewLabel>BLL - Onboarding - SFL - Dispatch Communication By Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Onboarding - SFL - Dispatch Communication By Context</label>
    <loops>
        <name>Loop_Communication_Templates</name>
        <label>Loop Communication Templates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CommunicationTemplateRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Communication_Dispatch_Policy</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Recipient_Ids</name>
        <label>Loop Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CurrentRecipientIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Send_Result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Communication_Templates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Vendor_Program_Source</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Agent_Recipients</name>
        <label>Get Agent Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Communication_Templates</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Communication_Recipients</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AgentRecipientIdCollection</assignToReference>
            <name>RecipientIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Communication_Dispatch_Policy</name>
        <label>Get Communication Dispatch Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Dispatch_Template</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Communication_Dispatch_Policy</flowName>
        <inputAssignments>
            <name>CommunicationType</name>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientType</name>
            <value>
                <elementReference>ResolvedRecipientType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DispatchAllowed</assignToReference>
            <name>DispatchAllowed</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Communication_Templates</name>
        <label>Get Communication Templates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Recipient_Cache_Strategy</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Communication_Templates</flowName>
        <inputAssignments>
            <name>CommunicationType</name>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientType</name>
            <value>
                <elementReference>RecipientType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CommunicationTemplateRecordCollection</assignToReference>
            <name>CommunicationTemplateRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Recipients</name>
        <label>Get Contact Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PrincipalOwner_Recipients</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Communication_Recipients</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecipientIdCollection</assignToReference>
            <name>RecipientIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Input_Recipients</name>
        <label>Get Input Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Communication_Templates</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Communication_Recipients</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientType</name>
            <value>
                <elementReference>RecipientType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>InputRecipientIdCollection</assignToReference>
            <name>RecipientIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_PrincipalOwner_Recipients</name>
        <label>Get Principal Owner Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agent_Recipients</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Communication_Recipients</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientType</name>
            <value>
                <stringValue>PrincipalOwner</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PrincipalOwnerRecipientIdCollection</assignToReference>
            <name>RecipientIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program</name>
        <label>Get Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Communication_Templates</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRecord</assignToReference>
            <name>VendorProgramRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Queue_Communication_Fault</name>
        <label>Handle Communication Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Recipient_Ids</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>DispatchIdempotencyKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Communication dispatch failed in async flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>SendErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Send_Communication_Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_Onboarding_SFL_Dispatch_Communication_By_Context</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SendErrorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Communication_Template</name>
        <label>Send Communication Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Queue_Communication_Fault</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_ACTION_Send_Communication_Template</flowName>
        <inputAssignments>
            <name>CommunicationTemplateRecord</name>
            <value>
                <elementReference>Loop_Communication_Templates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientId</name>
            <value>
                <elementReference>Loop_Recipient_Ids</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SendErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SendFailed</assignToReference>
            <name>SendFailed</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AgentRecipientIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationTemplateRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communication_Template__c</objectType>
    </variables>
    <variables>
        <name>CommunicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecipientIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRecipientIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRecipientIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>PrincipalOwnerRecipientIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
