OnboardingV2Minimal/force-app/main/default/flows/BLL_External_Contact_Credential_RCD_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Account_Record</name>
        <label>Has Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Account Record</defaultConnectorLabel>
        <rules>
            <name>Account_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Records</targetReference>
            </connector>
            <label>Account Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contact_Record</name>
        <label>Has Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Contact Record</defaultConnectorLabel>
        <rules>
            <name>Contact_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ECC_Record</targetReference>
            </connector>
            <label>Contact Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Signer_of_Contract</name>
        <label>Is Contact Signer of Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Contact is Not Signer of Contract</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_is_Signer_of_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Opportunity__r.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.POE_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Required_Steps</targetReference>
            </connector>
            <label>Yes - Contact is Signer of Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ECC_Record_SSO_ID</name>
        <label>Is ECC Record SSO ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_ECC_Process_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Trigger is not SSO ID</defaultConnectorLabel>
        <rules>
            <name>Yes_ECC_Record_is_SSO_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Contact_Credential_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSO ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_SSO_ID_Setup_Complete</targetReference>
            </connector>
            <label>Yes - ECC Record is SSO ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SSO_ID_Setup_Complete</name>
        <label>Is SSO ID Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - SSO ID</defaultConnectorLabel>
        <rules>
            <name>Yes_SSO_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POE_Process_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Yes - SSO ID</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - External Contact Credential Object - Record Trigger - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - External Contact Credential - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - External Contact Credential - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Sent_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>POE_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verizon Fios D2D</stringValue>
            </value>
        </filters>
        <object>POE_External_Contact_Credential__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Execute_Required_Steps</name>
        <label>Execute Required Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_Send_Email_Communication</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExternalContactCredential</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Account_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Account_Record</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecord</assignToReference>
            <name>AccountRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Contact_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contact_Record</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.POE_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_Signer_of_Contract</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>AccountRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Contact_ECC_Record</name>
        <label>Update Contact ECC Fields Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ECC_Record_SSO_ID</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Contact_Fields_with_ECC_Information</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ECCRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ECCRecordTypeName</name>
            <value>
                <elementReference>$Record.External_Contact_Credential_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_ECC_Process_Status</name>
        <label>Update ECC Process Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Process_Status_Per_Business</flowName>
        <inputAssignments>
            <name>ECCRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
