OnboardingV2Minimal/force-app/main/default/flows/BLL_Contact_Training_Assignment_RCD_Update_Related_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Business Logic Layer - Contact Training Assignment Object - Record Trigger - Update Related Records</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Contact Training Assignment - RCD - Update Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Contact Training Assignment - RCD - Update Related Records</label>
    <orchestratedStages>
        <name>Get_External_Contact_Credentials</name>
        <label>Get External Contact Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Onboarding_Records</name>
            <actionName>DOMAIN_Onboarding_SFL_Get_Records</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>TrainingAssignmentRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Get Onboarding Records</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Onboarding_Record_Flow</name>
            <actionName>DOMAIN_Onboarding_SFL_Update_Onboarding_Record_s_Training_Status</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>LearnUponContactEnrollmentRecord</name>
            </inputParameters>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>Get_Onboarding_Records.Outputs.OnboardingRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TrainingAssignmentRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Update Onboarding Record Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_External_Contact_Credentials</targetReference>
        </connector>
        <object>Training_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
