OnboardingV2Minimal/force-app/main/default/flows/BLL_OmniSObject_RCD_SYNC_Training_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Changed_Onboarding_Requirements_Bulk</name>
        <label>Evaluate Changed Onboarding Requirements Bulk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OnbReqParentBulkEvalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_Evaluate_Changed_Onboarding_Requirement_Fail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Capture_Evaluate_Changed_Onboarding_Requirement_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>onboardingRequirementIds</name>
            <value>
                <elementReference>ChangedOnboardingRequirementIdCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnbReqParentBulkEvalInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>parentEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Changed_Onboarding_Requirement_Ids_From_Account</name>
        <label>Add Changed Onboarding Requirement Ids From Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangedOnboardingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subjectEvaluatorChangedRequirementIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Changed_Onboarding_Requirement_Ids_From_Account_From_Collection</name>
        <label>Add Changed Onboarding Requirement Ids From Account From Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangedOnboardingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subjectEvaluatorChangedRequirementIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record_From_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Changed_Onboarding_Requirement_Ids_From_Contact</name>
        <label>Add Changed Onboarding Requirement Ids From Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangedOnboardingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subjectEvaluatorChangedRequirementIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Onboarding_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Evaluate_Changed_Onboarding_Requirement_Fault</name>
        <label>Capture Evaluate Changed Onboarding Requirement Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parentEvaluatorErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Evaluate_Changed_Onboarding_Requirement_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Onboarding_Sync_Error_Message</name>
        <label>Reset Onboarding Sync Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Parent_Evaluator_Error_Message</name>
        <label>Reset Parent Evaluator Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parentEvaluatorErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Changed_Onboarding_Requirements_Bulk</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Evaluate_Changed_Onboarding_Requirement_Fail</name>
        <label>Did Evaluate Changed Onboarding Requirement Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Changed_Onboarding_Requirement_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evaluate_Changed_Onboarding_Requirement_Fault</targetReference>
            </connector>
            <label>Evaluate Changed Onboarding Requirement Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Evaluate_Training_Subjects_By_Account_Fail</name>
        <label>Did Evaluate Training Subjects By Account Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Changed_Onboarding_Requirement_Ids_From_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Training_Subjects_By_Account_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evaluate_Training_Subjects_By_Account_Fault</targetReference>
            </connector>
            <label>Evaluate Training Subjects By Account Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Evaluate_Training_Subjects_By_Account_From_Collection_Fail</name>
        <label>Did Evaluate Training Subjects By Account From Collection Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Changed_Onboarding_Requirement_Ids_From_Account_From_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Training_Subjects_By_Account_From_Collection_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evaluate_Training_Subjects_By_Account_From_Collection_Fault</targetReference>
            </connector>
            <label>Evaluate Training Subjects By Account From Collection Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Evaluate_Training_Subjects_By_Contact_Fail</name>
        <label>Did Evaluate Training Subjects By Contact Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Changed_Onboarding_Requirement_Ids_From_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Training_Subjects_By_Contact_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evaluate_Training_Subjects_By_Contact_Fault</targetReference>
            </connector>
            <label>Evaluate Training Subjects By Contact Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Update_Onboarding_Record_Fail</name>
        <label>Did Update Onboarding Record Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Changed_Onboarding_Requirement_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Update_Onboarding_Record_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Update_Onboarding_Record_Fault</targetReference>
            </connector>
            <label>Update Onboarding Record Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Update_Onboarding_Record_From_Collection_Fail</name>
        <label>Did Update Onboarding Record From Collection Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Onboarding_Record_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Update_Onboarding_Record_From_Collection_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Update_Onboarding_Record_From_Collection_Fault</targetReference>
            </connector>
            <label>Update Onboarding Record From Collection Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Changed_Onboarding_Requirement_Ids</name>
        <label>Has Changed Onboarding Requirement Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Parent Evaluations Needed</defaultConnectorLabel>
        <rules>
            <name>Changed_Onboarding_Requirement_Ids_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangedOnboardingRequirementIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChangedOnboardingRequirementIdCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Parent_Evaluator_Error_Message</targetReference>
            </connector>
            <label>Changed Onboarding Requirement Ids Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Onboarding_Record_Collection</name>
        <label>Has Onboarding Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Evaluate_Account_Subjects_For_Single_Onboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fallback to Single Onboarding Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Onboarding_Record_Collection</targetReference>
            </connector>
            <label>Yes - Update Each Onboarding Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Evaluate_Account_Subjects_For_Onboarding_Collection</name>
        <label>Should Evaluate Account Subjects For Onboarding Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Onboarding_Record_From_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Fallback Needed</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Account_Subjects_For_Onboarding_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorMatchedSubjectCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Onboarding_Record_Collection.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Training_Subjects_By_Account_From_Collection</targetReference>
            </connector>
            <label>Evaluate Account Subjects For Onboarding Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Evaluate_Account_Subjects_For_Single_Onboarding</name>
        <label>Should Evaluate Account Subjects For Single Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Onboarding_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Fallback Needed</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Account_Subjects_For_Single_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorMatchedSubjectCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Training_Subjects_By_Account</targetReference>
            </connector>
            <label>Evaluate Account Subjects For Single Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Process_Training_Assignment_Change</name>
        <label>Should Process Training Assignment Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Relevant Change</defaultConnectorLabel>
        <rules>
            <name>Relevant_Field_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Records</targetReference>
            </connector>
            <label>Relevant Field Change</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - OmniSObject - Record Trigger - SYNC - Training Assignments</description>
    <environments>Default</environments>
    <interviewLabel>BLL - OmniSObject - RCD - Sync Training Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - OmniSObject - RCD - SYNC - Training Assignments</label>
    <loops>
        <name>Loop_Onboarding_Record_Collection</name>
        <label>Loop Onboarding Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_Evaluate_Account_Subjects_For_Onboarding_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Changed_Onboarding_Requirement_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Process_Training_Assignment_Change</targetReference>
        </connector>
        <object>Training_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Training_Subjects_By_Account</name>
        <label>Evaluate Training Subjects By Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evaluate_Training_Subjects_By_Account_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorChangedRequirementIdCollection</assignToReference>
            <name>ChangedOnboardingRequirementIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_Training_Subjects_By_Account_From_Collection</name>
        <label>Evaluate Training Subjects By Account From Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evaluate_Training_Subjects_By_Account_From_Collection_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorChangedRequirementIdCollection</assignToReference>
            <name>ChangedOnboardingRequirementIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_Training_Subjects_By_Contact</name>
        <label>Evaluate Training Subjects By Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evaluate_Training_Subjects_By_Contact_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorMatchedSubjectCount</assignToReference>
            <name>MatchedSubjectCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorChangedRequirementIdCollection</assignToReference>
            <name>ChangedOnboardingRequirementIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Training_Subjects_By_Contact</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>TrainingAssignmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <name>OnboardingRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Evaluate_Changed_Onboarding_Requirement_Fault</name>
        <label>Handle Evaluate Changed Onboarding Requirement Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding requirement parent evaluation failed after training subject updates.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>parentEvaluatorErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogWithoutOnboarding</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Evaluate_Changed_Onboarding_Requirements_Bulk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Evaluate_Changed_Onboarding_Requirements_Bulk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_OmniSObject_RCD_SYNC_Training_Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Evaluate_Training_Subjects_By_Account_Fault</name>
        <label>Handle Evaluate Training Subjects By Account Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Onboarding_Records</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Training assignment account-subject evaluation failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>subjectEvaluatorErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Evaluate_Training_Subjects_By_Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Evaluate_Training_Subjects_By_Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_OmniSObject_RCD_SYNC_Training_Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Evaluate_Training_Subjects_By_Account_From_Collection_Fault</name>
        <label>Handle Evaluate Training Subjects By Account From Collection Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Onboarding_Record_From_Collection</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Training assignment account-subject evaluation failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>subjectEvaluatorErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Evaluate_Training_Subjects_By_Account_From_Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Evaluate_Training_Subjects_By_Account_From_Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_OmniSObject_RCD_SYNC_Training_Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Evaluate_Training_Subjects_By_Contact_Fault</name>
        <label>Handle Evaluate Training Subjects By Contact Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Onboarding_Record_Collection</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Training assignment subject evaluation failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>subjectEvaluatorErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogWithoutOnboarding</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Evaluate_Training_Subjects_By_Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Evaluate_Training_Subjects_By_Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_OmniSObject_RCD_SYNC_Training_Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Update_Onboarding_Record_Fault</name>
        <label>Handle Update Onboarding Record Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding training assignment sync failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Update_Onboarding_Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Update_Onboarding_Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_OmniSObject_RCD_SYNC_Training_Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Update_Onboarding_Record_From_Collection_Fault</name>
        <label>Handle Update Onboarding Record From Collection Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Onboarding_Sync_Error_Message</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding training assignment sync failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Update_Onboarding_Record_From_Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Update_Onboarding_Record_From_Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_OmniSObject_RCD_SYNC_Training_Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Onboarding_Record_From_Collection</name>
        <label>Update Onboarding Record From Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Update_Onboarding_Record_From_Collection_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Record</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrainingAssignmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Onboarding_Records</name>
        <label>Update Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Update_Onboarding_Record_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Record</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrainingAssignmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ChangedOnboardingRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>parentEvaluatorErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEvaluatorChangedRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEvaluatorErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEvaluatorMatchedSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
