OnboardingV2Minimal/force-app/main/default/flows/BLL_LearnUpon_Portal_Membership_SCD_Review_Update_Portal_Memberships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Onboarding_Record_to_OnboardingRecordList</name>
        <label>Assign Onboarding Record to OnboardingRecordList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_LearnUponContactEnrollments.Onboarding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LearnUponContactEnrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_to_Respective_Lists</name>
        <label>Assign Records to Respective Lists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_Onboarding_Records.Vendor_Customization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_LearnUpon_Portal_Membership</name>
        <label>Assignment LearnUpon Portal Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LearnUponPortalmembership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LU_Portal_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_LU_Portal_Membership_Contacts</name>
        <label>Create LU Portal Membership Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_LU_Portal_Memberships.LearnUponP__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LU_Portal_Memberships</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Onboarding_Records_Where_Training_is_Not_Started</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Onboarding Records Where Training is Not Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Onboarding_Records_Where_Training_is_Not_Started</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Onboarding_Records_Where_Training_is_Not_Started.LearnUpon_Training_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Not Started</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Onboarding_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Training_Requirements_Where_Type_is_Internal</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Training Requirements Where Type is Internal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Training_Requirements_Where_Type_is_Internal</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Training_Requirements_Where_Type_is_Internal.Training_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Internal</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Training_Requirements</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Does the LearnUpon Portal Membership SF Contact ID Matches Onboarding Opportunity Selected Contact</description>
        <name>Compare_LU_SF_Contact_Id_to_Onboarding_c_Selected_Opportunity_Contact_c</name>
        <label>Compare LU SF Contact.Id to Onboarding__c.Selected_Opportunity_Contact__c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_LearnUpon_Portal_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, we do not have a match</defaultConnectorLabel>
        <rules>
            <name>Yes_Contacts_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_LearnUpon_Portal_Memberships.LearnUponP__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Filtered_Onboarding_Records_For_Assignment.Opportunity__r.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Onboarding_c_Vendor_Customization_c_to_Training_Assignment_c_Vendor_Prog</targetReference>
            </connector>
            <label>Yes - Contacts Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Onboarding Vendor Program Match the Training Assignment Vendor Program</description>
        <name>Compare_Onboarding_c_Vendor_Customization_c_to_Training_Assignment_c_Vendor_Prog</name>
        <label>Compare Onboarding__c.Vendor_Customization__c to Training_Assignment__c.Vendor_Program__c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_LearnUpon_Portal_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, we do not have a match</defaultConnectorLabel>
        <rules>
            <name>Yes_Vendor_Programs_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Filtered_Onboarding_Records_For_Assignment.Vendor_Customization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Filtered_Training_Requirements.Vendor_Customization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts_Till_We_Get_Right_Contact</targetReference>
            </connector>
            <label>Yes - Vendor Programs Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Contact_Ids_Match</name>
        <label>Do Contact Ids Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Contacts_Till_We_Get_Right_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Try Again</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Ids_Match_Contact_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contacts_Till_We_Get_Right_Contact.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_LearnUpon_Portal_Memberships.LearnUponP__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Training_Id</targetReference>
            </connector>
            <label>Yes - Contact Ids Match Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Created_Yesterday</name>
        <label>Record Created Yesterday</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Record Created Today</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Created_Yesterday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CreatedDateYesterday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_LearnUpon_Portal_Membership</targetReference>
            </connector>
            <label>Yes - Record Created Yesterday</label>
        </rules>
    </decisions>
    <description>BUSINESS LOGICAL LAYER - LearnUpon Portal Membership Object - Scheduled - Review &amp; Update Portal Memberships</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDateYesterday</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-1</expression>
    </formulas>
    <interviewLabel>BLL - LearnUpon Portal Membership - SCD - Review &amp; Update Portal Memberships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - LearnUpon Portal Membership - SCD - Review &amp; Update Portal Memberships</label>
    <loops>
        <name>Loop_Contacts_Till_We_Get_Right_Contact</name>
        <label>Loop Contacts Till We Get Right Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContactRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_Contact_Ids_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_LearnUpon_Portal_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Onboarding_Records</name>
        <label>Loop Filtered Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Onboarding_Records_Where_Training_is_Not_Started</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Records_to_Respective_Lists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Onboarding_Records_For_Assignment</name>
        <label>Loop Filtered Onboarding Records for Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Onboarding_Records_Where_Training_is_Not_Started</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_LearnUpon_Portal_Memberships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Filtered_Training_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Training_Requirements</name>
        <label>Loop Filtered Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Training_Requirements_Where_Type_is_Internal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Filtered_Onboarding_Records_For_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_LearnUpon_Portal_Memberships</name>
        <label>Loop LearnUpon Portal Memberships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LearnUponPortalmembership</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_LU_SF_Contact_Id_to_Onboarding_c_Selected_Opportunity_Contact_c</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Filtered_Onboarding_Records_For_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This is to collect Onboarding Records so we do not assign LearnUponContactEnrollments to already assigned Onboarding Records</description>
        <name>Loop_LearnUponContactEnrollments</name>
        <label>Loop LearnUponContactEnrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LUCERecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Onboarding_Record_to_OnboardingRecordList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_LU_Portal_Memberships</name>
        <label>Loop LU Portal Memberships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LearnUponPortalmembership</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_LU_Portal_Membership_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Created_Yesterday</targetReference>
        </connector>
        <object>LearnUponP__LearnUpon_Portal_Membership__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-22</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Group_Training_Id</name>
        <label>Assign Group Training Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Contacts_Till_We_Get_Right_Contact</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_LearnUpon_Group_Membership</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>Loop_Contacts_Till_We_Get_Right_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>Loop_Filtered_Onboarding_Records_For_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorTrainingRequirementRecord</name>
            <value>
                <elementReference>Loop_Filtered_Training_Requirements</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLearnUponContactEnrollments</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_All_Related_Records</flowName>
        <inputAssignments>
            <name>ContactRecordList</name>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecordCollection</assignToReference>
            <name>ContactRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Onboarding_Records_Where_Training_is_Not_Started</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>FindNotIncludedValues</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecordCollection</name>
            <value>
                <elementReference>OpportunityRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <name>OnboardingRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Records</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Opportunity_Record</flowName>
        <inputAssignments>
            <name>OpportunityContactRoleCollection</name>
            <value>
                <elementReference>OpportunityContactRoleCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityRecordCollection</assignToReference>
            <name>OpportunityRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Opportunity_Contacts</name>
        <label>Get Opportunity Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Primary_Opportunity_Contact</flowName>
        <inputAssignments>
            <name>ContactRecordList</name>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityContactRoleCollection</assignToReference>
            <name>OpportunityContactRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Training_Requirements</name>
        <label>Get Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Training_Requirements_Where_Type_is_Internal</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Training_Requirement_Records</flowName>
        <inputAssignments>
            <name>VendorProgramList</name>
            <value>
                <elementReference>VendorProgramList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TrainingRequirementRecordCollection</assignToReference>
            <name>TrainingRequirementRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetLearnUponContactEnrollments</name>
        <label>Get Learn Upon Contact Enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_LearnUponContactEnrollments</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_LearnUponContactEnrollment_Records</flowName>
        <inputAssignments>
            <name>ContactRecordList</name>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FilterOutCompletedOrPassed</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LUCERecordCollection</assignToReference>
            <name>LUCERecordCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Onboarding_Records_Where_Training_is_Not_Started</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Training_Requirements_Where_Type_is_Internal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>LearnUponPortalmembership</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUpon_Portal_Membership__c</objectType>
    </variables>
    <variables>
        <name>LUCERecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityContactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
