OnboardingV2Minimal/force-app/main/default/flows/BLL_Vendor_Program_Requirement_RCD_Enforce_Contract_Agreement_Sequence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Reject_Invalid_Contract_Agreement_Sequence</name>
        <label>Reject Invalid Contract Agreement Sequence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Contract sequence must be lower than Agreement sequence for this Vendor Program.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decide_If_Sequence_Is_Invalid</name>
        <label>Decide If Sequence Is Invalid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Sequence Is Valid</defaultConnectorLabel>
        <rules>
            <name>Agreement_Sequence_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAgreementSequenceInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Invalid_Contract_Agreement_Sequence</targetReference>
            </connector>
            <label>Agreement Sequence Invalid</label>
        </rules>
        <rules>
            <name>Contract_Sequence_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsContractSequenceInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Invalid_Contract_Agreement_Sequence</targetReference>
            </connector>
            <label>Contract Sequence Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_If_Validation_Applies</name>
        <label>Decide If Validation Applies</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Validation Needed</defaultConnectorLabel>
        <rules>
            <name>Type_is_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendor_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requirement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Requirement</targetReference>
            </connector>
            <label>Type is Agreement</label>
        </rules>
        <rules>
            <name>Type_is_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendor_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requirement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Requirement</targetReference>
            </connector>
            <label>Type is Contract</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Vendor Program Requirement - Record Trigger - Enforce Contract before Agreement sequence</description>
    <environments>Default</environments>
    <formulas>
        <name>IsAgreementSequenceInvalid</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    TEXT({!$Record.Requirement_Type__c}) = &quot;Agreement&quot;,
    NOT(ISBLANK({!$Record.Sequence__c})),
    NOT(ISBLANK({!Get_Contract_Requirement.Id})),
    NOT(ISBLANK({!Get_Contract_Requirement.Sequence__c})),
    {!$Record.Sequence__c} &lt;= {!Get_Contract_Requirement.Sequence__c}
)</expression>
    </formulas>
    <formulas>
        <name>IsContractSequenceInvalid</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    TEXT({!$Record.Requirement_Type__c}) = &quot;Contract&quot;,
    NOT(ISBLANK({!$Record.Sequence__c})),
    NOT(ISBLANK({!Get_Agreement_Requirement.Id})),
    NOT(ISBLANK({!Get_Agreement_Requirement.Sequence__c})),
    {!$Record.Sequence__c} &gt;= {!Get_Agreement_Requirement.Sequence__c}
)</expression>
    </formulas>
    <interviewLabel>BLL - Vendor Program Requirement - RCD - Enforce Contract Agreement Sequence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Vendor Program Requirement - RCD - Enforce Contract Agreement Sequence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agreement_Requirement</name>
        <label>Get Agreement Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_If_Sequence_Is_Invalid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requirement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Program_Requirement__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Requirement</name>
        <label>Get Contract Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agreement_Requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requirement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Program_Requirement__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_If_Validation_Applies</targetReference>
        </connector>
        <object>Vendor_Program_Requirement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
