OnboardingV2Minimal/force-app/main/default/flows/BLL_Agreement_RCD_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Did_Evaluate_Agreement_Subjects_Fail</name>
        <label>Did Evaluate Agreement Subjects Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Agreement_Subjects_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evaluate_Agreement_Subjects_Fault</targetReference>
            </connector>
            <label>Evaluate Agreement Subjects Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Get_Onboarding_Record_Fail</name>
        <label>Did Get Onboarding Record Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Agreement_Signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Get_Onboarding_Record_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Get_Onboarding_Record_Fault</targetReference>
            </connector>
            <label>Get Onboarding Record Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_Signed</name>
        <label>Is Agreement Signed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Agreement_Subjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agreement Is Not Signed or Is NDA</defaultConnectorLabel>
        <rules>
            <name>Agreement_is_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.echosign_dev1__Contract__r.Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LearnUpon_Training_Assignment_Process</targetReference>
            </connector>
            <label>Agreement is Signed</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Agreement Object - Record Trigger - Logic Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Agreement - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Agreement - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>echosign_dev1__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>echosign_dev1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out for Signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>echosign_dev1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <object>echosign_dev1__SIGN_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Onboarding_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Agreement_Subjects</name>
        <label>Evaluate Agreement Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evaluate_Agreement_Subjects_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>$Record.echosign_dev1__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Record</name>
        <label>Get Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Get_Onboarding_Record_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>AgreementRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Evaluate_Agreement_Subjects_Fault</name>
        <label>Handle Evaluate Agreement Subjects Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Agreement subject evaluation failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Evaluate_Agreement_Subjects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Evaluate_Agreement_Subjects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_Agreement_RCD_Logical_Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Get_Onboarding_Record_Fault</name>
        <label>Handle Get Onboarding Record Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Agreement onboarding lookup failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Get_Onboarding_Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Get_Onboarding_Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>BLL_Agreement_RCD_Logical_Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LearnUpon_Training_Assignment_Process</name>
        <label>LearnUpon Training Assignment Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Agreement_Subjects</targetReference>
        </connector>
        <flowName>BLL_LearnUpon_SFL_Logical_Process</flowName>
        <inputAssignments>
            <name>AgreementRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>LearnUponPortalMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUpon_Portal_Membership__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>TrainnigRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
