OnboardingV2Minimal/force-app/main/default/flows/BLL_Onboarding_Requirement_RCD_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Normalized_Status_To_Onboarding</name>
        <label>Assign Normalized Status to Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NormalizedStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Onboarding_Record_Found_And_Needs_Update</name>
        <label>Onboarding Record Found and Needs Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NormalizedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Normalized_Status_To_Onboarding</targetReference>
            </connector>
            <label>Ready to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Evaluate_Normalization</name>
        <label>Should Evaluate Normalization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Relevant Change</defaultConnectorLabel>
        <rules>
            <name>On_Create_Status_Changed_Override_Changed_Requirement_Type_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Overridden__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requirement_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Business_Rules</targetReference>
            </connector>
            <label>On Create, Status Changed, Override Changed, Requirement Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Propagate_Normalized_Status</name>
        <label>Should Propagate Normalized Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Has_Normalized_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NormalizedStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NormalizedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Record</targetReference>
            </connector>
            <label>Has Normalized Status</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - Onboarding Requirement - RCD - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>BLL - Onboarding Requirement - RCD - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - Onboarding Requirement - RCD - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>OnboardingRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Evaluate_Normalization</targetReference>
        </connector>
        <object>Onboarding_Requirement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Business_Rules</name>
        <label>Evaluate Business Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Propagate_Normalized_Status</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>OnboardingStatusNormalization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <elementReference>$Record.Requirement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StatusRuleActive</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsOverridden</name>
            <value>
                <elementReference>$Record.Is_Overridden__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementStatus</name>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NormalizedStatus</assignToReference>
            <name>NormalizedStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Record</name>
        <label>Get Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboarding_Record_Found_And_Needs_Update</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>OnboardingRequirementRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>NormalizedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
