OnboardingV2Minimal/force-app/main/default/flows/BLL_LearnUpon_SFL_Logical_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_LearnUponPortalMembership_Already_Exist</name>
        <label>Does LearnUponPortalMembership Already Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_LearnUpon_Portal_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponPortalMembership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LearnUpon_Contact_Enrollment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Onboarding_Record_Require_LearnUpon</name>
        <label>Does Onboarding Record Require LearnUpon</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Training System is Not LearnUpon</defaultConnectorLabel>
        <rules>
            <name>Yes_LearnUpon_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainnigRequirementRecord.Training_System__r.System_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_LearnUponPortalMembership_Already_Exist</targetReference>
            </connector>
            <label>Yes - LearnUpon Required</label>
        </rules>
    </decisions>
    <description>Business Logic Layer - LearnUpon - SFL - Logical Process</description>
    <environments>Default</environments>
    <interviewLabel>Business Logic Layer - LearnUpon - SFL - Logical Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLL - LearnUpon - SFL - Logical Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_LearnUpon_Contact_Enrollment</name>
        <label>Create LearnUpon Contact Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_LearnUponContactEnrollment</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LearnUponPortalMembershipRecord</name>
            <value>
                <elementReference>LearnUponPortalMembership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrainingRequirementRecord</name>
            <value>
                <elementReference>TrainnigRequirementRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_LearnUpon_Portal_Membership</name>
        <label>Create LearnUpon Portal Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_LearnUpon_Contact_Enrollment</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_LearnUpon_Contact_Enrollment_Membership_Record</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LearnUponPortalMembership</assignToReference>
            <name>LearnUponPortalMembership</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LearnUpon_Portal_Membership</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contact_Record</flowName>
        <inputAssignments>
            <name>OpportunityContactRole</name>
            <value>
                <elementReference>OpportunityContactRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Program</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contract_Records</flowName>
        <inputAssignments>
            <name>AgreementRecord</name>
            <value>
                <elementReference>AgreementRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContractRecord</assignToReference>
            <name>ContractRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_LearnUpon_Portal_Membership</name>
        <label>Get LearnUpon Portal Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Training_Requirement</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_LearnUpon_Portal_Membership</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LearnUponPortalMembership</assignToReference>
            <name>LearnUponPortalMembership</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Record</name>
        <label>Get Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>AgreementRecord</name>
            <value>
                <elementReference>AgreementRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Opportunity_Contact</name>
        <label>Get Opportunity Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Primary_Opportunity_Contact</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityContactRecord</assignToReference>
            <name>OpportunityContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Training_Requirement</name>
        <label>Get Training Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Onboarding_Record_Require_LearnUpon</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Training_Requirement_Records</flowName>
        <inputAssignments>
            <name>VendorProgramRecord</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TrainnigRequirementRecord</assignToReference>
            <name>TrainingRequirementRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrainingRequirementRecordCollection</assignToReference>
            <name>TrainingRequirementRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program</name>
        <label>Get Vendor Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Contact</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRecord</assignToReference>
            <name>VendorProgramRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>LearnUponPortalMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUpon_Portal_Membership__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>TrainnigRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
