OnboardingV2Minimal/force-app/main/default/flows/Contract_Subflow_Territory_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>New_Program_or_Accessory</name>
        <label>New Dealer or Accessory?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Dealer_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dealer</defaultConnectorLabel>
        <rules>
            <name>Infrastructure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer Application (WIRE)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Infrastructure_Territory</targetReference>
            </connector>
            <label>Infrastructure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Assignment</name>
        <label>Territory Assignment</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Customer_App_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer Application (WIRE)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer Application (DOM)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Program_or_Accessory</targetReference>
            </connector>
            <label>New Customer App Record Type</label>
        </rules>
        <rules>
            <name>Existing_Customer_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Customer Application (WIRE)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer Application (DOM)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Dealer_Territory</targetReference>
            </connector>
            <label>Existing Customer Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract - Subflow - Territory Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Subflow - Territory Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dealer_Territory_Assignment</name>
        <label>Get Dealer Territory Assignment</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Infrastructure_Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programTerritory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Infrastructure_Territory_Assignment</name>
        <label>Get Infrastructure Territory Assignment</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Territory_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accessoryTerritoyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dealer_Territory</name>
        <label>Update Dealer Territory</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inside_BDM__c</field>
            <value>
                <elementReference>Get_Dealer_Territory_Assignment.Base_App_OB_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_COM_BDM__c</field>
            <value>
                <elementReference>Get_Dealer_Territory_Assignment.Inside_COM_BDM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiter__c</field>
            <value>
                <elementReference>Get_Dealer_Territory_Assignment.Recruiter__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Dealer_Territory</name>
        <label>Update Existing Dealer Territory</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inside_BDM__c</field>
            <value>
                <elementReference>Get_Dealer_Territory_Assignment.Base_App_OB_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_COM_BDM__c</field>
            <value>
                <elementReference>Get_Dealer_Territory_Assignment.Inside_COM_BDM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiter__c</field>
            <value>
                <elementReference>Get_Dealer_Territory_Assignment.Recruiter__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Infrastructure_Territory</name>
        <label>Update Infrastructure Territory</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Infrastructure_Territory_Email__c</field>
            <value>
                <elementReference>Get_Infrastructure_Territory_Assignment.Territory_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Rep__c</field>
            <value>
                <elementReference>Get_Infrastructure_Territory_Assignment.Base_App_OB_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outside_Director__c</field>
            <value>
                <elementReference>Get_Infrastructure_Territory_Assignment.Outside_Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outside_Territory_Manager__c</field>
            <value>
                <elementReference>Get_Infrastructure_Territory_Assignment.Outside_Territory_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Dealer_Territory_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accessoryTerritoyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
