OnboardingV2Minimal/force-app/main/default/flows/Contact_Processes_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Field_Changed</name>
        <label>Field Changed</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POE_isTmobileAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTmobileAllowed_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_T_Mobile_Notification</targetReference>
            </connector>
            <label>POE_isTmobileAllowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Update</name>
        <label>Insert / Update</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Field_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_T_Mobile_Notification</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <description>PB to flow</description>
    <formulas>
        <name>EngagementProgram</name>
        <dataType>String</dataType>
        <expression>{!$Record.Most_Recent_Pardot_Tag__c}  &amp;
BR()&amp;
{!$Record__Prior.Engagement_Program_Tags__c}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isTmobileAllowed_changed</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.POE_isTmobileAllowed__c})</expression>
    </formulas>
    <interviewLabel>Contact Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Processes Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Lead_Creation</name>
        <label>Lead Creation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Engagement_Program</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_T_Employee_Name__c</field>
            <value>
                <elementReference>$Record.AT_T_Employee_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Time_to_Call__c</field>
            <value>
                <elementReference>$Record.Best_Time_to_Call__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_that_referred_you__c</field>
            <value>
                <elementReference>$Record.Employee_that_referred_you__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Pardot_Tag__c</field>
            <value>
                <elementReference>$Record.Most_Recent_Pardot_Tag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Responsible__c</field>
            <value>
                <elementReference>$Record.Sales_Rep_Responsible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__created_date__c</field>
            <value>
                <elementReference>$Record.pi__created_date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Engagement_Program</name>
        <label>Engagement Program</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Insert_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Engagement_Program_Tags__c</field>
            <value>
                <elementReference>EngagementProgram</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Most_Recent_Pardot_Tag__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pi__created_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send an email notification and creates a Case when the checkbox for T-Mobile on the Representative Onborading is checked (true) when creating a New agent or editing one</description>
        <name>Send_T_Mobile_Notification</name>
        <label>Send T-Mobile Notification</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <flowName>T_Mobile_Email_Notification_Representative_Onboarding</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
