OnboardingV2Minimal/force-app/main/default/flows/Deactivate_Chuzo_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error</name>
        <label>Error</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There was an error while trying to update the Contact, try again.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Id_to_Collection</name>
        <label>Assign Id to Collection</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>permissionSetGroupIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permission_Set_to_Collection</name>
        <label>Assign Permission Set to Collection</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>permissionSetGroupIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_User</name>
        <label>Deactivate User</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_User.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_To_Deactivate.POE_Deactivation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deactivation_Reason_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chuzo_Only_Update_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CHUZO_PARTNER_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chuzo_Partner</stringValue>
        </value>
    </constants>
    <constants>
        <name>CLICKER_EVENT_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clicker_Event</stringValue>
        </value>
    </constants>
    <constants>
        <name>CLICKER_RETAIL_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clicker_Retail</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMMUNITY_NAMED_USER_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CommunityNamedUser</stringValue>
        </value>
    </constants>
    <constants>
        <name>D2D_PS_GROUP_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent_Permission_Set_Group</stringValue>
        </value>
    </constants>
    <constants>
        <name>MAPS_PS_LICENSE_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SFMaps_Maps_CommunityNamedUser</stringValue>
        </value>
    </constants>
    <constants>
        <name>MAPS_USER_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MapsUser</stringValue>
        </value>
    </constants>
    <constants>
        <name>OWNER_PS_GROUP_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Owner_Permissions_No_Maps</stringValue>
        </value>
    </constants>
    <constants>
        <name>OWNER_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Owner_Permission_Set</stringValue>
        </value>
    </constants>
    <constants>
        <name>PHONE_SALES_PS_GROUP_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone_Sales_Permission_Set_Group</stringValue>
        </value>
    </constants>
    <constants>
        <name>SF_MAPS_PS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SFMaps</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_FSL_And_Chuzo_Membership</name>
        <label>Check FSL And Chuzo Membership</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Agent_Already_Activated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No membership</defaultConnectorLabel>
        <rules>
            <name>FSL_Chuzo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_To_Deactivate.FSL_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_To_Deactivate.Chuzo_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chuzo_Permission_set_Groups</targetReference>
            </connector>
            <label>FSL &amp; Chuzo</label>
        </rules>
        <rules>
            <name>Chuzo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_To_Deactivate.FSL_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_To_Deactivate.Chuzo_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User</targetReference>
            </connector>
            <label>Chuzo</label>
        </rules>
        <rules>
            <name>FSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_To_Deactivate.FSL_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_To_Deactivate.Chuzo_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Already_Activated_Screen</targetReference>
            </connector>
            <label>FSL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Assignments</name>
        <label>Has PS Assignments ?</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Maps_PSL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Assignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_Set_Group_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PSL_Assignments</name>
        <label>Has PSL Assignments</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maps_PSL_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used by Account Services to deactivate Chuzo agents. [PER-3665 - PER-3865]</description>
    <environments>Default</environments>
    <interviewLabel>Deactivate Chuzo Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Chuzo Agent</label>
    <loops>
        <name>Loop_on_permission_Sets</name>
        <label>Loop on permission Set Groups</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Chuzo_Permission_set_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Chuzo_Permission_Sets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Permission_Sets</name>
        <label>Loop Permission Sets</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Chuzo_Permission_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Permission_Set_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>User_ID__c</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Deactivate_Chuzo_Only_Agent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Permission_Set_Group_Assignments</name>
        <label>Delete Permission Set Group Assignments</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Maps_PSL</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_Permission_Set_Assignments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PSLA</name>
        <label>Delete PSLA</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <inputReference>Get_Maps_PSL_Assignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Chuzo_Permission_set_Groups</name>
        <label>Get Chuzo Permission Set Groups</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>D2D_PS_GROUP_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PHONE_SALES_PS_GROUP_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OWNER_PS_GROUP_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chuzo_Permission_Sets</name>
        <label>Get Chuzo Permission Sets</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMMUNITY_NAMED_USER_PS_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAPS_USER_PS_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CHUZO_PARTNER_PS_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CLICKER_EVENT_PS_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CLICKER_RETAIL_PS_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OWNER_PS_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SF_MAPS_PS_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_To_Deactivate</name>
        <label>Get Contact To Deactivate</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maps_PSL</name>
        <label>Get Maps PSL</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Maps_PSL_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAPS_PS_LICENSE_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maps_PSL_Assignment</name>
        <label>Get Maps PSL Assignment</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_PSL_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Maps_PSL.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Assignments</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>permissionSetGroupIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>In</operator>
            <value>
                <elementReference>permissionSetGroupIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_FSL_And_Chuzo_Membership</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Changes</name>
        <label>Rollback Changes</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Chuzo_Only_Update_Contact</name>
        <label>Chuzo Only Update Contact</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputReference>Get_Contact_To_Deactivate</inputReference>
    </recordUpdates>
    <screens>
        <name>Agent_Already_Activated_Screen</name>
        <label>Agent Already Activated Screen</label>
        <locationX>886</locationX>
        <locationY>2546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Is_Already_Deactivated_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;User is already Inactive in Chuzo.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Deactivation Reason:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Contact_To_Deactivate.POE_Deactivation_Reason__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deactivation_Reason_Screen</name>
        <label>Deactivation Reason Screen</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_To_Deactivate</targetReference>
        </connector>
        <fields>
            <name>Deactivation_Reason_Field</name>
            <fieldText>Deactivation Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Deactivation Reason cannot exceed 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Deactivation_Reason_Field}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deactivation_Reason_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chuzoText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Chuzo</stringValue>
        </value>
    </variables>
    <variables>
        <name>permissionSetGroupIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
