OnboardingV2Minimal/force-app/main/default/flows/DOM_Onboarding_SFL_CREATE_Training_Assignment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Training_Assignment_Record_to_Collection</name>
        <label>Assign Training Assignment Record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Requirement_Id_to_Collection</name>
        <label>Assign Training Requirement Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Vendor_Program_Training_Requirement_Record_To_Collect_Ids.Training_Requirement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record_To_Collect_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Training_Assignment</name>
        <label>Assign Values to Training Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Vendor_Training_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Unique_Assignment_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop.Training_System__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Is_Canonical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Training_Assignment_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_External_Training_Requirement_Id_to_Collection</name>
        <label>Assign External Training Requirement Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExternalTrainingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Existing_Training_Assignment_For_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_Id_to_Collection</name>
        <label>Assign Training Assignment Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resolved_Training_Assignment_Record_To_Collect_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resolved_Training_Assignment_Record_To_Collect_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_Onboarding_Link_Record_to_Collection</name>
        <label>Assign Training Assignment Onboarding Link Record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecord.Training_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Vendor_Program_Training_Requirement_Record_For_Links.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecord.Unique_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentOnboardingLinkUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentOnboardingLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record_For_Links</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Existing_Onboarding_Link_For_Resolved_Assignment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing Onboarding Link For Resolved Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_Onboarding_Link_For_Assignment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ExistingAssignmentOnboardingLinkCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_Onboarding_Link_For_Assignment.Training_Assignment__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Vendor_Program_Training_Requirement_Record_For_Links.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Does_Assignment_Onboarding_Link_Already_Exist</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Existing_Training_Assignment_For_Assignment_Loop</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing Training Assignment For Assignment Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_Training_Assignment_For_Assignment_Loop</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ExistingTrainingAssignmentRecordCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_Training_Assignment_For_Assignment_Loop.Vendor_Training_Requirement__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Does_Training_Assignment_Already_Exist</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Training_Requirement_For_Assignment_Loop</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Training Requirement For Assignment Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Vendor_Program_Training_Requirement_Record.Training_Requirement__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Training_Requirement_External</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Does_Assignment_Onboarding_Link_Already_Exist</name>
        <label>Does Assignment Onboarding Link Already Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Training_Assignment_Onboarding_Link_Record_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Link Missing</defaultConnectorLabel>
        <rules>
            <name>Yes_Link_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Filter_Existing_Onboarding_Link_For_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Vendor_Program_Training_Requirement_Record_For_Links</targetReference>
            </connector>
            <label>Yes - Link Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Training_Assignment_Onboarding_Links_To_Create</name>
        <label>Has Training Assignment Onboarding Links To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - No Links to Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Links_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentOnboardingLinkRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentOnboardingLinkRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Training_Assignment_Onboarding_Link</targetReference>
            </connector>
            <label>Yes - Links to Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Input_Contact_Record</name>
        <label>Has Input Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Principal_Owner_Of_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Use Principal Owner</defaultConnectorLabel>
        <rules>
            <name>Yes_Use_Input_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Vendor_Program_Training_Requirement_Record_To_Collect_Ids</targetReference>
            </connector>
            <label>Yes - Use Input Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Training_Requirement_Ids</name>
        <label>Has Training Requirement Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - No Training Requirement Ids</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Requirement_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingRequirementIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingRequirementIdCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Requirement_Record</targetReference>
            </connector>
            <label>Yes - Training Requirement Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_Training_Requirement_Ids</name>
        <label>Has External Training Requirement Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - No External Training Requirements</defaultConnectorLabel>
        <rules>
            <name>Yes_External_Training_Requirement_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingRequirementIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingRequirementIdCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resolved_Training_Assignment_For_Link</targetReference>
            </connector>
            <label>Yes - External Training Requirement Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Resolved_Training_Assignment_Ids</name>
        <label>Has Resolved Training Assignment Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - No Resolved Training Assignment Ids</defaultConnectorLabel>
        <rules>
            <name>Yes_Resolved_Training_Assignment_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentIdCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Training_Assignment_Onboarding_Link</targetReference>
            </connector>
            <label>Yes - Resolved Training Assignment Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Training_Assignment_Already_Exist</name>
        <label>Does Training Assignment Already Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Training_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Assignment</defaultConnectorLabel>
        <rules>
            <name>Yes_Assignment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Filter_Existing_Training_Assignment_For_Assignment_Loop.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Vendor_Program_Training_Requirement_Record</targetReference>
            </connector>
            <label>Yes - Assignment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Training_Requirement_External</name>
        <label>Is Training Requirement External</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Training Requirement is Not External</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Requirement_is_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Filter_Training_Requirement_For_Assignment_Loop.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_External_Training_Requirement_Id_to_Collection</targetReference>
            </connector>
            <label>Yes - Training Requirement is External</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Onboarding Object - Subflow - CREATE - Training Assignment Records</description>
    <environments>Default</environments>
    <formulas>
        <name>AssignmentOnboardingLinkUniqueKey</name>
        <dataType>String</dataType>
        <expression>{!Loop_Vendor_Program_Training_Requirement_Record_For_Links.Id} &amp; &quot;|&quot; &amp; {!OnboardingRecord.Id}</expression>
    </formulas>
    <formulas>
        <name>AssignmentUniqueKey</name>
        <dataType>String</dataType>
        <expression>{!ContactRecord.Id} &amp; &quot;|&quot; &amp; {!currentItem_Filter_Training_Requirement_For_Assignment_Loop.Id}</expression>
    </formulas>
    <interviewLabel>DOMAIN - Onboarding - SFL - CREATE - Training Assignment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - CREATE - Training Assignment Records</label>
    <loops>
        <name>Loop_Vendor_Program_Training_Requirement_Record</name>
        <label>Loop Vendor Program Training Requirement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>VendorProgramTrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Training_Requirement_For_Assignment_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Training_Assignment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Vendor_Program_Training_Requirement_Record_For_Links</name>
        <label>Loop Vendor Program Training Requirement Record For Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ResolvedTrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Existing_Onboarding_Link_For_Resolved_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Training_Assignment_Onboarding_Links_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Vendor_Program_Training_Requirement_Record_To_Collect_Ids</name>
        <label>Loop Vendor Program Training Requirement Record To Collect Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>VendorProgramTrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Training_Requirement_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Training_Requirement_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Resolved_Training_Assignment_Record_To_Collect_Ids</name>
        <label>Loop Resolved Training Assignment Record To Collect Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ResolvedTrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Training_Assignment_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Resolved_Training_Assignment_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Assignment_Onboarding_Link</name>
        <label>Create Training Assignment Onboarding Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TrainingAssignmentOnboardingLinkRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Assignment_Records</name>
        <label>Create Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_External_Training_Requirement_Ids</targetReference>
        </connector>
        <inputReference>TrainingAssignmentRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Training_Assignment</name>
        <label>Get Existing Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Training_Requirement__c</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingRequirementIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Canonical__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>ExistingTrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Training_Assignment_Onboarding_Link</name>
        <label>Get Existing Training Assignment Onboarding Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record_For_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Assignment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingAssignmentIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <object>Training_Assignment_Onboarding__c</object>
        <outputReference>ExistingAssignmentOnboardingLinkCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Assignment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Owner_Of_Account</name>
        <label>Get Principal Owner Of Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Record_To_Collect_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Principal_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Resolved_Training_Assignment_For_Link</name>
        <label>Get Resolved Training Assignment Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resolved_Training_Assignment_Record_To_Collect_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Training_Requirement__c</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingRequirementIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Canonical__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>ResolvedTrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Requirement_Record</name>
        <label>Get Training Requirement Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Training_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingRequirementIdCollection</elementReference>
            </value>
        </filters>
        <object>Training_Requirement__c</object>
        <outputReference>TrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Type__c</queriedFields>
        <queriedFields>Training_System__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Program_Training_Requirements</name>
        <label>Get Vendor Program Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Input_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <object>Vendor_Program_Training_Requirement__c</object>
        <outputReference>VendorProgramTrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Requirement__c</queriedFields>
        <queriedFields>Vendor_Program__c</queriedFields>
        <queriedFields>Unique_Key__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Program_Training_Requirements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExistingAssignmentOnboardingLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ExistingAssignmentOnboardingLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ExistingTrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ExistingTrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ExternalTrainingRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ResolvedTrainingAssignmentForLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentOnboardingLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentOnboardingLinkRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_Onboarding_Link_For_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_Training_Assignment_For_Assignment_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Training_Requirement_For_Assignment_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>ResolvedTrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramTrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor_Program_Training_Requirement__c</objectType>
    </variables>
</Flow>
