OnboardingV2Minimal/force-app/main/default/flows/DOM_Onboarding_SFL_CREATE_Training_Assignment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Training_Assignment_Record_to_Collection</name>
        <label>Assign Training Assignment Record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Training_Assignment</name>
        <label>Assign Values to Training Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Vendor_Training_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Training_System__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Training_Assignment_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Training_Requirement_External</name>
        <label>Is Training Requirement External</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Training Requirement is Not External</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Requirement_is_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Requirement_Record.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Training_Assignment</targetReference>
            </connector>
            <label>Yes - Training Requirement is External</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Onboarding Object - Subflow - CREATE - Training Assignment Records</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Onboarding - SFL - CREATE - Training Assignment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - CREATE - Training Assignment Records</label>
    <loops>
        <name>Loop_Training_Requirement_Record</name>
        <label>Loop Training Requirement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Training_Requirement_External</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Training_Assignment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Assignment_Records</name>
        <label>Create Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TrainingAssignmentRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Associated_with_Training</name>
        <label>Get Contact Associated with Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>OpportunityContactRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Associated_with_Training</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
</Flow>
