OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Count_Values</name>
        <label>Assign Count Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalEnrollments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LearnUponContactEnrollmentRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedOrPassedEnrollments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Total_Completed_or_Passed_Enrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_if_Counts_are_Equal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Values_Training_Assignment</name>
        <label>Assign Count Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalEnrollments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TrainingAssignmentRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedOrPassedEnrollments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Total_Completed_Or_Passed_Training_Assignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_if_Counts_are_Equal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_Id_to_Collection</name>
        <label>Assign Training Assignment Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Training_Assignment_Onboarding_Links.Training_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Assignment_Onboarding_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_be_Updated</name>
        <label>Assign Variables to be Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgreementRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Vendor_Customization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VendorProgramRecord.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Total_Completed_or_Passed_Enrollments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Total Completed or Passed Enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Total_Completed_or_Passed_Enrollments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>LearnUponContactEnrollmentRecordCollection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Total_Completed_or_Passed_Enrollments.LearnUponP__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Total_Completed_or_Passed_Enrollments.LearnUponP__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Total_Completed_or_Passed_Enrollments.LearnUponP__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_Values</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Total_Completed_Or_Passed_Training_Assignments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Total Completed Or Passed Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Total_Completed_Or_Passed_Training_Assignments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Total_Completed_Or_Passed_Training_Assignments.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Total_Completed_Or_Passed_Training_Assignments.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Total_Completed_Or_Passed_Training_Assignments.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Exempt</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_Values_Training_Assignment</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Training_Assignment_Onboarding_Links_Found</name>
        <label>Are Training Assignment Onboarding Links Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_Training_Assignment_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Use Legacy Onboarding Lookup</defaultConnectorLabel>
        <rules>
            <name>Yes_Links_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentOnboardingLinkCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentOnboardingLinkCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Training_Assignment_Onboarding_Links</targetReference>
            </connector>
            <label>Yes - Links Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Or_Update_Onboarding_Record</name>
        <label>Create Or Update Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Onboarding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Training_Assignment_Or_LearnUpon_Record_Present</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec</name>
        <label>Decide on Training Assignment or LearnUpon</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Assignment_Onboarding_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Triggering Record contains Training Assignment</defaultConnectorLabel>
        <rules>
            <name>Triggering_Record_contains_LearnUpon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_LearnUponContactEnrollment_Records</targetReference>
            </connector>
            <label>Triggering Record contains LearnUpon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_if_Counts_are_Equal</name>
        <label>Determine if Counts are Equal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Counts are Not Equal</defaultConnectorLabel>
        <rules>
            <name>Yes_Counts_are_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalEnrollments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CompletedOrPassedEnrollments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding_Training_Status</targetReference>
            </connector>
            <label>Yes - Counts are Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Training_Assignment_Or_LearnUpon_Record_Present</name>
        <label>Is Training Assignment Or LearnUpon Record Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Updating_Single_Record_or_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Standard Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Sync_Training_Assignments</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LearnUponContactEnrollment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec</targetReference>
            </connector>
            <label>Yes - Sync Training Assignments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updating_Single_Record_or_Collection</name>
        <label>Updating Single Record or Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Updating_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Record</defaultConnectorLabel>
        <rules>
            <name>Collection_of_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding_Record_Collection</targetReference>
            </connector>
            <label>Collection of Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updating_Status_Only</name>
        <label>Updating Status Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_to_be_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Full Record</defaultConnectorLabel>
        <rules>
            <name>Status_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgramRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AgreementRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendorProgramRecord.Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding_Record</targetReference>
            </connector>
            <label>Status Only</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Onboarding Record</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Onboarding Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Onboarding Record</label>
    <loops>
        <name>Loop_Training_Assignment_Onboarding_Links</name>
        <label>Loop Training Assignment Onboarding Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingAssignmentOnboardingLinkCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Training_Assignment_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Training_Assignment_Records_Via_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Onboarding_Record</name>
        <label>Create Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>OnboardingRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>AgreementRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Customization__c</field>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>VendorProgramRecord.Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_LearnUponContactEnrollment_Records</name>
        <label>Get All LearnUponContactEnrollment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Total_Completed_or_Passed_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <object>LearnUponP__LearnUponContactEnrollment__c</object>
        <outputReference>LearnUponContactEnrollmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LearnUponP__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Training_Assignment_Records</name>
        <label>Get All Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Total_Completed_Or_Passed_Training_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Training_Assignment_Records_Via_Links</name>
        <label>Get All Training Assignment Records Via Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Total_Completed_Or_Passed_Training_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <stringValue>{!TrainingAssignmentIdCollection}</stringValue>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Assignment_Onboarding_Links</name>
        <label>Get Training Assignment Onboarding Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Training_Assignment_Onboarding_Links_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <object>Training_Assignment_Onboarding__c</object>
        <outputReference>TrainingAssignmentOnboardingLinkCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Assignment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>OnboardingRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Record_Collection</name>
        <label>Update Onboarding Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>OnboardingRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Training_Status</name>
        <label>Update Onboarding Training Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LearnUpon_Training_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Or_Update_Onboarding_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>CompletedOrPassedEnrollments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Total_Completed_or_Passed_Enrollments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Total_Completed_Or_Passed_Training_Assignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>LearnUponContactEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>LearnUponContactEnrollmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalEnrollments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalOnboardingRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TrainingAssignmentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentOnboardingLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
