OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_ACTION_Send_Communication_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Send_Failed</name>
        <label>Set Send Failed</label>
        <locationX>270</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>SendFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <actionCalls>
        <name>Send_Email_Action</name>
        <label>Send Email Action</label>
        <locationX>270</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>ccEmailAddresses</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>customeronboarding@perfect-vision.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplateRecord.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ResolvedRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <faultConnector>
            <targetReference>Set_Send_Failed</targetReference>
        </faultConnector>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_Logical_Method_to_Find_Communication_Template</name>
        <label>Determine Logical Method to Find Communication Template</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Communication_Template_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunicationTemplateRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action</targetReference>
            </connector>
            <label>Communication Template Record</label>
        </rules>
        <rules>
            <name>Onboarding_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Communication_Template_Via_Onboarding_Record</targetReference>
            </connector>
            <label>Onboarding Record</label>
        </rules>
        <rules>
            <name>Vendor_Program_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgram</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Communication_Template_Via_Vendor_Program</targetReference>
            </connector>
            <label>Vendor Program Record</label>
        </rules>
    </decisions>
    <description>DOMAIN - OmniSObject - ACTION - Send Communication Template</description>
    <environments>Default</environments>
    <formulas>
        <description>This takes the retailer type from the vendor customization and transforms the value to the proper value for New Dealer Training</description>
        <name>RetailerTypeTransformation</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent&quot;,
  &quot;National Agent&quot;,
  IF(
    TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent and D2D&quot;,
    &quot;National Agent and D2D&quot;,
    IF(
      TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;D2D&quot;,
      &quot;D2D&quot;,
      IF(
        TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail&quot;,
        &quot;National Retail&quot;,
        IF(
          TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and National Agent&quot;,
          &quot;National Agent and National Retail&quot;,
          IF(
            TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and D2D&quot;,
            &quot;D2D and National Retail&quot;,
            IF(
              TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail, National Agent, and D2D&quot;,
              &quot;National Agent, D2D and National Retail&quot;,
              IF(
                TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;N/A&quot;,
                &quot;N/A&quot;,
                &quot;D2D&quot;  /* fallback for unmapped values */
              )
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <description>Use explicit recipient override when provided; otherwise fall back to selected opportunity contact.</description>
        <name>ResolvedRecipientId</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    ISBLANK({!RecipientId}),
    {!RecipientId} = &quot;&quot;
  ),
  {!OnboardingRecord.Opportunity__r.Selected_Opportunity_Contact__c},
  {!RecipientId}
)</expression>
    </formulas>
    <interviewLabel>DOMAIN - Email Automation - ACTION - Send Communication Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - ACTION - Send Communication Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Communication_Template_Via_Onboarding_Record</name>
        <label>Get Communication Template Via Onboarding Record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <object>Communication_Template__c</object>
        <outputReference>CommunicationTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Template_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_Template_Via_Vendor_Program</name>
        <label>Get Communication Template Via Vendor Program</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgram.Id</elementReference>
            </value>
        </filters>
        <object>Communication_Template__c</object>
        <outputReference>CommunicationTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Template_Id__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Logical_Method_to_Find_Communication_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ccEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Communication_Template__c</objectType>
    </variables>
    <variables>
        <name>EmailAddressCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TasksToUpdateAsComplete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
