OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Communication_Dispatch_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_Policy_Result</name>
        <label>Assign Default Policy Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PolicyFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchAllowed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultDispatchPolicyRecord.Send_Enabled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicySource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Specific_Policy_Result</name>
        <label>Assign Specific Policy Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PolicyFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchAllowed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecificDispatchPolicyRecord.Send_Enabled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicySource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Specific</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Policy_Lookup_Strategy</name>
        <label>Determine Policy Lookup Strategy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Dispatch_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Default Policy</defaultConnectorLabel>
        <rules>
            <name>Has_Vendor_Program_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgramKeyNormalized</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendorProgramKeyNormalized</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Specific_Dispatch_Policy</targetReference>
            </connector>
            <label>Has Vendor Program Key</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Default_Policy</name>
        <label>Evaluate Default Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Policy Found</defaultConnectorLabel>
        <rules>
            <name>Default_Policy_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultDispatchPolicyRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Policy_Result</targetReference>
            </connector>
            <label>Default Policy Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Specific_Policy</name>
        <label>Evaluate Specific Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Dispatch_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Specific Policy Not Found</defaultConnectorLabel>
        <rules>
            <name>Specific_Policy_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecificDispatchPolicyRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Specific_Policy_Result</targetReference>
            </connector>
            <label>Specific Policy Found</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - GET - Communication Dispatch Policy</description>
    <environments>Default</environments>
    <formulas>
        <name>VendorProgramKeyNormalized</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!VendorProgramRecord.Name}),
  &quot;&quot;,
  SUBSTITUTE(UPPER({!VendorProgramRecord.Name}), &quot; &quot;, &quot;_&quot;)
)</expression>
    </formulas>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Communication Dispatch Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Communication Dispatch Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Dispatch_Policy</name>
        <label>Get Default Dispatch Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Default_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vendor_Program_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEFAULT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Communication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recipient_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecipientType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Communication_Dispatch_Policy__mdt</object>
        <outputReference>DefaultDispatchPolicyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Send_Enabled__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Specific_Dispatch_Policy</name>
        <label>Get Specific Dispatch Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Specific_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vendor_Program_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgramKeyNormalized</elementReference>
            </value>
        </filters>
        <filters>
            <field>Communication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recipient_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecipientType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Communication_Dispatch_Policy__mdt</object>
        <outputReference>SpecificDispatchPolicyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Send_Enabled__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Policy_Lookup_Strategy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommunicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultDispatchPolicyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communication_Dispatch_Policy__mdt</objectType>
    </variables>
    <variables>
        <name>DispatchAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicySource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecificDispatchPolicyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communication_Dispatch_Policy__mdt</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
