OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Vendor_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_errorMessage</name>
        <label>Assign errorMessage</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding or Opportunity Record not input.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Found_Vendor_Program_to_VendorProgramRecord</name>
        <label>Assign Found Vendor Program to VendorProgramRecord</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vendor_Program</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Found_Vendor_Program_via_Variables_to_VendorProgramRecord</name>
        <label>Assign Found Vendor Program via Variables to VendorProgramRecord</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vendor_Program_via_Vendor_Retail_Option_and_Business_Vertical</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Program_Directly</name>
        <label>Assign Vendor Program Directly</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vendor_Program_Directly</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_on_Logical_Path_to_Get_Record</name>
        <label>Decide on Logical Path to Get Record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_errorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Record_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Program</targetReference>
            </connector>
            <label>Onboarding Record Provided</label>
        </rules>
        <rules>
            <name>Opportunity_Record_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Program_Via_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity Record Provided</label>
        </rules>
        <rules>
            <name>Vendor_Id_Business_Vertical_Retail_Option_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vendorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>retailOption</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>businessVertical</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Program_via_Vendor_Retail_Option_and_Business_Vertical</targetReference>
            </connector>
            <label>Vendor Id, Business Vertical, Retail Option Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Record_Found</name>
        <label>Onboarding Record Found</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Vendor_Program_Directly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Vendor_Program</targetReference>
            </connector>
            <label>Yes - Onboarding Record Found</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - GET - Vendor Program</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Vendor Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Vendor Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vendor_Program</name>
        <label>Get Vendor Program</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Found_Vendor_Program_to_VendorProgramRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Program_Directly</name>
        <label>Get Vendor Program Directly</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Vendor_Program_Directly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Program_Via_Opportunity_Record</name>
        <label>Get Vendor Program Via Opportunity Record</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <outputReference>OnboardingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Program_via_Vendor_Retail_Option_and_Business_Vertical</name>
        <label>Get Vendor Program via Vendor, Retail Option, and Business Vertical</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Found_Vendor_Program_via_Variables_to_VendorProgramRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Vertical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessVertical</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retail_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>retailOption</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_on_Logical_Path_to_Get_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>businessVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>retailOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
