OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Onboarding_SFL_UPDATE_Onboarding_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Canceled</description>
        <name>Assign_to_Canceled</name>
        <label>Assign to Canceled</label>
        <locationX>2024</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Denied</description>
        <name>Assign_to_Denied</name>
        <label>Assign to Denied</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Expired</description>
        <name>Assign_to_Expired</name>
        <label>Assign to Expired</label>
        <locationX>2288</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to In Process</description>
        <name>Assign_to_In_Process</name>
        <label>Assign to In Process</label>
        <locationX>1496</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to New</description>
        <name>Assign_to_New</name>
        <label>Assign to New</label>
        <locationX>1760</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Paperwork Sent</description>
        <name>Assign_to_Paperwork_Sent</name>
        <label>Assign to Paperwork Sent</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paperwork Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paperwork Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Pending Initial Review</description>
        <name>Assign_to_Pending_Initial_Review</name>
        <label>Assign to Pending Initial Review</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Initial Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Initial Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Pending Sales</description>
        <name>Assign_to_Pending_Sales</name>
        <label>Assign to Pending Sales</label>
        <locationX>1232</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Onboarding Record Status and Contract Application Status to Setup Complete</description>
        <name>Assign_to_Setup_Complete</name>
        <label>Assign to Setup Complete</label>
        <locationX>968</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setup Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setup Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ByPassFlow</name>
        <label>ByPassFlow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Status_Is_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ByPassFlow = False</defaultConnectorLabel>
        <rules>
            <name>ByPassFlow_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Onboarding_Bypass_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <label>ByPassFlow = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancelled</name>
        <label>Cancelled</label>
        <locationX>2222</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Canceled</targetReference>
            </connector>
            <label>Yes - Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expired</name>
        <label>Expired</label>
        <locationX>2420</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Update_Onboarding_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Expired</targetReference>
            </connector>
            <label>Yes - Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Process</name>
        <label>In Process</label>
        <locationX>1743</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_In_Process</targetReference>
            </connector>
            <label>Yes - In Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>New</name>
        <label>New</label>
        <locationX>1991</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_New</targetReference>
            </connector>
            <label>Yes - New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paperwork_Sent</name>
        <label>Paperwork Sent</label>
        <locationX>703</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Pending_Initial_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Paperwork_Sent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Paperwork_Sent</targetReference>
            </connector>
            <label>Yes - Paperwork Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Initial_Review</name>
        <label>Pending Initial Review</label>
        <locationX>966</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Setup_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Initial_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Agreement__r.echosign_dev1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Pending_Initial_Review</targetReference>
            </connector>
            <label>Yes - Pending Initial Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Sales</name>
        <label>Pending Sales</label>
        <locationX>1488</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>In_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Assigned_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Pending_Sales</targetReference>
            </connector>
            <label>Yes - Pending Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Setup_Complete</name>
        <label>Setup Complete</label>
        <locationX>1228</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Pending_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Setup_Complete</name>
            <conditionLogic>(1 OR (2 AND 3)) OR (1 AND 4) OR (2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.ERP_Setup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Base Application - without Chuzo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Vendor_Customization__r.Retail_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Setup_Complete</targetReference>
            </connector>
            <label>Yes - Setup Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Is_Denied</name>
        <label>Status Is Denied</label>
        <locationX>439</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Paperwork_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Denied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Credit_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Compliance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Denied</targetReference>
            </connector>
            <label>Yes - Denied</label>
        </rules>
    </decisions>
    <description>DOMAIN - Onboarding - SFL - UPDATE - Onboarding Record</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Onboarding - SFL - UPDATE - Onboarding Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - UPDATE - Onboarding Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contract_Application_Status</name>
        <label>Update Contract Application Status</label>
        <locationX>439</locationX>
        <locationY>2186</locationY>
        <inputReference>ContractRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Status</name>
        <label>Update Onboarding Status</label>
        <locationX>439</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Update_Contract_Application_Status</targetReference>
        </connector>
        <inputReference>OnboardingRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPassFlow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
