OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Onboarding_Requirement_Subjects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding Requirement Id or Requirement Type plus ContactId or AccountId is required.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Get_Onboarding_Requirement_Subjects_Path</name>
        <label>Determine Get Onboarding Requirement Subjects Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Requirement_Id_Was_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRequirementId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirement_Subjects</targetReference>
            </connector>
            <label>Onboarding Requirement Id Was Passed</label>
        </rules>
        <rules>
            <name>Contact_Subject_Query_Was_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirement_Subjects_By_Contact</targetReference>
            </connector>
            <label>Contact Subject Query Was Passed</label>
        </rules>
        <rules>
            <name>Account_Subject_Query_Was_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirement_Subjects_By_Account</targetReference>
            </connector>
            <label>Account Subject Query Was Passed</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - GET - Onboarding Requirement Subjects</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Onboarding Requirement Subjects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Onboarding Requirement Subjects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Requirement_Subjects</name>
        <label>Get Onboarding Requirement Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRequirementId</elementReference>
            </value>
        </filters>
        <object>Onboarding_Requirement_Subject__c</object>
        <outputReference>OnboardingRequirementSubjectCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding_Requirement__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Requirement_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Role_Snapshot__c</queriedFields>
        <queriedFields>Unique_Key__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Requirement_Subjects_By_Account</name>
        <label>Get Onboarding Requirement Subjects By Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requirement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </filters>
        <object>Onboarding_Requirement_Subject__c</object>
        <outputReference>OnboardingRequirementSubjectCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding_Requirement__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Requirement_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Role_Snapshot__c</queriedFields>
        <queriedFields>Unique_Key__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Requirement_Subjects_By_Contact</name>
        <label>Get Onboarding Requirement Subjects By Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requirement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </filters>
        <object>Onboarding_Requirement_Subject__c</object>
        <outputReference>OnboardingRequirementSubjectCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding_Requirement__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Requirement_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Role_Snapshot__c</queriedFields>
        <queriedFields>Unique_Key__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Get_Onboarding_Requirement_Subjects_Path</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnboardingRequirementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRequirementSubjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>RequirementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
