OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Contact_Records_and_Account_Contact_Relationship_Records</name>
        <label>Create Contact Records and Account Contact Relationship Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RecordCollectionEditorConfigService</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__createdRecords</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__createdRelationshipRecords</typeName>
            <typeValue>AccountContactRelation</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Capture_Create_Contact_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configKey</name>
            <value>
                <stringValue>CONTACT_ON_ACCOUNT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsJson</name>
            <value>
                <elementReference>contactsToCreateJSONString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecordCollectionEditorConfigService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ContactRecordCollection</assignToReference>
            <name>createdRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccountContactRelationshipCollection</assignToReference>
            <name>createdRelationshipRecords</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proper Inputs not passed to Create Contact</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Create_Contact_Fault</name>
        <label>Capture Create Contact Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_On_Creation_Path</name>
        <label>Decide On Creation Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>errorMessage</defaultConnectorLabel>
        <rules>
            <name>Via_Custom_JSON_APEX_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactsToCreateJSONString</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Records_and_Account_Contact_Relationship_Records</targetReference>
            </connector>
            <label>Via Custom JSON APEX String</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - CREATE - Contact</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_On_Creation_Path</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountContactRelationshipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsToCreateJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
