OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Onboarding_SFL_GET_Training_Requirements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Training_Requirement_to_TrainingRequirmentRecordCollection</name>
        <label>Assign Training Requirement to TrainingRequirmentRecordCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRequirementRecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Requirement_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>DOMAIN LAYER - Onboarding Object - Subflow - GET - Training Requirements</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Onboarding - SFL - GET - Training Requirements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - GET - Training Requirements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Training_Requirement_Records</name>
        <label>Get Training Requirement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Training_Requirement_to_TrainingRequirmentRecordCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Training_Requirement_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
