OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Load_and_Send_Agreement_Template</name>
        <label>Load and Send Agreement Template</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>echosign_dev1__AgreementTemplateLoadInvocableAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateAdobeAgreementWithVendorId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Capture_Load_and_Send_Agreement_Template_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>masterId</name>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>VendorProgram.Associated_Agreement_Template__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>echosign_dev1__AgreementTemplateLoadInvocableAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AgreementRecord.Id</assignToReference>
            <name>agreementId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resend_Adobe_Agreement</name>
        <label>Resend Adobe Agreement</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>echosign_dev1__AgreementSendInvocableAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Capture_Resend_Adobe_Agreement_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>AgreementRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>echosign_dev1__AgreementSendInvocableAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_Load_and_Send_Agreement_Template_Fault</name>
        <label>Capture Load and Send Agreement Template Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Resend_Adobe_Agreement_Fault</name>
        <label>Capture Resend Adobe Agreement Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Update_Adobe_Agreement_With_Vendor_Id_Fault</name>
        <label>Capture Update Adobe Agreement With Vendor Id Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_for_Contract</name>
        <label>Assign Error Message for Contract</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Send Adobe Agreement You Must Have a Contract</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_for_Vendor_Program</name>
        <label>Assign Error Message for Vendor Program</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Send Adobe Agreement You Must Have a Vendor Program</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_to_Update_Adobe_Agreement_Dates_or_Send_New</name>
        <label>Decide to Update Adobe Agreement Dates or Send New</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Resend_Adobe_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resend Agreement</defaultConnectorLabel>
        <rules>
            <name>New_Adobe_Agreement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AgreementRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_and_Send_Agreement_Template</targetReference>
            </connector>
            <label>New Adobe Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_Contract_Record</name>
        <label>Do We Have Contract Record</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_for_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No We Do Not Have a Contract Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_We_Have_Vendor_Program</targetReference>
            </connector>
            <label>Yes - Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_Vendor_Program</name>
        <label>Do We Have Vendor Program</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_for_Vendor_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>We Do Not Have Vendor Program</defaultConnectorLabel>
        <rules>
            <name>Yes_Vendor_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgram</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_to_Update_Adobe_Agreement_Dates_or_Send_New</targetReference>
            </connector>
            <label>Yes - Vendor Program</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Agreement</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAdobeAgreementWithVendorId</name>
        <label>Update Adobe Agreement with Vendor Id</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Capture_Update_Adobe_Agreement_With_Vendor_Id_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>VendorProgram.Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <object>echosign_dev1__SIGN_Agreement__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_We_Have_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
