OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_LearnUponContactEnrollment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContactRecordList_Provided_Filtered</name>
        <label>ContactRecordList Provided Filtered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_LearnUponContactEnrollment_Records_Filtered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Contact Record List Not Provided</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Record_List_Provided_No_Status_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LearnUponContactEnrollment_Records_Filtered_from_Contact_Record_List</targetReference>
            </connector>
            <label>Yes - Contact Record List Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactRecordList_Provided_No_Status_Filter</name>
        <label>ContactRecordList Provided No Status Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_LearnUponContactEnrollment_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Contact Record List Not Provided</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Record_List_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LearnUponContactEnrollment_Records_from_Contact_Record_List</targetReference>
            </connector>
            <label>Yes - Contact Record List Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Filter_Out_Completed_or_Passed</name>
        <label>Should Filter Out Completed or Passed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ContactRecordList_Provided_No_Status_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Include Completed and Passed</defaultConnectorLabel>
        <rules>
            <name>Yes_Filter_Out_Completed_or_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilterOutCompletedOrPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterOutCompletedOrPassed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactRecordList_Provided_Filtered</targetReference>
            </connector>
            <label>Yes - Filter Out Completed and Passed</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - GET - LearnUponContactEnrollment records.</description>
    <environments>Default</environments>
    <formulas>
        <name>globalCreatedDateTime31DaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-31</expression>
    </formulas>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - LearnUponContactEnrollment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - LearnUponContactEnrollment Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get LearnUponContactEnrollment records.</description>
        <name>Get_LearnUponContactEnrollment_Records</name>
        <label>Get LearnUponContactEnrollment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>globalCreatedDateTime31DaysAgo</elementReference>
            </value>
        </filters>
        <object>LearnUponP__LearnUponContactEnrollment__c</object>
        <outputReference>LUCERecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LearnUponP__SFContact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>LearnUponP__Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get LearnUponContactEnrollment records with status filtering.</description>
        <name>Get_LearnUponContactEnrollment_Records_Filtered</name>
        <label>Get LearnUponContactEnrollment Records Filtered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>globalCreatedDateTime31DaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>LearnUponP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </filters>
        <filters>
            <field>LearnUponP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>LearnUponP__LearnUponContactEnrollment__c</object>
        <outputReference>LUCERecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LearnUponP__SFContact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>LearnUponP__Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get LearnUponContactEnrollment records with status filtering from provided Contact list.</description>
        <name>Get_LearnUponContactEnrollment_Records_Filtered_from_Contact_Record_List</name>
        <label>Get LearnUponContactEnrollment Records Filtered from Contact Record List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LearnUponP__SFContact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>LearnUponP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </filters>
        <filters>
            <field>LearnUponP__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>LearnUponP__LearnUponContactEnrollment__c</object>
        <outputReference>LUCERecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LearnUponP__SFContact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>LearnUponP__Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get LearnUponContactEnrollment records from provided Contact list.</description>
        <name>Get_LearnUponContactEnrollment_Records_from_Contact_Record_List</name>
        <label>Get LearnUponContactEnrollment Records from Contact Record List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LearnUponP__SFContact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <object>LearnUponP__LearnUponContactEnrollment__c</object>
        <outputReference>LUCERecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LearnUponP__SFContact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>LearnUponP__Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Filter_Out_Completed_or_Passed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterOutCompletedOrPassed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LUCERecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
</Flow>
