OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Onboarding_SFL_CREATE_Dealer_Training.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_2</name>
        <label>Decide if New Record Needs to Be Created</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No - Do Not Create New Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Dealer_Training_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Dealer_Training_Record</targetReference>
            </connector>
            <label>Yes - Create New Record</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Onboarding Object - Subflow - CREATE - Dealer Training</description>
    <environments>Default</environments>
    <formulas>
        <description>This takes the retailer type from the vendor customization and transforms the value to the proper value for New Dealer Training</description>
        <name>RetailerTypeTransformation</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent&quot;,
  &quot;National Agent&quot;,
  IF(
    TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent and D2D&quot;,
    &quot;National Agent and D2D&quot;,
    IF(
      TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;D2D&quot;,
      &quot;D2D&quot;,
      IF(
        TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail&quot;,
        &quot;National Retail&quot;,
        IF(
          TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and National Agent&quot;,
          &quot;National Agent and National Retail&quot;,
          IF(
            TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and D2D&quot;,
            &quot;D2D and National Retail&quot;,
            IF(
              TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail, National Agent, and D2D&quot;,
              &quot;National Agent, D2D and National Retail&quot;,
              IF(
                TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;N/A&quot;,
                &quot;N/A&quot;,
                &quot;D2D&quot;  /* fallback for unmapped values */
              )
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>DOMAIN - Onboarding - SFL - CREATE - Dealer Training {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - CREATE - Dealer Training</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Dealer_Training_Record</name>
        <label>Create New Dealer Training Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Number__c</field>
            <value>
                <elementReference>OnboardingRecord.Contract__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_Live_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OnboardingRecord.Vendor__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding__c</field>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_New_Dealer_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retailer_Type__c</field>
            <value>
                <elementReference>RetailerTypeTransformation</elementReference>
            </value>
        </inputAssignments>
        <object>New_Dealer_Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Dealer_Record_Type</name>
        <label>Get New Dealer Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Dealer_Training_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Dealer_Training__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Dealer_Training_Records</name>
        <label>Get New Dealer Training Records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Dealer_Training_Records.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>New_Dealer_Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Dealer_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
