OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Communication_Templates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_Recipient_Filter_Strategy</name>
        <label>Determine Recipient Filter Strategy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Communication_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Recipient Type Filter</defaultConnectorLabel>
        <rules>
            <name>Filter_by_Recipient_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Communication_Templates_By_Recipient_Type</targetReference>
            </connector>
            <label>Filter by Recipient Type</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - GET - Communication Templates (ordered collection)</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Communication Templates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Communication Templates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Communication_Templates</name>
        <label>Get Communication Templates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Communication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Communication_Template__c</object>
        <outputReference>CommunicationTemplateRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email_Template_Id__c</queriedFields>
        <queriedFields>Communication_Type__c</queriedFields>
        <queriedFields>Recipient_Type__c</queriedFields>
        <queriedFields>Send_Order__c</queriedFields>
        <sortField>Send_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_Templates_By_Recipient_Type</name>
        <label>Get Communication Templates By Recipient Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Communication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recipient_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecipientType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Communication_Template__c</object>
        <outputReference>CommunicationTemplateRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email_Template_Id__c</queriedFields>
        <queriedFields>Communication_Type__c</queriedFields>
        <queriedFields>Recipient_Type__c</queriedFields>
        <queriedFields>Send_Order__c</queriedFields>
        <sortField>Send_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Recipient_Filter_Strategy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommunicationTemplateRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Communication_Template__c</objectType>
    </variables>
    <variables>
        <name>CommunicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
