OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Contact_SFL_CREATE_Training_Assignment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Training_Assignment_To_Collection</name>
        <label>Add New Training Assignment To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecordCollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTrainingAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Training_Assignment_Onboarding_Link_To_Collection</name>
        <label>Add Training Assignment Onboarding Link To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecordCollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentOnboardingLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resolved_Training_Assignments_For_Linking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_External_Training_Assignment</name>
        <label>Assign Existing External Training Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactTrainingAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Existing_Assignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_External_Training_Requirement_Id_To_Collection</name>
        <label>Assign External Training Requirement Id To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExternalTrainingRequirementIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Existing_Assignments_For_Current_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolved_Assignment_Id_To_AssignmentIdList</name>
        <label>Assign Resolved Assignment Id To AssignmentIdList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resolved_Training_Assignments_For_Id_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactTrainingAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Resolved_Training_Assignments_For_Id_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resolved_Training_Assignments_For_Id_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_Onboarding_Link_Record_Values</name>
        <label>Assign Training Assignment Onboarding Link Record Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecord.Training_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Resolved_Training_Assignments_For_Linking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentOnboardingLinkRecord.Unique_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingAssignmentOnboardingLinkKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Training_Assignment_Onboarding_Link_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Requirement_Id_to_TrainingRequirementIdList</name>
        <label>Assign Training Requirement Id to TrainingRequirementIdList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRequirementIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Vendor_Program_Training_Requirement_Links.Training_Requirement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Program_Training_Requirement_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_New_Training_Assignment</name>
        <label>Assign Values to New Training Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Is_Canonical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Training_System__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Unique_Assignment_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalCanonicalAssignmentKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTrainingAssignmentRecord.Vendor_Training_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Training_Assignment_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Customization_to_VendorProgramIdList</name>
        <label>Assign Vendor Customization to VendorProgramIdList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Canonical_Training_Assignments</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Completed_Passed_Exempt_Assignments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Completed Passed Exempt Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Completed_Passed_Exempt_Assignments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Completed_Passed_Exempt_Assignments.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Completed_Passed_Exempt_Assignments.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Completed_Passed_Exempt_Assignments.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Exempt</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Should_Recalculate_Based_On_Assignment_Status</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Existing_Assignments_For_Current_Requirement</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing Assignments For Current Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_Assignments_For_Current_Requirement</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ExistingTrainingAssignmentRecordCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_Assignments_For_Current_Requirement.Vendor_Training_Requirement__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Training_Requirement_Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Does_External_Training_Assignment_Exist</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Existing_Onboarding_Links_For_Current_Assignment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing Onboarding Links For Current Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_Onboarding_Links_For_Current_Assignment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ExistingTrainingAssignmentOnboardingLinkCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_Onboarding_Links_For_Current_Assignment.Training_Assignment__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Resolved_Training_Assignments_For_Linking.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Does_Onboarding_Link_Already_Exist</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Vendor_Program_Training_Requirement_Links_Found</name>
        <label>Are Vendor Program Training Requirement Links Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No Links Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Links_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgramTrainingRequirementLinkCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendorProgramTrainingRequirementLinkCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Vendor_Program_Training_Requirement_Links</targetReference>
            </connector>
            <label>Yes - Links Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_If_Assignment_Processed</name>
        <label>Determine If Assignment Processed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Assignment Processed</defaultConnectorLabel>
        <rules>
            <name>Yes_Assignment_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Completed_Passed_Exempt_Assignments</targetReference>
            </connector>
            <label>Yes - Assignment Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_External_Training_Assignment_Exist</name>
        <label>Does External Training Assignment Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_New_Training_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Prepare New External Training Assignment</defaultConnectorLabel>
        <rules>
            <name>Yes_Use_Existing_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Existing_Assignments_For_Current_Requirement</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Filtered_Existing_Assignments</targetReference>
            </connector>
            <label>Yes - Use Existing Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Onboarding_Link_Already_Exist</name>
        <label>Does Onboarding Link Already Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Resolved_Training_Assignments_For_Linking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Link Already Exists</defaultConnectorLabel>
        <rules>
            <name>No_Link_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Existing_Onboarding_Links_For_Current_Assignment</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Training_Assignment_Onboarding_Link_Record_Values</targetReference>
            </connector>
            <label>No - Link Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_External_Training_Requirements</name>
        <label>Has External Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_If_Assignment_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No External Training Requirements</defaultConnectorLabel>
        <rules>
            <name>Yes_External_Training_Requirements_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExternalTrainingRequirementIdList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_New_Training_Assignments_To_Create</targetReference>
            </connector>
            <label>Yes - External Training Requirements Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_New_Training_Assignments_To_Create</name>
        <label>Has New Training Assignments To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Resolved_Training_Assignments_For_Target_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No New Assignments To Create</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Assignments_To_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTrainingAssignmentRecordCollectionToCreate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Training_Assignment_Records_Bulk</targetReference>
            </connector>
            <label>Yes - New Assignments To Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Resolved_Training_Assignments</name>
        <label>Has Resolved Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_If_Assignment_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No Resolved Assignments</defaultConnectorLabel>
        <rules>
            <name>Yes_Resolved_Assignments_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Resolved_Training_Assignments_For_Id_Collection</targetReference>
            </connector>
            <label>Yes - Resolved Assignments Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Training_Assignment_Onboarding_Links_To_Create</name>
        <label>Has Training Assignment Onboarding Links To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_If_Assignment_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No Links To Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Links_To_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentOnboardingLinkRecordCollectionToCreate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Training_Assignment_Onboarding_Links_Bulk</targetReference>
            </connector>
            <label>Yes - Links To Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Training_Requirement_External</name>
        <label>Is Training Requirement External</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Training Requirement is Not External</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Requirement_is_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Requirement_Record.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_External_Training_Requirement_Id_To_Collection</targetReference>
            </connector>
            <label>Yes - Training Requirement is External</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Recalculate_Based_On_Assignment_Status</name>
        <label>Should Recalculate Based On Assignment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Skip Recalculate</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Is_Complete_Passed_or_Exempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Completed_Passed_Exempt_Assignments</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_Onboarding_Training_Status</targetReference>
            </connector>
            <label>Yes - Status Is Complete Passed or Exempt</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Contact Object - Subflow - CREATE - Training Assignment Records (m2m canonical reuse)</description>
    <environments>Default</environments>
    <formulas>
        <name>ExternalCanonicalAssignmentKey</name>
        <dataType>String</dataType>
        <expression>{!ContactRecord.Id} &amp; &quot;|&quot; &amp; {!Loop_Training_Requirement_Record.Id}</expression>
    </formulas>
    <formulas>
        <name>TrainingAssignmentOnboardingLinkKey</name>
        <dataType>String</dataType>
        <expression>{!Loop_Resolved_Training_Assignments_For_Linking.Id} &amp; &quot;|&quot; &amp; {!OnboardingRecord.Id}</expression>
    </formulas>
    <interviewLabel>DOMAIN - Contact - SFL - CREATE - Training Assignment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Contact - SFL - CREATE - Training Assignment Records</label>
    <loops>
        <name>Loop_Filtered_Existing_Assignments</name>
        <label>Loop Filtered Existing Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Existing_Assignments_For_Current_Requirement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_External_Training_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Resolved_Training_Assignments_For_Id_Collection</name>
        <label>Loop Resolved Training Assignments For Id Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resolved_Assignment_Id_To_AssignmentIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Onboarding_Links_For_Target_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Resolved_Training_Assignments_For_Linking</name>
        <label>Loop Resolved Training Assignments For Linking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Existing_Onboarding_Links_For_Current_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Training_Assignment_Onboarding_Links_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Training_Requirement_Record</name>
        <label>Loop Training Requirement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Training_Requirement_External</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_External_Training_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Vendor_Program_Training_Requirement_Links</name>
        <label>Loop Vendor Program Training Requirement Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>VendorProgramTrainingRequirementLinkCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Training_Requirement_Id_to_TrainingRequirementIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Requirements_From_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Training_Assignment_Records_Bulk</name>
        <label>Create New Training Assignment Records Bulk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resolved_Training_Assignments_For_Target_Requirements</targetReference>
        </connector>
        <inputReference>NewTrainingAssignmentRecordCollectionToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Assignment_Onboarding_Links_Bulk</name>
        <label>Create Training Assignment Onboarding Links Bulk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_If_Assignment_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Determine_If_Assignment_Processed</targetReference>
        </faultConnector>
        <inputReference>TrainingAssignmentOnboardingLinkRecordCollectionToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Canonical_Training_Assignments</name>
        <label>Get Existing Canonical Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vendor_Program_Training_Requirement_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Canonical__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>ExistingTrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Onboarding_Links_For_Target_Assignments</name>
        <label>Get Existing Onboarding Links For Target Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resolved_Training_Assignments_For_Linking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_Assignment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingAssignmentIdList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment_Onboarding__c</object>
        <outputReference>ExistingTrainingAssignmentOnboardingLinkCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Assignment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Resolved_Training_Assignments_For_Target_Requirements</name>
        <label>Get Resolved Training Assignments For Target Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Resolved_Training_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Canonical__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vendor_Training_Requirement__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ExternalTrainingRequirementIdList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Requirements</name>
        <label>Get Training Requirements (Legacy Fallback)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <object>Training_Requirement__c</object>
        <outputReference>TrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>External_Course_Code__c</queriedFields>
        <queriedFields>External_Course_Name__c</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Training_Code__c</queriedFields>
        <queriedFields>Training_System__c</queriedFields>
        <queriedFields>Training_Type__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Requirements_From_Links</name>
        <label>Get Training Requirements From Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingRequirementIdList</elementReference>
            </value>
        </filters>
        <object>Training_Requirement__c</object>
        <outputReference>TrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>External_Course_Code__c</queriedFields>
        <queriedFields>External_Course_Name__c</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Training_Code__c</queriedFields>
        <queriedFields>Training_System__c</queriedFields>
        <queriedFields>Training_Type__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Program_Training_Requirement_Links</name>
        <label>Get Vendor Program Training Requirement Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Vendor_Program_Training_Requirement_Links_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>In</operator>
            <value>
                <elementReference>VendorProgramIdList</elementReference>
            </value>
        </filters>
        <object>Vendor_Program_Training_Requirement__c</object>
        <outputReference>VendorProgramTrainingRequirementLinkCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Requirement__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Vendor_Customization_to_VendorProgramIdList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Recalculate_Onboarding_Training_Status</name>
        <label>Recalculate Onboarding Training Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_Onboarding_SFL_Update_Onboarding_Record_s_Training_Status</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrainingAssignmentRecord</name>
            <value>
                <elementReference>ContactTrainingAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SkipFanOut</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactTrainingAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Completed_Passed_Exempt_Assignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_Assignments_For_Current_Requirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_Onboarding_Links_For_Current_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ExistingTrainingAssignmentOnboardingLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ExistingTrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ExternalTrainingRequirementIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>NewTrainingAssignmentRecordCollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentOnboardingLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentOnboardingLinkRecordCollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment_Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramTrainingRequirementLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Program_Training_Requirement__c</objectType>
    </variables>
</Flow>
