OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Related_Onboarding_Requirement_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Neither the Onboarding Record Nor the Onboarding Requirement Record Were Passed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_On_Logical_Creation_Path</name>
        <label>Decide On Logical Creation Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Via_OnboardingRequirementRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Related_Record_Based_on_Onboarding_Requirement_Type</targetReference>
            </connector>
            <label>Via OnboardingRequirementRecord</label>
        </rules>
        <rules>
            <name>Via_OnboardingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Via OnboardingRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Related_Record_Based_on_Onboarding_Requirement_Type</name>
        <label>Decide Related Record Based on Onboarding Requirement Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Type Passed Does Not Require Related Record</defaultConnectorLabel>
        <rules>
            <name>Type_is_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementRecord.Requirement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Record</targetReference>
            </connector>
            <label>Type is Agreement</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Related Onboarding Requirement Records</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Related Onboarding Requirement Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_On_Logical_Creation_Path</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Agreement</name>
        <label>Create Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Agreement</flowName>
        <inputAssignments>
            <name>ContractRecord</name>
            <value>
                <elementReference>ContractRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VendorProgram</name>
            <value>
                <elementReference>VendorProgramRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AgreementRecord</assignToReference>
            <name>AgreementRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Agreement</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contract_Records</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContractRecord</assignToReference>
            <name>ContractRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Record</name>
        <label>Get Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Program_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>OnboardingRequirementRecord</name>
            <value>
                <elementReference>OnboardingRequirementRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vendor_Program_Record</name>
        <label>Get Vendor Program Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Vendor_Program</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VendorProgramRecord</assignToReference>
            <name>VendorProgramRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Program_Requirement__c</objectType>
    </variables>
</Flow>
