OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Fault_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Insert_Onboarding_Error_Log</name>
        <label>Insert Onboarding Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OnboardingErrorLogInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finalize_Fault_Without_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextKey</name>
            <value>
                <elementReference>ResolvedContextKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGuid</name>
            <value>
                <elementReference>InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onboardingId</name>
            <value>
                <elementReference>ResolvedOnboardingId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceElementApiName</name>
            <value>
                <elementReference>ResolvedSourceElementApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceFlowApiName</name>
            <value>
                <elementReference>ResolvedSourceFlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>technicalDetail</name>
            <value>
                <elementReference>ResolvedAdminFaultMessageFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessageBase</name>
            <value>
                <elementReference>ResolvedUserFacingMessageFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnboardingErrorLogInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorLogId</assignToReference>
            <name>errorLogId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UserFacingMessage</assignToReference>
            <name>userFacingMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Finalize_Fault_Without_Queue</name>
        <label>Finalize Fault Without Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FaultQueued</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolvedFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolvedFaultMessageFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolvedTriggerReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolvedTriggerReasonFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>DOMAIN LAYER - OmniSObject - SFL - CREATE - Fault Message</description>
    <environments>Default</environments>
    <formulas>
        <name>ResolvedAdminFaultMessageFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(
  {!ResolvedFaultMessageFormula} &amp;
  &quot; | Flow=&quot; &amp; {!ResolvedSourceFlowApiName} &amp;
  &quot; | Element=&quot; &amp; {!ResolvedSourceElementApiName} &amp;
  &quot; | ElementLabel=&quot; &amp; {!ResolvedSourceElementLabel} &amp;
  &quot; | InterviewGuid=&quot; &amp; {!ResolvedInterviewGuid} &amp;
  &quot; | Context=&quot; &amp; {!ResolvedContextKey} &amp;
  IF(
    ISBLANK({!ResolvedOnboardingId}),
    &quot;&quot;,
    &quot; | OnboardingId=&quot; &amp; {!ResolvedOnboardingId}
  ) &amp;
  &quot; | UserId=&quot; &amp; {!$User.Id},
  3900
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedContextKey</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!ContextKey}),
  &quot;NO_CONTEXT&quot;,
  {!ContextKey}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedDefaultErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!DefaultErrorMessage}),
  &quot;Communication dispatch failed.&quot;,
  {!DefaultErrorMessage}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedFaultMessageFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!FaultMessage}),
  {!ResolvedDefaultErrorMessage},
  {!FaultMessage}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedInterviewGuid</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!InterviewGuid}),
  &quot;NO_INTERVIEW_GUID&quot;,
  {!InterviewGuid}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedOnboardingId</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!OnboardingId}),
  {!OnboardingRecord.Id},
  {!OnboardingId}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedSourceElementApiName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!SourceElementApiName}),
  &quot;UNKNOWN_ELEMENT&quot;,
  {!SourceElementApiName}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedSourceElementLabel</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!SourceElementLabel}),
  &quot;UNKNOWN_LABEL&quot;,
  {!SourceElementLabel}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedSourceFlowApiName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!SourceFlowApiName}),
  &quot;UNKNOWN_FLOW&quot;,
  {!SourceFlowApiName}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedTriggerReasonFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(
  {!ResolvedSourceFlowApiName} &amp; &quot;|&quot; &amp;
  {!ResolvedSourceElementApiName} &amp; &quot;|&quot; &amp;
  {!ResolvedContextKey},
  255
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedUserFacingMessageFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!UserFacingMessageOverride}),
  &quot;The communication request could not be completed.&quot;,
  {!UserFacingMessageOverride}
)</expression>
    </formulas>
    <formulas>
        <name>ResolvedUserFacingMessageWithReferenceFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!InterviewGuid}),
  {!ResolvedUserFacingMessageFormula},
  {!ResolvedUserFacingMessageFormula} &amp; &quot; Reference: &quot; &amp; LEFT({!InterviewGuid}, 8)
)</expression>
    </formulas>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Fault Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Fault Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Onboarding_Error_Log</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContextKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaultQueued</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FollowUpType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InterviewGuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogWithoutOnboarding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResolvedFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResolvedTriggerReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceElementApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceElementLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceFlowApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserFacingMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserFacingMessageOverride</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
