OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Opportunity_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Opportunity_Contacts</name>
        <label>Create Opportunity Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RecordCollectionEditorConfigService</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__createdRecords</typeName>
            <typeValue>OpportunityContactRole</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__createdRelationshipRecords</typeName>
            <typeValue>OpportunityContactRole</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Capture_Create_Opportunity_Contact_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configKey</name>
            <value>
                <stringValue>CONTACT_ON_OPPORTUNITY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsJson</name>
            <value>
                <elementReference>opportunityContactRecordsJSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecordCollectionEditorConfigService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OpportunityContactRoleCollection</assignToReference>
            <name>createdRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OpportunityContactRoleRelationshipCollection</assignToReference>
            <name>createdRelationshipRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateRecordsErrorMessages</assignToReference>
            <name>errorMessages</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_Create_Opportunity_Contact_Fault</name>
        <label>Capture Create Opportunity Contact Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CreateRecordsErrorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Opportunity Contact Role</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Opportunity Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Opportunity Contact Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opportunity_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateRecordsErrorMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityContactRecordsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityContactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoleRelationshipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
