OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_External_Contact_Credential_SFL_CREATE_Contact_Training_Assignment_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Onboarding_Record_Found</name>
        <label>Onboarding Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Onboarding Record Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Training_Assignment_Record</targetReference>
            </connector>
            <label>Yes - Onboarding Record Found</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - External Contact Credential Object - Sublfow - CREATE - Contact Training Assignment Record</description>
    <environments>Default</environments>
    <formulas>
        <name>SourceSystem</name>
        <dataType>String</dataType>
        <expression>{!ExternalContactCredentialRecord.Training_Requirement__r.Training_System__r.Name}</expression>
    </formulas>
    <interviewLabel>DOMAIN - External Contact Credential - SFL - CREATE - Contact Training Assignment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - External Contact Credential - SFL - CREATE - Contact Training Assignment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Training_Assignment_Record</name>
        <label>Create Contact Training Assignment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ContactTrainingAssignment.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.POE_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Sent_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Completed__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding__c</field>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Requirement__r.Training_System__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.POE_Process_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Training_Requirement__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Requirement__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Assignment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Associated_with_Contact</name>
        <label>Get Account Associated with Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Onboarding_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalContactCredentialRecord.POE_Contact__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Onboarding_Records</name>
        <label>Get Active Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Record_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Requirement__r.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Initial Review</stringValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <outputReference>OnboardingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding_Status__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Associated_with_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactTrainingAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
