OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_LearnUpon_Contact_Enrollment_Membership_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Capture_Create_User_In_LearnUpon_Fault</name>
        <label>Capture Create User In LearnUpon Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <actionCalls>
        <name>Create_User_In_LearnUpon</name>
        <label>Create User In LearnUpon</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>LearnUponP__learnUponCreateNewUserHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_2_Minutes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>ContactRecord.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>first_name</name>
            <value>
                <elementReference>ContactRecord.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>last_name</name>
            <value>
                <elementReference>ContactRecord.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>learnupon_portal</name>
            <value>
                <stringValue>perfectvision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>PerfectVision10!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sf_contact_id</name>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </inputParameters>
        <faultConnector>
            <targetReference>Capture_Create_User_In_LearnUpon_Fault</targetReference>
        </faultConnector>
        <nameSegment>LearnUponP__learnUponCreateNewUserHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_Required_Inputs_Provided</name>
        <label>Are Required Inputs Provided</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Via_Contact_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_In_LearnUpon</targetReference>
            </connector>
            <label>Via Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_or_Wait_2_Minutes</name>
        <label>Continue or Wait 2 Minutes</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Wait_2_Minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wait 2 Minutes</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponPortalMembership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - LearnUpon Contact Enrollment Membership Record</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - LearnUpon Contact Enrollment Membership Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - LearnUpon Contact Enrollment Membership Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Required_Inputs_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_LearnUpon_Portal_Membership</name>
        <label>Get LearnUpon Portal Membership</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Continue_or_Wait_2_Minutes</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_LearnUpon_Portal_Membership</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LearnUponPortalMembership</assignToReference>
            <name>LearnUponPortalMembershipRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnUponPortalMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LearnUponP__LearnUpon_Portal_Membership__c</objectType>
    </variables>
    <waits>
        <name>Wait_2_Minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 2 Minutes</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_LearnUpon_Portal_Membership</targetReference>
            </connector>
            <label>el_0</label>
            <offset>2</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
