OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Communication_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assigned_Template_Id</name>
        <label>Assign Assigned Template Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TemplateIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Template_Assignments.Communication_Template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Template_Assignments</targetReference>
        </connector>
    </assignments>
    <description>DOMAIN LAYER - OmniSObject - SFL - GET - Communication Template (assignment model)</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Communication Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Communication Template</label>
    <loops>
        <name>Loop_Template_Assignments</name>
        <label>Loop Template Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TemplateAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Assigned_Template_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Communication_Template_By_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Communication_Template_Assignments</name>
        <label>Get Communication Template Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Template_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </filters>
        <object>Communication_Template_Assignment__c</object>
        <outputReference>TemplateAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Communication_Template__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_Template_By_Assignment</name>
        <label>Get Communication Template By Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TemplateIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Communication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Communication_Template__c</object>
        <outputReference>CommunicationTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Template_Id__c</queriedFields>
        <queriedFields>Communication_Type__c</queriedFields>
        <queriedFields>Recipient_Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Communication_Template_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommunicationTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Communication_Template__c</objectType>
    </variables>
    <variables>
        <name>CommunicationType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communication_Template_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TemplateIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
