OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_External_Contact_Credential_SFL_UPDATE_Process_Status_Per_Business.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Is_ECC_Type_Found</name>
        <label>Is ECC Type Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No ECC Type Found</defaultConnectorLabel>
        <rules>
            <name>Yes_ECC_Type_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ECCRecord.External_Contact_Credential_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Process_Status</targetReference>
            </connector>
            <label>Yes ECC Type is Found</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - External Contact Credential Object - Subflow - UPDATE - Process Status Per Business Rule</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - External Contact Credential - SFL - UPDATE - Update Process Status Per Business Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - External Contact Credential - SFL - UPDATE - Process Status Per Business Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Process_Status</name>
        <label>Update Process Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ECCRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>POE_Process_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>POE_External_Contact_Credential__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ECC_Type_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ECCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
</Flow>
