OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Contact_Training_Assignment_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_ContactId_to_List</name>
        <label>Add ContactId to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Account_Contacts_to_Create_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Contacts_to_Create_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Record_To_ContactIdCollection</name>
        <label>Assign Contact Record To ContactIdCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Training_Assignments_Associated_with_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Messge</name>
        <label>Assign Error Messge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did not received Contact Record Collection. or Contact Record as input.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_Id</name>
        <label>Assign Training Assignment Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Assignment_Records_for_Onboarding_Id_List.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordUpdate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Training_Assignment_Id_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Assignment_Id_to_Collection_for_Update</name>
        <label>Assign Training Assignment Id to Collection for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Assignment_Records_for_Onboarding_Id_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Are_We_Updating_Training_Assignment_Record</name>
        <label>How Are We Updating Training Assignment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Received_Contact_or_Contact_Record_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Via Contact or Contact Collection</defaultConnectorLabel>
        <rules>
            <name>Via_LearnUpon_Enrollment_and_Training_Assignment_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LearnUponContactEnrollment_Status_is_Complete_OR_Passed</targetReference>
            </connector>
            <label>Via LearnUpon Enrollment and Training Assignment Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>LearnUponContactEnrollment_Status_is_Complete_OR_Passed</name>
        <label>LearnUponContactEnrollment Status is Complete OR Passed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Record is Already Completed</defaultConnectorLabel>
        <rules>
            <name>Yes_Complete_Or_Passed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentRecord.Date_Completed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Training_Assignment_Record_Complete</targetReference>
            </connector>
            <label>Yes - Complete Or Passed</label>
        </rules>
        <rules>
            <name>No_Not_Complete_Or_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentRecord.Date_Completed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Training_Assignment_Record_Not_Complete</targetReference>
            </connector>
            <label>No - Not Complete Or Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Onboarding_Record_Associated_with_Select_Program</name>
        <label>Is Onboarding Record Associated with Select Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Assignment_Records_for_Onboarding_Id_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Select Program Does Not Need Reassignment</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_Program_Need_Reassignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Assignment_Records_for_Onboarding_Id_List.Onboarding__r.Vendor__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verizon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Training_Assignment_Id</targetReference>
            </connector>
            <label>Yes - Select Program Need Reassignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Received_Contact_or_Contact_Record_Collection</name>
        <label>Received Contact or Contact Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Messge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>errorMessage</defaultConnectorLabel>
        <rules>
            <name>Contact_Record_Collection_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Contacts_to_Create_List</targetReference>
            </connector>
            <label>Contact Record Collection Received</label>
        </rules>
        <rules>
            <name>Contact_Record_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Record_To_ContactIdCollection</targetReference>
            </connector>
            <label>Contact Record Received</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Contact Training Assignment Record</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Contact Training Assignment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Contact Training Assignment Record</label>
    <loops>
        <name>Loop_Account_Contacts_to_Create_List</name>
        <label>Loop Account Contacts to Create List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContactRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ContactId_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Assignments_Associated_with_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Training_Assignment_Records_for_Onboarding_Id_List</name>
        <label>Loop Training Assignment Records for Onboarding Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Onboarding_Record_Associated_with_Select_Program</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Training_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Training_Assignments_Associated_with_Contacts</name>
        <label>Get Training Assignments Associated with Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Training_Assignment_Records_for_Onboarding_Id_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIdCollection</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Training_Assignment_Record_Complete</name>
        <label>Update Training Assignment Record Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrainingAssignmentRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Assignment_Record_Not_Complete</name>
        <label>Update Training Assignment Record Not Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrainingAssignmentRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Assignments</name>
        <label>Update Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TrainingAssignmentRecordCollectionUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_Are_We_Updating_Training_Assignment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnUponContactEnrollmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollectionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssingmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggeringContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
