OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Onboarding_SFL_Get_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Onboarding_Record_for_Output</name>
        <label>Assign Onboarding Record for Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Onboarding_Records_Found_to_OnboardingRecord_Collection</name>
        <label>Assign Onboarding Records Found to OnboardingRecord Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Records_on_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record_with_Verizon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Record_to_List</name>
        <label>Add Opportunity Record to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunity_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verizon_Onboarding_Record_Found_to_OnboardingRecord</name>
        <label>Assign Verizon Onboarding Record Found to OnboardingRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Record_with_Verizon</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_We_Filtering_or_Just_Retreiving</name>
        <label>Are We Filtering or Just Retreiving</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Onboarding_Records_via_Contact_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>We Are Retreiving</defaultConnectorLabel>
        <rules>
            <name>We_Are_Filtering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Onboarding_Records_via_Contact_List_and_Onboarding_List</targetReference>
            </connector>
            <label>We Are Filtering</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_Path</name>
        <label>Decide on Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>TempPathForVerizon</defaultConnectorLabel>
        <rules>
            <name>Go_Via_TrainingAssignmentRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Records</targetReference>
            </connector>
            <label>Go Via TrainingAssignmentRecord</label>
        </rules>
        <rules>
            <name>Go_Via_AccountRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Records_on_Account</targetReference>
            </connector>
            <label>Go Via AccountRecord</label>
        </rules>
        <rules>
            <name>Go_Via_ContactRecord_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Records</targetReference>
            </connector>
            <label>Go Via ContactRecord List</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Onboarding Object - Subflow - Get Records</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Onboarding - SFL - Get Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - Get Records</label>
    <loops>
        <name>Loop_Opportunity_Records</name>
        <label>Loop Opportunity Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OpportunityRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Record_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_We_Filtering_or_Just_Retreiving</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Filter_Onboarding_Records_via_Contact_List_and_Onboarding_List</name>
        <label>Filter Onboarding Records via Contact List and Onboarding List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>OnboardingRecordList</elementReference>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <outputReference>OnboardingRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Record_with_Verizon</name>
        <label>Get Onboarding Record with Verizon</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verizon_Onboarding_Record_Found_to_OnboardingRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerizonVendorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Onboarding_Record_for_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrainingAssignmentRecord.Onboarding__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Records_on_Account</name>
        <label>Get Onboarding Records on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Onboarding_Records_Found_to_OnboardingRecord_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Records_via_Contact_List</name>
        <label>Get Onboarding Records via Contact List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityRecordList</elementReference>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <outputReference>OnboardingRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selected_Opportunity_Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_on_Path</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>VerizonVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
