OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Onboarding_SFL_GET_Communication_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Communication_Template_to_CommunicationTemplateRecord</name>
        <label>Assign Communication Template to CommunicationTemplateRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CommunicationTemplateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Communication_Template</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>DOMAIN LAYER - Onboarding Record - Subflow - GET - Communication Template</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Onboarding - SFL - GET - Communication Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Onboarding - SFL - GET - Communication Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Communication_Template</name>
        <label>Get Communication Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Communication_Template_to_CommunicationTemplateRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Communication_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Communication_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommunicationTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Communication_Template__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
