OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_External_Contact_Credential_SFL_GET_Vendor_Customization.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>DOMAIN LAYER - External Contact Credential Object - Subflow - GET - Vendor Customization</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - External Contact Credential - SFL - GET - Vendor Customization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - External Contact Credential - SFL - GET - Vendor Customization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vendor_Customization</name>
        <label>Get Vendor Customization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vendor_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalContactCredentialRecord.External_Contact_Credential_Type__r.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <object>Vendor_Customization__c</object>
        <outputReference>VendorCustomizationRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Record</name>
        <label>Get Vendor Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalContactCredentialRecord.Vendor__c</elementReference>
            </value>
        </filters>
        <object>Vendor__c</object>
        <outputReference>VendorRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vendor_Customization</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExternalContactCredentialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>VendorCustomizationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
</Flow>
