OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Account_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Id_to_Account_Record_List_via_Agreement_Record_Collection</name>
        <label>Assign Account Id to Account Record List via Agreement Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Agreement_Record_Collection.echosign_dev1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Agreement_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id_to_Account_Record_List_via_Contact_Record</name>
        <label>Assign Account Id to Account Record List via Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact_Record_Collection.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id_to_Account_Record_List_via_Contract_Record_Collection</name>
        <label>Assign Account Id to Account Record List via Contract Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contract_Record_Collection.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id_to_Account_Record_List_via_Opportunity_Record_Collection</name>
        <label>Assign Account Id to Account Record List via Opportunity Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunity_Record_Collection.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_via_AgreementRecord_to_AccountRecord</name>
        <label>Assign Account Record via AgreementRecord to AccountRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_via_Agreement_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_via_ContactRecord_to_AccountRecord</name>
        <label>Assign Account Record via ContactRecord to AccountRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_via_Contact_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_via_ContractRecord_to_AccountRecord</name>
        <label>Assign Account Record via ContractRecord to AccountRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_via_Contract_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_via_OnboardingRecord_to_AccountRecord</name>
        <label>Assign Account Record via OnboardingRecord to AccountRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_via_Onboarding_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_via_OpportunityRecord_to_AccountRecord</name>
        <label>Assign Account Record via OpportunityRecord to AccountRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_via_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Records_to_accountId</name>
        <label>Assign Account Records to accountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_from_AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Records_to_AccountRecordCollection</name>
        <label>Assign Account Records to AccountRecordCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_via_Contact_Record_List</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_errorMessage</name>
        <label>Assign errorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Record, Onboarding Record, Opportunity Record, Contract Record, nor Agreement Record provided to get Account Record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Account_Id_to_Account_Record_List_via_Contact_Record_Id</name>
        <label>Assign Account Id to Account Record List via Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Record_Collection.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Logic_on_Get_Command</name>
        <label>Determine Logic on Get Command</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_errorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Via_Contact_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_via_Contact_Record</targetReference>
            </connector>
            <label>Via Contact Record</label>
        </rules>
        <rules>
            <name>Via_Contact_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordCollection</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Contact_Record_Collection</targetReference>
            </connector>
            <label>Via Contact Record Collection</label>
        </rules>
        <rules>
            <name>Via_Onboarding_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_via_Onboarding_Record</targetReference>
            </connector>
            <label>Via Onboarding Record</label>
        </rules>
        <rules>
            <name>Via_Onboarding_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Onboarding_Record_Collection</targetReference>
            </connector>
            <label>Via Onboarding Record Collection</label>
        </rules>
        <rules>
            <name>Via_Opportunity_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_via_Opportunity_Record</targetReference>
            </connector>
            <label>Via Opportunity Record</label>
        </rules>
        <rules>
            <name>Via_Opportunity_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunity_Record_Collection</targetReference>
            </connector>
            <label>Via Opportunity Record Collection</label>
        </rules>
        <rules>
            <name>Via_Contract_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_via_Contract_Record</targetReference>
            </connector>
            <label>Via Contract Record</label>
        </rules>
        <rules>
            <name>Via_Contract_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contract_Record_Collection</targetReference>
            </connector>
            <label>Via Contract Record Collection</label>
        </rules>
        <rules>
            <name>Via_Agreement_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_via_Agreement_Record</targetReference>
            </connector>
            <label>Via Agreement Record</label>
        </rules>
        <rules>
            <name>Via_Agreement_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Agreement_Record_Collection</targetReference>
            </connector>
            <label>Via Agreement Record Collection</label>
        </rules>
        <rules>
            <name>Via_Account_Record_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_via_Contact_Record_List</targetReference>
            </connector>
            <label>Via Account Record List</label>
        </rules>
        <rules>
            <name>via_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_from_AccountId</targetReference>
            </connector>
            <label>via Account Id</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - GET - Account Record(s)</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Account Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Account Record</label>
    <loops>
        <name>Loop_Agreement_Record_Collection</name>
        <label>Loop Agreement Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AgreementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id_to_Account_Record_List_via_Agreement_Record_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Record_via_Contact_Record_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contact_Record_Collection</name>
        <label>Loop Contact Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContactRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id_to_Account_Record_List_via_Contact_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Record_via_Contact_Record_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contract_Record_Collection</name>
        <label>Loop Contract Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContactRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id_to_Account_Record_List_via_Contract_Record_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Record_via_Contact_Record_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Onboarding_Record_Collection</name>
        <label>Loop Onboarding Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Account_Id_to_Account_Record_List_via_Contact_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Record_via_Contact_Record_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunity_Record_Collection</name>
        <label>Loop Opportunity Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OpportunityRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id_to_Account_Record_List_via_Opportunity_Record_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Record_via_Contact_Record_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record_from_AccountId</name>
        <label>Get Account Record from accountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Records_to_accountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_via_Agreement_Record</name>
        <label>Get Account Record via Agreement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Record_via_AgreementRecord_to_AccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementRecord.echosign_dev1__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_via_Contact_Record</name>
        <label>Get Account Record via Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Record_via_ContactRecord_to_AccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_via_Contact_Record_List</name>
        <label>Get Account Record via Contact Record List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Records_to_AccountRecordCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountRecordList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_via_Contract_Record</name>
        <label>Get Account Record via Contract Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Record_via_ContractRecord_to_AccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_via_Onboarding_Record</name>
        <label>Get Account Record via Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Record_via_OnboardingRecord_to_AccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_via_Opportunity_Record</name>
        <label>Get Account Record via Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Record_via_OpportunityRecord_to_AccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Logic_on_Get_Command</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AgreementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
