OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message_Missing_Onboarding_Requirement_Id</name>
        <label>Assign Error Message Missing Onboarding Requirement Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding Requirement Id was not passed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Missing_Onboarding_Requirement_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_Onboarding_Requirement_Not_Found</name>
        <label>Assign Error Message Onboarding Requirement Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent Onboarding Requirement record was not found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Onboarding_Requirement_Not_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Canceled</name>
        <label>Assign Rolled Up Status Canceled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Denied</name>
        <label>Assign Rolled Up Status Denied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Expired</name>
        <label>Assign Rolled Up Status Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_In_Process</name>
        <label>Assign Rolled Up Status In Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_New</name>
        <label>Assign Rolled Up Status New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Paperwork_Sent</name>
        <label>Assign Rolled Up Status Paperwork Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paperwork Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Pending_Initial_Review</name>
        <label>Assign Rolled Up Status Pending Initial Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Initial Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Pending_Sales</name>
        <label>Assign Rolled Up Status Pending Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rolled_Up_Status_Setup_Complete</name>
        <label>Assign Rolled Up Status Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RolledUpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setup Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolledUpCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Counts</name>
        <label>Assign Status Counts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OnboardingRequirementSubjectCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeniedSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Denied_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CanceledSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Canceled_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpiredSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Expired_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupCompleteSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Setup_Complete_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingSalesSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Pending_Sales_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InProcessSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_In_Process_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingInitialReviewSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Pending_Initial_Review_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaperworkSentSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Paperwork_Sent_Subjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Rolled_Up_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_Onboarding_Requirement</name>
        <label>Assign Values To Onboarding Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardingRequirementRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolledUpStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingRequirementRecord.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolledUpCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Update_Onboarding_Requirement_Fault</name>
        <label>Capture Update Onboarding Requirement Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Update_Onboarding_Requirement_Fault</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Canceled_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Canceled Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Canceled_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Canceled_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Canceled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Expired_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Denied_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Denied Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Denied_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Denied_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Denied</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Canceled_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Expired_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Expired Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Expired_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Expired_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Expired</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Setup_Complete_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_In_Process_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter In Process Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_In_Process_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_In_Process_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>In Process</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Pending_Initial_Review_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Paperwork_Sent_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Paperwork Sent Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Paperwork_Sent_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Paperwork_Sent_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Paperwork Sent</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Status_Counts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Pending_Initial_Review_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pending Initial Review Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Pending_Initial_Review_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pending_Initial_Review_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Pending Initial Review</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Paperwork_Sent_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Pending_Sales_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pending Sales Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Pending_Sales_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pending_Sales_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Pending Sales</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_In_Process_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Setup_Complete_Subjects</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Setup Complete Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Setup_Complete_Subjects</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Setup_Complete_Subjects.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Setup Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Pending_Sales_Subjects</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Determine_Rolled_Up_Status</name>
        <label>Determine Rolled Up Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Rolled_Up_Status_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeniedSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Denied</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanceledSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiredSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Expired</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>All_Setup_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalSubjectCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetupCompleteSubjectCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Setup_Complete</targetReference>
            </connector>
            <label>All Setup Complete</label>
        </rules>
        <rules>
            <name>Pending_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingSalesSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Pending_Sales</targetReference>
            </connector>
            <label>Pending Sales</label>
        </rules>
        <rules>
            <name>In_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InProcessSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_In_Process</targetReference>
            </connector>
            <label>In Process</label>
        </rules>
        <rules>
            <name>Pending_Initial_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingInitialReviewSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Pending_Initial_Review</targetReference>
            </connector>
            <label>Pending Initial Review</label>
        </rules>
        <rules>
            <name>Paperwork_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaperworkSentSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_Paperwork_Sent</targetReference>
            </connector>
            <label>Paperwork Sent</label>
        </rules>
        <rules>
            <name>Some_Setup_Complete_But_Not_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetupCompleteSubjectCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rolled_Up_Status_In_Process</targetReference>
            </connector>
            <label>Some Setup Complete But Not All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Get_Onboarding_Requirement_Subjects_Fail</name>
        <label>Did Get Onboarding Requirement Subjects Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_Denied_Subjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Get_Onboarding_Requirement_Subjects_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Get_Onboarding_Requirement_Subjects_Fault</targetReference>
            </connector>
            <label>Get Onboarding Requirement Subjects Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Onboarding_Requirement_Id</name>
        <label>Has Onboarding Requirement Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_Missing_Onboarding_Requirement_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Requirement_Id_Was_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRequirementId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirement</targetReference>
            </connector>
            <label>Onboarding Requirement Id Was Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Onboarding_Requirement_Record</name>
        <label>Has Onboarding Requirement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_Onboarding_Requirement_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Requirement_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirement_Subjects</targetReference>
            </connector>
            <label>Onboarding Requirement Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Onboarding_Requirement</name>
        <label>Should Update Onboarding Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Status_Or_Completed_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementRecord.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RolledUpStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRequirementRecord.Completed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RolledUpCompleted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_To_Onboarding_Requirement</targetReference>
            </connector>
            <label>Status Or Completed Changed</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - EVAL - Onb Req Subjects - Parent rollup</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - EVAL - Onb Req Subjects - Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - EVAL - Onb Req Subjects - Parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Requirement</name>
        <label>Get Onboarding Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Onboarding_Requirement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRequirementId</elementReference>
            </value>
        </filters>
        <object>Onboarding_Requirement__c</object>
        <outputReference>OnboardingRequirementRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Completed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Requirement</name>
        <label>Update Onboarding Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Capture_Update_Onboarding_Requirement_Fault</targetReference>
        </faultConnector>
        <inputReference>OnboardingRequirementRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Onboarding_Requirement_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Onboarding_Requirement_Subjects</name>
        <label>Get Onboarding Requirement Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Get_Onboarding_Requirement_Subjects_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Requirement_Subjects</flowName>
        <inputAssignments>
            <name>OnboardingRequirementId</name>
            <value>
                <elementReference>OnboardingRequirementRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRequirementSubjectCollection</assignToReference>
            <name>OnboardingRequirementSubjectCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Get_Onboarding_Requirement_Subjects_Fault</name>
        <label>Handle Get Onboarding Requirement Subjects Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>OnboardingRequirementRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding requirement subject retrieval failed during evaluation.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingId</name>
            <value>
                <elementReference>OnboardingRequirementRecord.Onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Get_Onboarding_Requirement_Subjects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Get_Onboarding_Requirement_Subjects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>

        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_Parent</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Missing_Onboarding_Requirement_Id</name>
        <label>Handle Missing Onboarding Requirement Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>OnboardingRequirementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding requirement subject evaluation was invoked without an onboarding requirement id.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogWithoutOnboarding</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Has_Onboarding_Requirement_Id</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Has_Onboarding_Requirement_Id</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>

        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_Parent</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Onboarding_Requirement_Not_Found</name>
        <label>Handle Onboarding Requirement Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>OnboardingRequirementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding requirement subject evaluation could not find the parent onboarding requirement.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogWithoutOnboarding</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Get_Onboarding_Requirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Get_Onboarding_Requirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>

        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_Parent</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Update_Onboarding_Requirement_Fault</name>
        <label>Handle Update Onboarding Requirement Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Fault_Message</flowName>
        <inputAssignments>
            <name>ContextKey</name>
            <value>
                <elementReference>OnboardingRequirementRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultErrorMessage</name>
            <value>
                <stringValue>Onboarding requirement subject evaluation update failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FollowUpType</name>
            <value>
                <stringValue>In-App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InitialStatus</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingId</name>
            <value>
                <elementReference>OnboardingRequirementRecord.Onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementApiName</name>
            <value>
                <stringValue>Update_Onboarding_Requirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceElementLabel</name>
            <value>
                <stringValue>Update_Onboarding_Requirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>

        <inputAssignments>
            <name>SourceFlowApiName</name>
            <value>
                <stringValue>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_Parent</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>ResolvedFaultMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CanceledSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Canceled_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Denied_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Expired_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_In_Process_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Paperwork_Sent_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Pending_Initial_Review_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Pending_Sales_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Setup_Complete_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>DeniedSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpiredSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InProcessSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OnboardingRequirementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRequirementSubjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>PaperworkSentSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PendingInitialReviewSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PendingSalesSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RolledUpCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RolledUpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetupCompleteSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
