OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_For_Onb_Rec.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Changed_Onboarding_Requirements_Bulk</name>
        <label>Evaluate Changed Onboarding Requirements Bulk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OnbReqParentBulkEvalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_Evaluate_Changed_Onboarding_Requirement_Fail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Capture_Evaluate_Changed_Onboarding_Requirements_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>onboardingRequirementIds</name>
            <value>
                <elementReference>ChangedOnboardingRequirementIdCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OnbReqParentBulkEvalInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>parentEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Changed_Onboarding_Requirement_Ids_From_Account</name>
        <label>Add Changed Onboarding Requirement Ids From Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangedOnboardingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subjectEvaluatorChangedRequirementIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Changed_Onboarding_Requirement_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Changed_Onboarding_Requirement_Ids_From_Contact</name>
        <label>Add Changed Onboarding Requirement Ids From Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangedOnboardingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subjectEvaluatorChangedRequirementIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Evaluate_Account_Subjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Evaluate_Changed_Onboarding_Requirements_Fault</name>
        <label>Capture Evaluate Changed Onboarding Requirements Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parentEvaluatorErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Parent_Evaluator_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Evaluation_Contact_Id_From_Override</name>
        <label>Assign Evaluation Contact Id From Override</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactIdOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Evaluation_Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Evaluation_Contact_Id_From_Primary_Contact</name>
        <label>Assign Evaluation Contact Id From Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityContactRoleRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Evaluation_Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Get_Primary_Opportunity_Contact_Error_Message</name>
        <label>Assign Get Primary Opportunity Contact Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryOpportunityContactErrorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Missing_Input_Error_Message</name>
        <label>Assign Missing Input Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OnboardingRecord, RequirementType, and EvidenceStatus are required.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Parent_Evaluator_Error_Message</name>
        <label>Assign Parent Evaluator Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentEvaluatorErrorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Subject_Evaluator_Error_Message</name>
        <label>Assign Subject Evaluator Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEvaluatorErrorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Parent_Evaluator_Error_Message</name>
        <label>Reset Parent Evaluator Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parentEvaluatorErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Changed_Onboarding_Requirements_Bulk</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Evaluate_Changed_Onboarding_Requirement_Fail</name>
        <label>Did Evaluate Changed Onboarding Requirement Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Changed_Onboarding_Requirement_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Evaluator_Error_Message</targetReference>
            </connector>
            <label>Evaluate Changed Onboarding Requirement Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Evaluate_Subjects_By_Account_Fail</name>
        <label>Did Evaluate Subjects By Account Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Changed_Onboarding_Requirement_Ids_From_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Subjects_By_Account_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Evaluator_Error_Message</targetReference>
            </connector>
            <label>Evaluate Subjects By Account Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Evaluate_Subjects_By_Contact_Fail</name>
        <label>Did Evaluate Subjects By Contact Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Changed_Onboarding_Requirement_Ids_From_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Subjects_By_Contact_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subjectEvaluatorErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Evaluator_Error_Message</targetReference>
            </connector>
            <label>Evaluate Subjects By Contact Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Get_Primary_Opportunity_Contact_Fail</name>
        <label>Did Get Primary Opportunity Contact Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Evaluation_Contact_Id_From_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault</defaultConnectorLabel>
        <rules>
            <name>Get_Primary_Opportunity_Contact_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryOpportunityContactErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>primaryOpportunityContactErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Get_Primary_Opportunity_Contact_Error_Message</targetReference>
            </connector>
            <label>Get Primary Opportunity Contact Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Fallback</name>
        <label>Has Account Fallback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Account Fallback</defaultConnectorLabel>
        <rules>
            <name>Account_Fallback_Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Subjects_By_Account</targetReference>
            </connector>
            <label>Account Fallback Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Changed_Onboarding_Requirement_Ids</name>
        <label>Has Changed Onboarding Requirement Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Parent Reevaluation Needed</defaultConnectorLabel>
        <rules>
            <name>Changed_Onboarding_Requirement_Ids_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangedOnboardingRequirementIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChangedOnboardingRequirementIdCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Parent_Evaluator_Error_Message</targetReference>
            </connector>
            <label>Changed Onboarding Requirement Ids Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contact_Id_Override</name>
        <label>Has Contact Id Override</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Primary_Opportunity_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Id Override</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_Override_Was_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactIdOverride</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactIdOverride</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Evaluation_Contact_Id_From_Override</targetReference>
            </connector>
            <label>Contact Id Override Was Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Evaluation_Contact_Id</name>
        <label>Has Evaluation Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Account_Fallback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Id</defaultConnectorLabel>
        <rules>
            <name>Evaluation_Contact_Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvaluationContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvaluationContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Subjects_By_Contact</targetReference>
            </connector>
            <label>Evaluation Contact Id Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Required_Inputs</name>
        <label>Has Required Inputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Missing_Input_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Required Inputs</defaultConnectorLabel>
        <rules>
            <name>Required_Inputs_Were_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvidenceStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvidenceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Contact_Id_Override</targetReference>
            </connector>
            <label>Required Inputs Were Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Evaluate_Account_Subjects</name>
        <label>Should Evaluate Account Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Changed_Onboarding_Requirement_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Fallback Needed</defaultConnectorLabel>
        <rules>
            <name>Account_Fallback_Is_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectEvaluatorMatchedSubjectCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Subjects_By_Account</targetReference>
            </connector>
            <label>Account Fallback Is Required</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - EVAL - Onboarding Requirement Subjects</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - EVAL - Onb Req Subjects - For Onb Rec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - EVAL - Onboarding Requirement Subjects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Required_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Subjects_By_Account</name>
        <label>Evaluate Subjects By Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evaluate_Subjects_By_Account_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>EvidenceStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorChangedRequirementIdCollection</assignToReference>
            <name>ChangedOnboardingRequirementIdCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_Subjects_By_Contact</name>
        <label>Evaluate Subjects By Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Evaluate_Subjects_By_Contact_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>EvaluationContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvidenceStatus</name>
            <value>
                <elementReference>EvidenceStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorChangedRequirementIdCollection</assignToReference>
            <name>ChangedOnboardingRequirementIdCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subjectEvaluatorMatchedSubjectCount</assignToReference>
            <name>MatchedSubjectCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Primary_Opportunity_Contact</name>
        <label>Get Primary Opportunity Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Get_Primary_Opportunity_Contact_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Primary_Opportunity_Contact</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>primaryOpportunityContactErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityContactRoleRecord</assignToReference>
            <name>OpportunityContactRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ChangedOnboardingRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdOverride</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EvaluationContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EvidenceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>parentEvaluatorErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryOpportunityContactErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequirementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEvaluatorChangedRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEvaluatorErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEvaluatorMatchedSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
