OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Training_Requirement_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Vendor_Program_Record_Id_to_VendorProgramList</name>
        <label>Assign Vendor Program Record Id to VendorProgramList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentVendorProgramRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Program_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Program_Record_to_VendorProgramList</name>
        <label>Assign Vendor Program Record to VendorProgramList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Training_Requirement_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Are_We_Getting_Training_Requirements</name>
        <label>How Are We Getting Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Requirement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Via Vendor Program Id List</defaultConnectorLabel>
        <rules>
            <name>Via_Vendor_Program_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgramRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VendorProgramRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Vendor_Program_Record_Collection</targetReference>
            </connector>
            <label>Via Vendor Program Record Collection</label>
        </rules>
        <rules>
            <name>Via_Vendor_Program_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorProgramRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_Program_Record_to_VendorProgramList</targetReference>
            </connector>
            <label>Via Vendor Program Record</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - GET - Training Requirement Records</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Training Requirement Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Training Requirement Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <loops>
        <name>Loop_Vendor_Program_Record_Collection</name>
        <label>Loop Vendor Program Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>VendorProgramRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vendor_Program_Record_Id_to_VendorProgramList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Requirement_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <recordLookups>
        <name>Get_Training_Requirement_Records</name>
        <label>Get Training Requirement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>In</operator>
            <value>
                <stringValue>{!VendorProgramList}</stringValue>
            </value>
        </filters>
        <object>Training_Requirement__c</object>
        <outputReference>TrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <queriedFields>Training_Code__c</queriedFields>
        <queriedFields>Training_Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_Are_We_Getting_Training_Requirements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorProgramList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentVendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
