OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Training_Assignment_SFL_GET_Training_Assignment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_We_Provided_Records_to_Filter_Against</name>
        <label>Are We Provided Records to Filter Against</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Not Provided Records</defaultConnectorLabel>
        <rules>
            <name>Yes_Provided_Records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Are_We_Filtering_Training_Assignments</targetReference>
            </connector>
            <label>Yes - Provided Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Are_We_Filtering_Training_Assignments</name>
        <label>How Are We Filtering Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Fallback</defaultConnectorLabel>
        <rules>
            <name>Filter_Via_Onboarding_Records</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Get_Training_Assignment_Records_via_Onboarding</targetReference>
            </connector>
            <label>Filter Via Onboarding Records</label>
        </rules>
        <rules>
            <name>Filter_Via_Contact_Records_Only</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Get_Training_Assignment_Records_via_Contacts</targetReference>
            </connector>
            <label>Filter Via Contact Records Only</label>
        </rules>
        <rules>
            <name>Filter_Via_Contacts_and_Onboarding_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Get_Training_Assignment_Records_via_Contacts_Onboarding</targetReference>
            </connector>
            <label>Filter Via Contacts and Onboarding Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Are_We_Getting_Training_Assignments</name>
        <label>How Are We Getting Training Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Are_We_Provided_Records_to_Filter_Against</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filtering Records</defaultConnectorLabel>
        <rules>
            <name>Via_Onboarding_Record</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Assignment_Records_via_Onboarding</targetReference>
            </connector>
            <label>Via Onboarding Records</label>
        </rules>
        <rules>
            <name>Via_Contact_Records_Only</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Assignment_Records_via_Contact</targetReference>
            </connector>
            <label>Via Contact Records Only</label>
        </rules>
        <rules>
            <name>Via_Contacts_and_Onboarding_Records</name>
            <conditionLogic>(1 AND 2) AND (3 AND 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingAssignmentList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Assignment_Records_that_are_Common_Contact_and_Onboarding_Records</targetReference>
            </connector>
            <label>Via Contacts and Onboarding Records</label>
        </rules>
    </decisions>
    <description>DOMAIN - Training Assignment - SFL - GET - Training Assignment Records</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Training Assignment - SFL - GET - Training Assignment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Training Assignment - SFL - GET - Training Assignment Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Filter_Get_Training_Assignment_Records_via_Contacts</name>
        <label>Filter Get Training Assignment Records via Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>TrainingAssignmentList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Filter_Get_Training_Assignment_Records_via_Contacts_Onboarding</name>
        <label>Filter Get Training Assignment Records via Contacts &amp; Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>TrainingAssignmentList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Filter_Get_Training_Assignment_Records_via_Onboarding</name>
        <label>Filter Get Training Assignment Records via Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>TrainingAssignmentList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Assignment_Records_that_are_Common_Contact_and_Onboarding_Records</name>
        <label>Get Training Assignment Records that are Common Contact and Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingRecordList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Assignment_Records_via_Contact</name>
        <label>Get Training Assignment Records via Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactRecordList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Assignment_Records_via_Onboarding</name>
        <label>Get Training Assignment Records via Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingRecordList</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Training_Requirement__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_Are_We_Getting_Training_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
</Flow>
