OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_GET_Onboarding_Requirement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding Record Id was not passed.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_On_Logical_Get_Path</name>
        <label>Decide On Logical Get Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Via_Onboarding_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirements</targetReference>
            </connector>
            <label>Via Onboarding Record</label>
        </rules>
        <rules>
            <name>Via_OnboardingRequirementId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Requirement</targetReference>
            </connector>
            <label>Via OnboardingRequirementId</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - GET - Onboarding Requirement</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - GET - Onboarding Requirement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - GET - Onboarding Requirement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Requirement</name>
        <label>Get Onboarding Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRequirementId</elementReference>
            </value>
        </filters>
        <object>Onboarding_Requirement__c</object>
        <outputReference>OnboardingRequirementRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Program_Requirement__c</queriedFields>
        <queriedFields>Requirement_Type__c</queriedFields>
        <queriedFields>Approval_Policy_Key__c</queriedFields>
        <queriedFields>Fulfillment_Policy_Key__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Requirements</name>
        <label>Get Onboarding Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <object>Onboarding_Requirement__c</object>
        <outputReference>OnboardingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
        <queriedFields>Vendor_Program_Requirement__c</queriedFields>
        <queriedFields>Requirement_Type__c</queriedFields>
        <queriedFields>Approval_Policy_Key__c</queriedFields>
        <queriedFields>Fulfillment_Policy_Key__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_On_Logical_Get_Path</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRequirementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Requirement__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Requirement__c</objectType>
    </variables>
</Flow>
