OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_Contact_SFL_UPDATE_Contact_Fields_with_ECC_Information.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Value_of_ECC_CIM_Workers</name>
        <label>Assign Value of ECC CIM Workers #</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.ECC_CIM_Workers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ECCRecord.POE_Username__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_of_ECC_PIN</name>
        <label>Assign Value of ECC PIN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.ECC_PIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ECCRecord.POE_Username__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_of_ECC_SSO_ID</name>
        <label>Assign Value of ECC SSO ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.ECC_Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ECCRecord.POE_Username__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Record_Type_Are_We_Updating</name>
        <label>What Record Type Are We Updating?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None of the Above</defaultConnectorLabel>
        <rules>
            <name>SSO_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ECCRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSO ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_of_ECC_SSO_ID</targetReference>
            </connector>
            <label>SSO ID</label>
        </rules>
        <rules>
            <name>CIM_Workers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ECCRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIM Workers #</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_of_ECC_CIM_Workers</targetReference>
            </connector>
            <label>CIM Workers #</label>
        </rules>
        <rules>
            <name>PIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ECCRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_of_ECC_PIN</targetReference>
            </connector>
            <label>PIN</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - Contact Object - Subflow - UPDATE - Contact Fields with ECC Information</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - Contact - SFL - UPDATE - Contact Fields with ECC Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - Contact - SFL - UPDATE - Contact Fields with ECC Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Record_Type_Are_We_Updating</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ECCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>ECCRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
