OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Changed_Opportunity_to_OpportunityRecordCollectionToUpdate</name>
        <label>Add Changed Opportunity to OpportunityRecordCollectionToUpdate</label>
        <locationX>3086</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecordCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunity_Record_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prior_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_Record_to_OpportunityRecordCollectionToUpdate</name>
        <label>Add Opportunity Record to OpportunityRecordCollectionToUpdate</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecordCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Id_to_OpportunityRecord</name>
        <label>Assign Opportunity Id to OpportunityRecord</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Filter_Opportunity_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Opportunity_Record_to_OpportunityRecordCollectionToUpdate</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Opportunity_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Opportunity Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_Opportunity_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OpportunityRecordCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Opportunity_Records.Vendor_Customization__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Opportunity_Records.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Did_We_Find_Opportunity_Records_Already_Created</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Create_Or_Update</name>
        <label>Create Or Update</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Opportunity_Record_to_OpportunityRecordCollectionToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Opportunity_Records</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Opportunity_Record_Has_Changed</name>
        <label>Decide if Opportunity Record Has Changed</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Prior_Opportunity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Has Not Changed</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Has_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Prior_Opportunity_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Opportunity_Record_Collection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Changed_Opportunity_to_OpportunityRecordCollectionToUpdate</targetReference>
            </connector>
            <label>Opportunity Has Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Prior_Opportunity_Id_Matches_Opportunity_Id</name>
        <label>Decide if Prior Opportunity Id Matches Opportunity Id</label>
        <locationX>3372</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Prior_Opportunity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Ids Do Not Match</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Id_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Prior_Opportunity_Records.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Opportunity_Record_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_if_Opportunity_Record_Has_Changed</targetReference>
            </connector>
            <label>Yes - Opportunity Id Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_on_Creation_Method_Via_Input</name>
        <label>Decide on Creation Method Via Input</label>
        <locationX>1359</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Via_OpportunityRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Or_Update</targetReference>
            </connector>
            <label>Via OpportunityRecord</label>
        </rules>
        <rules>
            <name>Via_Opportunity_Record_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunity_Record_Collection</targetReference>
            </connector>
            <label>Via Opportunity Record Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Opportunity_Records_Already_Created</name>
        <label>Did We Find Opportunity Records Already Created</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Id_to_OpportunityRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Opportunity Records Not Found</defaultConnectorLabel>
        <rules>
            <name>No_Opportunity_Records_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Filter_Opportunity_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Record</targetReference>
            </connector>
            <label>No - Opportunity Records Not Found</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <expression>IF({!OpportunityRecord.Vendor_Customization__r.Vendor__r.Name} = &quot;PerfectVision&quot;, TEXT({!OpportunityRecord.Program_Type__c}) &amp; &quot; Opportunity&quot;, {!OpportunityRecord.Vendor_Customization__r.Vendor__r.Name} &amp; &quot; Dealer Opportunity&quot;)</expression>
    </formulas>
    <interviewLabel>DOMAIN - OmniSObject - SFL - Crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Opportunity</label>
    <loops>
        <name>Loop_Opportunity_Record_Collection</name>
        <label>Loop Opportunity Record Collection</label>
        <locationX>2250</locationX>
        <locationY>242</locationY>
        <collectionReference>OpportunityRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Prior_Opportunity_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prior_Opportunity_Records</name>
        <label>Loop Prior Opportunity Records</label>
        <locationX>2998</locationX>
        <locationY>350</locationY>
        <collectionReference>PriorOpportunityRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide_if_Prior_Opportunity_Id_Matches_Opportunity_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Opportunity_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>OpportunityRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityRecord.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documents_Ready__c</field>
            <value>
                <elementReference>OpportunityRecord.Documents_Ready__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>OpportunityRecord.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>OpportunityRecord.NextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Date__c</field>
            <value>
                <elementReference>OpportunityRecord.Next_Step_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Orchestration_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityRecord.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>OpportunityRecord.Opportunity_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Base_App_Selection__c</field>
            <value>
                <elementReference>OpportunityRecord.Program_Base_App_Selection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>OpportunityRecord.Program_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecord.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>OpportunityRecord.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Customization__c</field>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>VendorProgramRecord.Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <inputReference>OpportunityRecordCollectionToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>1233</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_on_Creation_Method_Via_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Opportunity_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PriorOpportunityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
</Flow>
