OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_CREATE_Training_Assignment_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Training_Assignment_Record_to_Collection</name>
        <label>Assign Training Assignment Record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Training_Assignment</name>
        <label>Assign Values to Training Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Vendor_Training_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirement_Record.Training_System__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Training_Assignment_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Customization_From_Onboarding_Record</name>
        <label>Assign Vendor Customization From Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ResolvedVendorCustomizationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Training_Requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Customization_Id_Input</name>
        <label>Assign Vendor Customization Id Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ResolvedVendorCustomizationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VendorCustomizationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Training_Requirements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Are_We_Creating_Training_Assignment_Record</name>
        <label>How Are We Creating Training Assignment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>How_Are_We_Getting_Training_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Via Training Requirement Collection</defaultConnectorLabel>
        <rules>
            <name>Via_External_Contact_Credential_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExternalContactCredentialRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Associated_with_Contact</targetReference>
            </connector>
            <label>Via External Contact Credential Record</label>
        </rules>
        <rules>
            <name>Via_LearnUpon_Contact_Enrollment_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LearnUponContactEnrollmentRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingRequirementRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Training_Assignment_Record_Via_LearnUpon</targetReference>
            </connector>
            <label>Via LearnUpon Contact Enrollment Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Are_We_Getting_Training_Requirements</name>
        <label>How Are We Getting Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Vendor_Customization_From_Onboarding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Via Onboarding Record</defaultConnectorLabel>
        <rules>
            <name>Via_Vendor_Customization_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VendorCustomizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_Customization_Id_Input</targetReference>
            </connector>
            <label>Via Vendor Customization Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Training_Requirement_External</name>
        <label>Is Training Requirement External</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Training Requirement is Not External</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Requirement_is_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Requirement_Record.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Training_Assignment</targetReference>
            </connector>
            <label>Yes - Training Requirement is External</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Record_Found</name>
        <label>Onboarding Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Onboarding Record Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Training_Assignment_Record</targetReference>
            </connector>
            <label>Yes - Onboarding Record Found</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - Subflow - CREATE - Training Assignment Records</description>
    <environments>Default</environments>
    <interviewLabel>DOMAIN - OmniSObject - SFL - CREATE - Training Assignment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - CREATE - Training Assignment Records</label>
    <loops>
        <name>Loop_Training_Requirement_Record</name>
        <label>Loop Training Requirement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Training_Requirement_External</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Training_Assignment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Training_Assignment_Record</name>
        <label>Create Contact Training Assignment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ContactTrainingAssignment.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.POE_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Sent_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Completed__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding__c</field>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Requirement__r.Training_System__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.POE_Process_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Training_Requirement__c</field>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Requirement__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Training_Assignment_Record_Via_LearnUpon</name>
        <label>Create Contact Training Assignment Record Via LearnUpon</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ContactTrainingAssignment.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>LearnUponContactEnrollmentRecord.LearnUponP__SFContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>LearnUponContactEnrollmentRecord.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding__c</field>
            <value>
                <elementReference>LearnUponContactEnrollmentRecord.Onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>TrainingRequirementRecord.Training_System__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>LearnUponContactEnrollmentRecord.LearnUponP__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Training_Requirement__c</field>
            <value>
                <elementReference>TrainingRequirementRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Assignment_Records</name>
        <label>Create Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TrainingAssignmentRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Associated_with_Contact</name>
        <label>Get Account Associated with Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Onboarding_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalContactCredentialRecord.POE_Contact__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Onboarding_Records</name>
        <label>Get Active Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Record_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalContactCredentialRecord.Training_Requirement__r.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Initial Review</stringValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <outputReference>OnboardingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding_Status__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Requirements</name>
        <label>Get Training Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Training_Requirement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResolvedVendorCustomizationId</elementReference>
            </value>
        </filters>
        <object>Training_Requirement__c</object>
        <outputReference>TrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>External_Course_Code__c</queriedFields>
        <queriedFields>External_Course_Name__c</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Training_Code__c</queriedFields>
        <queriedFields>Training_System__c</queriedFields>
        <queriedFields>Training_Type__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_Are_We_Creating_Training_Assignment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactTrainingAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>LearnUponContactEnrollmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ResolvedVendorCustomizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>VendorCustomizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
