OnboardingV2Minimal/force-app/main/default/flows/DOMAIN_OmniSObject_SFL_EVAL_Onb_Req_Subjects_By_Evidence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current_Subject_To_Update_Collection</name>
        <label>Add Current Subject To Update Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubjectUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Loop_Evidence_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangedOnboardingRequirementIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Loop_Evidence_Subjects.Onboarding_Requirement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Evidence_Subjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Subject_Status</name>
        <label>Assign Current Subject Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentItem_Loop_Evidence_Subjects.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MappedSubjectStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Subject_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Subject_Count</name>
        <label>Assign Matched Subject Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MatchedSubjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OnboardingRequirementSubjectCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Subject_Records_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Missing_Input_Error_Message</name>
        <label>Assign Missing Input Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requirement Type, EvidenceStatus, and a subject identifier are required.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Unsupported_Evidence_Status_Error_Message</name>
        <label>Assign Unsupported Evidence Status Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnsupportedEvidenceStatusMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Update_Subjects_Fault</name>
        <label>Capture Update Subjects Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Did_Get_Matching_Subjects_Fail</name>
        <label>Did Get Matching Subjects Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Matched_Subject_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Getter Fault</defaultConnectorLabel>
        <rules>
            <name>Getter_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Getter Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mapped_Subject_Status</name>
        <label>Has Mapped Subject Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Unsupported_Evidence_Status_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported Evidence Status</defaultConnectorLabel>
        <rules>
            <name>Mapped_Status_Was_Derived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MappedSubjectStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MappedSubjectStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Required_Inputs</targetReference>
            </connector>
            <label>Mapped Status Was Derived</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Required_Inputs</name>
        <label>Has Required Inputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Missing_Input_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Required Inputs</defaultConnectorLabel>
        <rules>
            <name>Contact_Context_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvidenceStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvidenceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Subjects_By_Contact</targetReference>
            </connector>
            <label>Contact Context Provided</label>
        </rules>
        <rules>
            <name>Account_Context_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequirementType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvidenceStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvidenceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Subjects_By_Account</targetReference>
            </connector>
            <label>Account Context Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Subject_Records_To_Process</name>
        <label>Has Subject Records To Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Subject Records</defaultConnectorLabel>
        <rules>
            <name>Subject_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRequirementSubjectCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRequirementSubjectCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Evidence_Subjects</targetReference>
            </connector>
            <label>Subject Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Subject_Updates</name>
        <label>Has Subject Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Subject Updates</defaultConnectorLabel>
        <rules>
            <name>Subject_Updates_Were_Collected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubjectUpdateCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubjectUpdateCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subjects</targetReference>
            </connector>
            <label>Subject Updates Were Collected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Current_Subject</name>
        <label>Should Update Current Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Evidence_Subjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Subject Update Needed</defaultConnectorLabel>
        <rules>
            <name>Subject_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Loop_Evidence_Subjects.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MappedSubjectStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Subject_Status</targetReference>
            </connector>
            <label>Subject Status Changed</label>
        </rules>
    </decisions>
    <description>DOMAIN LAYER - OmniSObject - SFL - EVAL - Onb Req Subjects - By Evidence</description>
    <environments>Default</environments>
    <formulas>
        <name>MappedSubjectStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  OR({!EvidenceStatus} = &quot;Complete&quot;, {!EvidenceStatus} = &quot;Waived&quot;, {!EvidenceStatus} = &quot;Completed&quot;, {!EvidenceStatus} = &quot;Passed&quot;, {!EvidenceStatus} = &quot;Exempt&quot;),
  &quot;Setup Complete&quot;,
  IF(
    OR({!EvidenceStatus} = &quot;Denied&quot;, {!EvidenceStatus} = &quot;Denied by PV&quot;, {!EvidenceStatus} = &quot;Denied by Partner&quot;),
    &quot;Denied&quot;,
    IF(
      OR({!EvidenceStatus} = &quot;Cancelled&quot;, {!EvidenceStatus} = &quot;Canceled&quot;),
      &quot;Canceled&quot;,
      IF(
        {!EvidenceStatus} = &quot;Expired&quot;,
        &quot;Expired&quot;,
        IF(
          OR({!EvidenceStatus} = &quot;Requested&quot;, {!EvidenceStatus} = &quot;Incomplete&quot;, {!EvidenceStatus} = &quot;In Progress&quot;, {!EvidenceStatus} = &quot;Enrolled&quot;, {!EvidenceStatus} = &quot;Failed&quot;),
          &quot;In Process&quot;,
          IF(
            OR({!EvidenceStatus} = &quot;Training Sent&quot;, {!EvidenceStatus} = &quot;Paperwork Sent&quot;),
            &quot;Paperwork Sent&quot;,
            IF(
              OR({!EvidenceStatus} = &quot;New&quot;, {!EvidenceStatus} = &quot;Not Started&quot;, {!EvidenceStatus} = &quot;Assigned&quot;),
              &quot;New&quot;,
              &quot;&quot;
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>UnsupportedEvidenceStatusMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Unsupported evidence status for subject evaluation: &quot; &amp; {!EvidenceStatus}</expression>
    </formulas>
    <interviewLabel>DOMAIN - OmniSObject - SFL - EVAL - Onb Req Subjects - By Evidence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOMAIN - OmniSObject - SFL - EVAL - Onb Req Subjects - By Evidence</label>
    <loops>
        <name>Loop_Evidence_Subjects</name>
        <label>Loop Evidence Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>OnboardingRequirementSubjectCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_Update_Current_Subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Subject_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Subjects</name>
        <label>Update Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Capture_Update_Subjects_Fault</targetReference>
        </faultConnector>
        <inputReference>SubjectUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Mapped_Subject_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Matching_Subjects_By_Account</name>
        <label>Get Matching Subjects By Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Get_Matching_Subjects_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Requirement_Subjects</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRequirementSubjectCollection</assignToReference>
            <name>OnboardingRequirementSubjectCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Matching_Subjects_By_Contact</name>
        <label>Get Matching Subjects By Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Get_Matching_Subjects_Fail</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Requirement_Subjects</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequirementType</name>
            <value>
                <elementReference>RequirementType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRequirementSubjectCollection</assignToReference>
            <name>OnboardingRequirementSubjectCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangedOnboardingRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Loop_Evidence_Subjects</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EvidenceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchedSubjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OnboardingRequirementSubjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
    <variables>
        <name>RequirementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Requirement_Subject__c</objectType>
    </variables>
</Flow>
