OnboardingV2Minimal/force-app/main/default/flows/EXP_Contact_SCR_Set_Up_Agent_Vendor_Programs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Completed_Vendor_Records_To_TextRecordCollection</name>
        <label>Assign Completed Vendor Records To TextRecordCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OnboardedVendorIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Completed_Vendor_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Completed_Vendor_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_to_Show_Vendors_We_Can_Onboarding_for_Agent</name>
        <label>Decide to Show Vendors We Can Onboarding for Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Show_No_Vendors_Available_Screen_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Show Verizon</defaultConnectorLabel>
        <rules>
            <name>Show_Verizon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardedVendorIdCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Verizon_Vendor_Record_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Verizon_Screen_Flow</targetReference>
            </connector>
            <label>Show Verizon</label>
        </rules>
    </decisions>
    <description>EXPERIENCE LAYER - Contact Object - Screen Flow - Set Up Agent Vendor Programs</description>
    <environments>Default</environments>
    <interviewLabel>EXP - Contact - SCR - Set Up Agent Vendor Programs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EXP - Contact - SCR - Set Up Agent Vendor Programs</label>
    <loops>
        <name>Loop_Completed_Vendor_Onboarding_Records</name>
        <label>Loop Completed Vendor Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CompleteVendorOnboardingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Completed_Vendor_Records_To_TextRecordCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Verizon_Vendor_Record_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Verizon_Onboarding_Record</name>
        <label>Get Verizon Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_to_Show_Vendors_We_Can_Onboarding_for_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Verizon_Vendor_Record_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verizon_Vendor_Record_Id</name>
        <label>Get Verizon Vendor Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Verizon_Onboarding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verizon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_No_Vendors_Available_Screen_Flow</name>
        <label>Show No Vendors Available Screen Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Show_Verizon_Screen_Flow_Dispaly_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;There Are No Vendors Available for this Contact to be Onboarded.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;IF YOU BELEIVE THIS TO BE AN ERROR PLEASE SUBMIT A JIRA TICKET TO IT OPERATIONS.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Verizon_Screen_Flow</name>
        <label>Show Verizon Screen Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Training_Assignment_Records</targetReference>
        </connector>
        <fields>
            <name>Show_Verizon_Screen_Flow_Dispaly_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;To Onboarding This Agent with Verizon Fios Please Click &quot;FINISH&quot;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Otherwise Please Exit This Screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Vendors_to_Setup_on_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_External_Contact_Credentials</name>
        <label>Create External Contact Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Link_Between_ECC_and_Required_Credentials</targetReference>
        </connector>
        <flowName>DOMAIN_Onboarding_SFL_CREATE_External_Contact_Credentials</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>Get_Verizon_Onboarding_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrincipalOwnerId</name>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExternalContactCredentialTypes</assignToReference>
            <name>ExternalContactCredentalTypes</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExternalContactCredentialRecords</assignToReference>
            <name>ExternalContactCredentialRecords</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequiredCredentialRecordCollection</assignToReference>
            <name>RequiredCredentialRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Link_Between_ECC_and_Required_Credentials</name>
        <label>Create Link Between ECC and Required Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_External_Contact_Credential_SFL_CREATE_Required_External_Contact_Credenti</flowName>
        <inputAssignments>
            <name>ExternalContactCredentialRecords</name>
            <value>
                <elementReference>ExternalContactCredentialRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExternalContactCredentialTypes</name>
            <value>
                <elementReference>ExternalContactCredentialTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredCredentialRecordCollection</name>
            <value>
                <elementReference>RequiredCredentialRecordCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Training_Assignment_Records</name>
        <label>Create Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_External_Contact_Credentials</targetReference>
        </connector>
        <flowName>DOMAIN_Contact_SFL_CREATE_Training_Assignment_Records</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>Get_Verizon_Onboarding_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TrainingAssignmentRecordCollection</assignToReference>
            <name>TrainingAssignmentRecordCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrainingRequirementRecordCollection</assignToReference>
            <name>TrainingRequirementRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Available_Vendors_to_Setup_on_Account</name>
        <label>Get Available Vendors to Setup on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Completed_Vendor_Onboarding_Records</targetReference>
        </connector>
        <flowName>DOMAIN_Contact_SFL_GET_Account_Information_from_Contact_Record</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecord</assignToReference>
            <name>AccountRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CompleteVendorOnboardingRecords</assignToReference>
            <name>CompleteVendorOnboardingRecords</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CompleteVendorOnboardingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Contact_Credential_Type__c</objectType>
    </variables>
    <variables>
        <name>OnboardedVendorIdCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredCredentialRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Required_Credential__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
</Flow>
