OnboardingV2Minimal/force-app/main/default/flows/EXP_Contact_SCR_Set_Up_Agent_Vendor_Programs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_C_Spire</name>
        <label>Assign C-Spire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_C_Spire_Vendor_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Completed_Vendor_Program_Records_To_TextRecordCollection</name>
        <label>Assign Completed Vendor Program Records To TextRecordCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedVendorProgramOnboardingIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Completed_Vendor_Program_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Completed_Vendor_Program_Onboarding_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Onboarding_Record_to_Controlling_Onboarding_Record</name>
        <label>Assign Onboarding Record to Controlling Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ControllingOnboardingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_to_Show_Vendors_We_Can_Onboarding_for_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verizon_D_C</name>
        <label>Assign Verizon D&amp;C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verizon_Vendor_D_C_Record_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verizon_EM</name>
        <label>Assign Verizon EM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verizon_Vendor_EM_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verizon_Fios</name>
        <label>Assign Verizon Fios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verizon_Vendor_Fios_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verizon_FWA</name>
        <label>Assign Verizon FWA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verizon_Vendor_FWA_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOW</name>
        <label>Assign WOW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VendorProgramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WOW_Vendor_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CSpireD2DChoice</name>
        <choiceText>C Spire D2D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSpireD2DChoice</stringValue>
        </value>
    </choices>
    <choices>
        <description>Verizon Digital and Concierge</description>
        <name>VerizonDigitalConcierge</name>
        <choiceText>Verizon Digital and Concierge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon Digital &amp; Concierge</stringValue>
        </value>
    </choices>
    <choices>
        <description>Verizon Engagement Manager</description>
        <name>VerizonEngagementManager</name>
        <choiceText>Verizon Engagement Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon Engagement Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>VerizonFiosD2DChoice</name>
        <choiceText>Verizon Fios D2D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon Fios D2D</stringValue>
        </value>
    </choices>
    <choices>
        <description>Verizon Mobile FWA</description>
        <name>VerizonMobileFWA</name>
        <choiceText>Verizon Mobile FWA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon Mobile FWA</stringValue>
        </value>
    </choices>
    <choices>
        <name>WOWD2DChoice</name>
        <choiceText>WOW D2D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WOWD2DChoice</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_to_Show_Vendors_We_Can_Onboarding_for_Agent</name>
        <label>Decide to Show Vendors We Can Onboarding for Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Show_No_Vendors_Available_Screen_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Show Verizon</defaultConnectorLabel>
        <rules>
            <name>Show_Verizon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedVendorProgramOnboardingIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ControllingOnboardingRecord.Vendor_Customization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Screen_Flow</targetReference>
            </connector>
            <label>Show Verizon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Choice_Was_Made</name>
        <label>Which Choice Was Made</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C_Spire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vendor_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CSpireD2DChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_C_Spire_Vendor_Record_Id</targetReference>
            </connector>
            <label>C Spire</label>
        </rules>
        <rules>
            <name>WOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vendor_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WOWD2DChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOW_Vendor_Record_Id</targetReference>
            </connector>
            <label>WOW</label>
        </rules>
        <rules>
            <name>Verizon_Mobile_FWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vendor_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VerizonMobileFWA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verizon_Vendor_FWA_Record_Id</targetReference>
            </connector>
            <label>Verizon Mobile FWA</label>
        </rules>
        <rules>
            <name>VerizonFios</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Vendor_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VerizonFiosD2DChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verizon_Vendor_Fios_Record_Id</targetReference>
            </connector>
            <label>Verizon Fios</label>
        </rules>
        <rules>
            <name>Verizon_Engagement_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vendor_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VerizonEngagementManager</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verizon_Vendor_EM_Record_Id</targetReference>
            </connector>
            <label>Verizon Engagement Manager</label>
        </rules>
        <rules>
            <name>Verizon_Digital_Concierge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vendor_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VerizonDigitalConcierge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verizon_Vendor_D_C_Record_ID</targetReference>
            </connector>
            <label>Verizon Digital Concierge</label>
        </rules>
    </decisions>
    <description>EXPERIENCE LAYER - Contact Object - Screen Flow - Set Up Agent Vendor Programs</description>
    <environments>Default</environments>
    <interviewLabel>EXP - Contact - SCR - Set Up Agent Vendor Programs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EXP - Contact - SCR - Set Up Agent Vendor Programs</label>
    <loops>
        <name>Loop_Completed_Vendor_Program_Onboarding_Records</name>
        <label>Loop Completed Vendor Program Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CompletedVendorProgramOnboardingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Completed_Vendor_Program_Records_To_TextRecordCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Choice_Screen_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_C_Spire_Vendor_Record_Id</name>
        <label>Get C Spire Vendor Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_C_Spire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>C Spire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Record</name>
        <label>Get Onboarding Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Onboarding_Record_to_Controlling_Onboarding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorProgramRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verizon_Vendor_D_C_Record_ID</name>
        <label>Get Verizon Vendor D&amp;C Record ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verizon_D_C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Concierge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verizon_Vendor_EM_Record_Id</name>
        <label>Get Verizon Vendor EM Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verizon_EM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Engagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verizon_Vendor_Fios_Record_Id</name>
        <label>Get Verizon Vendor Fios Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verizon_Fios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fios</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verizon_Vendor_FWA_Record_Id</name>
        <label>Get Verizon Vendor FWA Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verizon_FWA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FWA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOW_Vendor_Record_Id</name>
        <label>Get WOW Vendor Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WOW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WOW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Customization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_Choice_Screen_Flow</name>
        <label>Show Choice Screen Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Choice_Was_Made</targetReference>
        </connector>
        <fields>
            <name>Show_Screen_Flow_Choice_Dispaly_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;To Onboarding This Agent Choose the Vendor and then click &quot;FINISH&quot;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Otherwise Please Exit This Screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vendor_Program</name>
            <choiceReferences>CSpireD2DChoice</choiceReferences>
            <choiceReferences>VerizonFiosD2DChoice</choiceReferences>
            <choiceReferences>VerizonEngagementManager</choiceReferences>
            <choiceReferences>VerizonDigitalConcierge</choiceReferences>
            <choiceReferences>VerizonMobileFWA</choiceReferences>
            <choiceReferences>WOWD2DChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendor Program</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_No_Vendors_Available_Screen_Flow</name>
        <label>Show No Vendors Available Screen Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Show_Verizon_Screen_Flow_Dispaly_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;There Are No Vendors Available for this Contact to be Onboarded.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;IF YOU BELEIVE THIS TO BE AN ERROR PLEASE SUBMIT A JIRA TICKET TO IT OPERATIONS.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Screen_Flow</name>
        <label>Show Screen Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Training_Assignment_Records</targetReference>
        </connector>
        <fields>
            <name>Show_Verizon_Screen_Flow_Dispaly_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;To Onboarding This Agent Please Click &quot;FINISH&quot;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Otherwise Please Exit This Screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Vendor_Programs_to_Setup_on_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_External_Contact_Credentials</name>
        <label>Create External Contact Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Link_Between_ECC_and_Required_Credentials</targetReference>
        </connector>
        <flowName>DOMAIN_Onboarding_SFL_CREATE_External_Contact_Credentials</flowName>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>ControllingOnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrincipalOwnerId</name>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExternalContactCredentialTypes</assignToReference>
            <name>ExternalContactCredentalTypes</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExternalContactCredentialRecords</assignToReference>
            <name>ExternalContactCredentialRecords</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequiredCredentialRecordCollection</assignToReference>
            <name>RequiredCredentialRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Link_Between_ECC_and_Required_Credentials</name>
        <label>Create Link Between ECC and Required Credentials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DOMAIN_External_Contact_Credential_SFL_CREATE_Required_External_Contact_Credenti</flowName>
        <inputAssignments>
            <name>ExternalContactCredentialRecords</name>
            <value>
                <elementReference>ExternalContactCredentialRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExternalContactCredentialTypes</name>
            <value>
                <elementReference>ExternalContactCredentialTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredCredentialRecordCollection</name>
            <value>
                <elementReference>RequiredCredentialRecordCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Training_Assignment_Records</name>
        <label>Create Training Assignment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_External_Contact_Credentials</targetReference>
        </connector>
        <flowName>DOMAIN_Contact_SFL_CREATE_Training_Assignment_Records</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>ControllingOnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TrainingAssignmentRecordCollection</assignToReference>
            <name>TrainingAssignmentRecordCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Available_Vendor_Programs_to_Setup_on_Account</name>
        <label>Get Available Vendor Programs to Setup on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Completed_Vendor_Program_Onboarding_Records</targetReference>
        </connector>
        <flowName>DOMAIN_Contact_SFL_GET_Account_Information_from_Contact_Record</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecord</assignToReference>
            <name>AccountRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CompletedVendorProgramOnboardingRecords</assignToReference>
            <name>CompletedVendorProgramOnboardingRecords</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CompletedVendorProgramOnboardingIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletedVendorProgramOnboardingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>CompleteVendorOnboardingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ControllingOnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POE_External_Contact_Credential__c</objectType>
    </variables>
    <variables>
        <name>ExternalContactCredentialTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Contact_Credential_Type__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredCredentialRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Required_Credential__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <description>VendorProgramRecord</description>
        <name>VendorProgramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
</Flow>
