OnboardingV2Minimal/force-app/main/default/flows/EXP_Contract_SCR_Send_Adobe_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Adobe_Agreement_Created</name>
        <label>Adobe Agreement Created?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screenflow2aError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Agreement_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding_Record</targetReference>
            </connector>
            <label>Yes - Agreement Created</label>
        </rules>
    </decisions>
    <description>EXP - Contract - SCR - Send Adobe Agreement</description>
    <environments>Default</environments>
    <interviewLabel>EXP - Contract - SCR - Send Adobe Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EXP - Contract - SCR - Send Adobe Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contract_Record</name>
        <label>Update Contract Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Screenflow2a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resend_Agreement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Screenflow2a</name>
        <label>Screenflow2a</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HeaderScreenflow2a</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Agreement send request queued successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screenflow2aError</name>
        <label>Screenflow2aError</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HeaderScreenflow2aError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(24, 24, 24);&quot;&gt;Unable to queue agreement send request. Please try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Send_Adobe_Agreement</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contract_Records</flowName>
        <inputAssignments>
            <name>contractId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContractRecord</assignToReference>
            <name>ContractRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Adobe_Agreement</name>
        <label>Send Adobe Agreement</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Adobe_Agreement_Created</targetReference>
        </connector>
        <flowName>BLL_OmniSObject_ACTION_Send_Adobe_Agreement</flowName>
        <inputAssignments>
            <name>ContractRecord</name>
            <value>
                <elementReference>ContractRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AgreementRecord</assignToReference>
            <name>AgreementRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Contract_Record</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_CREATE_Onboarding_Record</flowName>
        <inputAssignments>
            <name>AgreementRecord</name>
            <value>
                <elementReference>AgreementRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingRecord</assignToReference>
            <name>OnboardingRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>echosign_dev1__SIGN_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
