OnboardingV2Minimal/force-app/main/default/flows/EXP_Opportunity_SCR_Create_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Available_Vendors_JSON</name>
        <label>Get Available Vendors as JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VendorOnboardingJsonAdapter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VendorOnboardingJsonAdapter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>availableVendorOptionString</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Get_Available_Vendors</name>
        <label>Get Available Vendors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Vendors Only</defaultConnectorLabel>
        <rules>
            <name>Yes_Get_Available_Vendors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShowVendorSelector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Available_Vendors_JSON</targetReference>
            </connector>
            <label>Yes - Get Available Vendors</label>
        </rules>
    </decisions>
    <description>EXPERIENCE LAYER - Opportunity Object - Screenflow - Create Record (single LWC orchestration with flow-driven visibility gates).</description>
    <environments>Default</environments>
    <formulas>
        <name>IsCoreOnboardingCompleteForOrchestrator</name>
        <dataType>Boolean</dataType>
        <expression>AND({!HasChuzoOnboardingForOpportunity}, {!HasNDAOnboardingForOpportunity})</expression>
    </formulas>
    <formulas>
        <name>IsUserSpecial</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Onboarding_Allowed_to_Send_Special_Agreement}</expression>
    </formulas>
    <interviewLabel>EXP - Opportunity - SCR - Create Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EXP - Opportunity - SCR - Create Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record_Types</name>
        <label>Get Opportunity Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_OnboardingOrchestrator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateRecordWizard</name>
            <extensionName>c:expCreateRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAccountId</name>
                <value>
                    <elementReference>AccountRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityCloseDate</name>
                <value>
                    <elementReference>opportunityCloseDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityStageName</name>
                <value>
                    <elementReference>opportunityStageName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityProgramType</name>
                <value>
                    <elementReference>opportunityProgramType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityProgramBaseSelection</name>
                <value>
                    <elementReference>opportunityProgramBaseSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityDocumentsReady</name>
                <value>
                    <elementReference>opportunityDocumentsReady</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityLeadSource</name>
                <value>
                    <elementReference>opportunityLeadSource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunitySource</name>
                <value>
                    <elementReference>opportunitySource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityNextStep</name>
                <value>
                    <elementReference>opportunityNextStep</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityNextStepDate</name>
                <value>
                    <elementReference>opportunityNextStepDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityOwnerRole</name>
                <value>
                    <elementReference>opportunityOwnerRole</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityRecordTypeId</name>
                <value>
                    <elementReference>opportunityRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityType</name>
                <value>
                    <elementReference>opportunityType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowFinalNextAction</name>
                <value>
                    <elementReference>FinalNextAction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowShowAgreementChoice</name>
                <value>
                    <elementReference>ShowAgreementChoice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowShowPersonalGuarantee</name>
                <value>
                    <elementReference>ShowPersonalGuarantee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowShowVendorSelector</name>
                <value>
                    <elementReference>ShowVendorSelector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowShowVerifyAccount</name>
                <value>
                    <elementReference>ShowVerifyAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowIsUserSpecial</name>
                <value>
                    <elementReference>IsUserSpecial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAvailableVendorOptionString</name>
                <value>
                    <elementReference>availableVendorOptionString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHasAnyOnboardingForAccount</name>
                <value>
                    <elementReference>HasAnyOnboardingForAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHasChuzoOnboardingForOpportunity</name>
                <value>
                    <elementReference>HasChuzoOnboardingForOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHasNdaOnboardingForOpportunity</name>
                <value>
                    <elementReference>HasNDAOnboardingForOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHasNonChuzoOnboardingForOpportunity</name>
                <value>
                    <elementReference>HasNonChuzoOnboardingForOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOpportunityRecordTypeId</name>
                <value>
                    <elementReference>Get_Opportunity_Record_Types.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowRuleErrorMessage</name>
                <value>
                    <elementReference>RuleErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowHasActiveProgramBaseOrNdaPipeline</name>
                <value>
                    <elementReference>HasActiveProgramBaseOrNdaPipeline</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_OnboardingOrchestrator</name>
        <label>Evaluate Onboarding Orchestrator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Vendors</targetReference>
        </connector>
        <flowName>BLL_BRE_Evaluate_Business_Rules</flowName>
        <inputAssignments>
            <name>RuleContext</name>
            <value>
                <stringValue>OnboardingOrchestrator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasAnyOnboardingForAccount</name>
            <value>
                <elementReference>HasAnyOnboardingForAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasChuzoOnboardingForOpportunity</name>
            <value>
                <elementReference>HasChuzoOnboardingForOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasNDAOnboardingForOpportunity</name>
            <value>
                <elementReference>HasNDAOnboardingForOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasNonChuzoOnboardingForOpportunity</name>
            <value>
                <elementReference>HasNonChuzoOnboardingForOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsUserSpecial</name>
            <value>
                <elementReference>IsUserSpecial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsCoreOnboardingComplete</name>
            <value>
                <elementReference>IsCoreOnboardingCompleteForOrchestrator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasActiveProgramBaseOrNdaPipeline</name>
            <value>
                <elementReference>HasActiveProgramBaseOrNdaPipeline</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FinalNextAction</assignToReference>
            <name>FinalNextAction</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShowAgreementChoice</assignToReference>
            <name>ShowAgreementChoice</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShowPersonalGuarantee</assignToReference>
            <name>ShowPersonalGuarantee</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShowVendorSelector</assignToReference>
            <name>ShowVendorSelector</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShowVerifyAccount</assignToReference>
            <name>ShowVerifyAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RuleErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Records</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Account_Record</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecord</assignToReference>
            <name>AccountRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Onboarding_Records</name>
        <label>Get Onboarding Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_Types</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Onboarding_Records</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>AccountRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>HasAnyOnboardingForAccount</assignToReference>
            <name>HasAnyOboardingForAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasChuzoOnboardingForOpportunity</assignToReference>
            <name>HasChuzoOnboardingForOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasNDAOnboardingForOpportunity</assignToReference>
            <name>HasNDAOnboardingForOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasNonChuzoOnboardingForOpportunity</assignToReference>
            <name>HasNonChuzoOnboardingForOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasActiveProgramBaseOrNdaPipeline</assignToReference>
            <name>HasActiveProgramBaseOrNdaPipeline</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>availableVendorOptionString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalNextAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasActiveProgramBaseOrNdaPipeline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasAnyOnboardingForAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasChuzoOnboardingForOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasNDAOnboardingForOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasNonChuzoOnboardingForOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityCloseDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityDocumentsReady</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityNextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityNextStepDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityOwnerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityProgramBaseSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityProgramType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunitySource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RuleErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowAgreementChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowPersonalGuarantee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowVendorSelector</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowVerifyAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
