OnboardingV2Minimal/force-app/main/default/flows/EXP_Contact_SCR_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Record_Collection_Inputs_to_JSON_String</name>
        <label>Convert Record Collection Inputs to JSON String</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>RecordCollectionEditorGetRecordsService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Contacts_Screenflow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Capture_Convert_Record_Collection_Fault</targetReference>
        </faultConnector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__relationshipRecords</typeName>
            <typeValue>AccountContactRelation</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configKey</name>
            <value>
                <stringValue>CONTACT_ON_ACCOUNT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>ContactRecordCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relationshipRecords</name>
            <value>
                <elementReference>AccountContactRelationshipCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecordCollectionEditorGetRecordsService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>existingRecordJSON</assignToReference>
            <name>recordsJson</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Queue_Contact_and_Account_Contact_Relationship</name>
        <label>Queue Contact and Account Contact Relationship</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <actionName>RecordCollectionEditorAsyncService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Capture_Queue_Contact_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configKey</name>
            <value>
                <stringValue>CONTACT_ON_ACCOUNT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsJson</name>
            <value>
                <elementReference>contactsToCreateJSONString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecordCollectionEditorAsyncService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_Convert_Record_Collection_Fault</name>
        <label>Capture Convert Record Collection Fault</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingRecordJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contacts_Screenflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Queue_Contact_Fault</name>
        <label>Capture Queue Contact Fault</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Select_DML_Mode</name>
        <label>Select DML Mode</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_and_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Synchronous DML</defaultConnectorLabel>
        <rules>
            <name>Async_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PerformDmlAsynchronously</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Contact_and_Account_Contact_Relationship</targetReference>
            </connector>
            <label>Async DML</label>
        </rules>
    </decisions>
    <description>EXPERIENCE LAYER - Contact Object - Screenflow - Create Contact</description>
    <environments>Default</environments>
    <interviewLabel>EXP - Contact - SCR - Create Account Contact Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EXP - Contact - SCR - Create Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Create_Contacts_Screenflow</name>
        <label>Create Contacts Screenflow</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_DML_Mode</targetReference>
        </connector>
        <fields>
            <name>ContactRecordCollectionCreator</name>
            <extensionName>c:recordCollectionEditor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>configKey</name>
                <value>
                    <stringValue>CONTACT_ON_ACCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Add Contact(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordLabel</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>AccountRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>existingRecordsJson</name>
                <value>
                    <elementReference>existingRecordJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactsToCreateJSONString</assignToReference>
                <name>recordsToCreate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>errorMessage</assignToReference>
                <name>hasValidationError</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Records_and_Account_Contact_Relationships</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact_and_Account_Contact_Relationship</name>
        <label>Create Contact and Account Contact Relationship</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <flowName>DOMAIN_OmniSObject_SFL_Create_Contact</flowName>
        <inputAssignments>
            <name>contactsToCreateJSONString</name>
            <value>
                <elementReference>contactsToCreateJSONString</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountContactRelationshipCollection</assignToReference>
            <name>AccountContactRelationshipCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecordCollection</assignToReference>
            <name>ContactRecordCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Records_and_Account_Contact_Relationships</name>
        <label>Get Contact Records and Account Contact Relationships</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Convert_Record_Collection_Inputs_to_JSON_String</targetReference>
        </connector>
        <flowName>DOMAIN_OmniSObject_SFL_GET_Contact_Record</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>AccountRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountContactRelationshipCollection</assignToReference>
            <name>AccountContactRelationshipCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecordCollection</assignToReference>
            <name>ContactRecordCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountContactRelationshipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsToCreateJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingRecordJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerformDmlAsynchronously</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
