OnboardingV2Minimal/force-app/main/default/flows/FSL_ServiceAppointment_RecordTriggeredInsert_SendDCCWelcomeNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_notification</name>
        <label>Send Email notification</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>costcosupport@directconnectconnections.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>getEmailTemplate.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>getEmailTemplate.Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_SMS</name>
        <label>Send_Reminder_SMS</label>
        <locationX>930</locationX>
        <locationY>708</locationY>
        <actionName>FSL_SendTwiloSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>contactHasEmailOptOutScheduled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DCC_Reminder_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientPhone</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_SendTwiloSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_SMS_48</name>
        <label>Send_Reminder_SMS_48</label>
        <locationX>1986</locationX>
        <locationY>708</locationY>
        <actionName>FSL_SendTwiloSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>contactHasEmailOptOutScheduled_48</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DCC_Reminder_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientPhone</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_SendTwiloSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Welcome_SMS</name>
        <label>Send_Welcome_SMS</label>
        <locationX>2822</locationX>
        <locationY>384</locationY>
        <actionName>FSL_SendTwiloSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DCC_SMS_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientPhone</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_SendTwiloSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendFSL_DCC_PreInstallationNotification_24</name>
        <label>SendFSL_DCC_PreInstallationNotification_24</label>
        <locationX>974</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>costcosupport@directconnectconnections.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>GetPreinstallationTemplate.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetPreinstallationTemplate.Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GetPreinstallationTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendFSL_DCC_PreInstallationNotification_48</name>
        <label>SendFSL_DCC_PreInstallationNotification_48</label>
        <locationX>2030</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>costcosupport@directconnectconnections.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>GetPreinstallationTemplate_48.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetPreinstallationTemplate_48.Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GetPreinstallationTemplate_48.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>contactHasEmailOptout</name>
        <label>contactHasEmailOptOut</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>getEmailTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>contactHasEmailOptOutScheduled</name>
        <label>contactHasEmailOptOutScheduled</label>
        <locationX>842</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>GetPreinstallationTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Scheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>contactHasEmailOptOutScheduled_48</name>
        <label>contactHasEmailOptOutScheduled_48</label>
        <locationX>1898</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>GetPreinstallationTemplate_48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>contactHasSMSOptOut</name>
        <label>contactHasSMSOptOut</label>
        <locationX>2690</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Send_Welcome_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COntactHasSMSOptOutScheduled</name>
        <label>COntactHasSMSOptOutScheduled</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Reminder_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_Scheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contactHasEmailOptOutScheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactHasSMSOptOutScheduled_48</name>
        <label>ContactHasSMSOptOutScheduled_48</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Reminder_SMS_48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contactHasEmailOptOutScheduled_48</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasResponded</name>
        <label>hasResponded</label>
        <locationX>743</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_Scheduled_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Form_Responses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateNotTomorrow24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasResponded_48</name>
        <label>hasResponded</label>
        <locationX>1799</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_Scheduled_48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Form_Responses_48</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateNotTomorrow48</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled_24</name>
        <label>Is Scheduled</label>
        <locationX>1040</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_scheduled_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateNotTomorrow24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COntactHasSMSOptOutScheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled_48</name>
        <label>Is Scheduled</label>
        <locationX>2096</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Scheduled_48</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateNotTomorrow48</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactHasSMSOptOutScheduled_48</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Corrected {!$Record.Id} for {!$Record.ParentRecordId}</description>
    <environments>Default</environments>
    <formulas>
        <name>DateNotTomorrow24</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() + 1 &lt; {!$Record.Scheduled_Date__c}</expression>
    </formulas>
    <formulas>
        <name>DateNotTomorrow48</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() + 1 &lt; {!$Record.Scheduled_Date__c}</expression>
    </formulas>
    <formulas>
        <name>FormattedStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Scheduled_Date__c}</expression>
    </formulas>
    <interviewLabel>FSL_ServiceAppointment_RecordTriggeredInsert_SendDCCWelcomeNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_ServiceAppointment_RecordTriggeredInsert_SendDCCWelcomeNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Form_Responses</name>
        <label>get Form Responses</label>
        <locationX>743</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasResponded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Typeform_Responses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Form_Responses_48</name>
        <label>get Form Responses</label>
        <locationX>1799</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasResponded_48</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Typeform_Responses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SA_Welcome_and_Pre_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPreinstallationTemplate</name>
        <label>GetPreinstallationTemplate</label>
        <locationX>974</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendFSL_DCC_PreInstallationNotification_24</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SA_Pre_Installation_Survey_Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPreinstallationTemplate_48</name>
        <label>GetPreinstallationTemplate_48</label>
        <locationX>2030</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendFSL_DCC_PreInstallationNotification_48</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SA_Pre_Installation_Survey_Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>contactHasEmailOptout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COSTCO</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Survey_Reminder_Path_24</name>
            <connector>
                <targetReference>get_Form_Responses</targetReference>
            </connector>
            <label>Scheduled_Survey_Reminder_Path_24</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Scheduled_Survey_Reminder_Path_48</name>
            <connector>
                <targetReference>get_Form_Responses_48</targetReference>
            </connector>
            <label>Scheduled_Survey_Reminder_Path_48</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_Wellcome_SMS_Schedule</name>
            <connector>
                <targetReference>contactHasSMSOptOut</targetReference>
            </connector>
            <label>Send_Wellcome_SMS_Schedule</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DCC_Reminder_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Reminder: Your installation for {!$Record.Vendor__c} is scheduled for {!FormattedStartDate}, but we still need your pre-installation survey completed.
Please submit it now to avoid delays: {!$Setup.FSL_Settings__c.DCC_Typeform_URL__c}{!$Record.ParentRecordId}
For more info, visit: {!$Setup.FSL_Settings__c.DCC_Support_URL__c}</text>
    </textTemplates>
    <textTemplates>
        <name>DCC_SMS_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.Contact.FirstName} {!$Record.Contact.LastName}, we are Direct Connect Connections, your installation partner for {!$Record.Vendor__c}. We have received your order and scheduled your installation for {!FormattedStartDate}.

Before your appointment, please complete this pre-installation survey:
{!$Setup.FSL_Settings__c.DCC_Typeform_URL__c}{!$Record.ParentRecordId}


For assistance, please visit {!$Setup.FSL_Settings__c.DCC_Support_URL__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Test Notification email body placeholder</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Notification_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Email Subject Placeholder</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Survey_Reminder_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Test Survey Reminder email placeholder
SurveyURL</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Survey_Reminder_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Survey Reminder subject placeholder&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
