OnboardingV2Minimal/force-app/main/default/flows/LearnUpon_Portal_Membership_AutoLaunch_Assign_LearnUpon_Group_Number.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Group_Membership_in_LearnUpon</name>
        <label>Create Group Membership in LearnUpon</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>LearnUponP__learnUponNewGroupAssignmentHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Training_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>group_id</name>
            <value>
                <elementReference>TrainingCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>learnupon_portal</name>
            <value>
                <stringValue>testingperfectvision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>user_id</name>
            <value>
                <elementReference>ContactRecord.LearnUponP__LU_User_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LearnUponP__learnUponNewGroupAssignmentHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>LearnUpon_User_Id_Available</name>
        <label>LearnUpon User Id Available</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Wait_5_Minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Repeat Wait</defaultConnectorLabel>
        <rules>
            <name>Yes_LearnUpon_User_Id_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.LearnUponP__LU_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Group_Membership_in_LearnUpon</targetReference>
            </connector>
            <label>Yes - LearnUpon User Id Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TrainingCode</name>
        <dataType>Number</dataType>
        <expression>VALUE({!VendorTrainingRequirementRecord.Training_Code__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LearnUpon Portal Membership - AutoLaunch - Assign LearnUpon Group Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LearnUpon Portal Membership - AutoLaunch - Assign LearnUpon Group Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LearnUpon_User_Id_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>LearnUponP__LU_User_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LearnUpon_Triggered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LearnUpon_User_Id_Available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Training_Email</name>
        <label>Send Training Email</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
        <flowName>LearnUpon_Subflow_Send_Training_Email</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingRecord</name>
            <value>
                <elementReference>OnboardingRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>VendorTrainingRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <waits>
        <name>Wait_5_Minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 5 Minutes</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>el_0</label>
            <offset>5</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
