OnboardingV2Minimal/force-app/main/default/flows/LearnUpon_Record_Trigger_Update_LearnUponContactEnrollment_with_Onboarding_Recor.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_LearnUponContactEnrollment_Record_to_Collection</name>
        <label>Add LearnUponContactEnrollment Record to Collection</label>
        <locationX>2200</locationX>
        <locationY>2472</locationY>
        <assignmentItems>
            <assignToReference>LearnUponContactEnrollmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LearnUponContactEnrollment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Create_Training_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LearnUponContactEnrollment_Record_to_Collection_Chuzo</name>
        <label>Add LearnUponContactEnrollment Record to Collection</label>
        <locationX>2464</locationX>
        <locationY>2472</locationY>
        <assignmentItems>
            <assignToReference>LearnUponContactEnrollmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LearnUponContactEnrollment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Create_Training_Assignment_Chuzo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TrainingAssingmentRecord_to_Collection</name>
        <label>Add TrainingAssingmentRecord to Collection</label>
        <locationX>2200</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssingmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TrainingAssingmentRecord_to_Collection_Chuzo</name>
        <label>Add TrainingAssingmentRecord to Collection</label>
        <locationX>2464</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssignmentRecordsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrainingAssingmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Training_Requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LearnUponContactEnrollment_Onboarding_Record</name>
        <label>Assign LearnUponContactEnrollment Onboarding Record</label>
        <locationX>2200</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>LearnUponContactEnrollment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LearnUponContactEnrollment.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LearnUponContactEnrollment_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LearnUponContactEnrollment_Onboarding_Record_Chuzo</name>
        <label>Assign LearnUponContactEnrollment Onboarding Record</label>
        <locationX>2464</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>LearnUponContactEnrollment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LearnUponContactEnrollment.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LearnUponContactEnrollment_Record_to_Collection_Chuzo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Create_Training_Assignment</name>
        <label>Assign Values to Create Training Assignment</label>
        <locationX>2200</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LearnUponP__SFContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Vendor_Training_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Unique_Assignment_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingAssignmentUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingSystem.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TrainingAssingmentRecord_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Create_Training_Assignment_Chuzo</name>
        <label>Assign Values to Create Training Assignment</label>
        <locationX>2464</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LearnUponP__SFContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Onboarding_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Vendor_Training_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Training_Requirements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Unique_Assignment_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingAssignmentUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingAssingmentRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingSystem.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TrainingAssingmentRecord_to_Collection_Chuzo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Customization_Ids_to_Collection</name>
        <label>Assign Vendor Customization Ids to Collection</label>
        <locationX>1188</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>VendorCustomizationIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Vendor_Customizations_to_Training_Requiredment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Customizations_to_Training_Requiredment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Ids_to_Collection</name>
        <label>Assign Vendor Ids to Collection</label>
        <locationX>1188</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>VendorIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records_to_Gather_Vendors.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records_to_Gather_Vendors.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingVendorCustomizationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Onboarding_Records_to_Gather_Vendors.Vendor_Customization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Onboarding_Records_to_Gather_Vendors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUniqueKey_to_Text_Collection_List</name>
        <label>AssignUniqueKey to Text Collection List</label>
        <locationX>1188</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UniqueKeyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gather_Unique_Assignment_Key_into_List_from_Training_Assignment.Unique_Assignment_Key__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gather_Unique_Assignment_Key_into_List_from_Training_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_LearnUpon_Course_Name_Contain_Vendor_on_Onboarding_Record</name>
        <label>Does LearnUpon Course Name Contain Vendor on Onboarding Record</label>
        <locationX>2464</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing Matches Criteria... Get Out</defaultConnectorLabel>
        <rules>
            <name>Yes_Vendor_Names_are_Present_in_Course_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LearnUponP__Course_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Onboarding_Records.Vendor__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Onboarding_Records.Vendor__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PerfectVision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LearnUponContactEnrollment_Onboarding_Record</targetReference>
            </connector>
            <label>Yes - Vendor Names are Present in Course Name</label>
        </rules>
        <rules>
            <name>No_Vendor_is_PerfectVision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Onboarding_Records.Vendor__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PerfectVision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LearnUponP__Course_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Chuzo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LearnUponContactEnrollment_Onboarding_Record_Chuzo</targetReference>
            </connector>
            <label>No - Vendor is PerfectVision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Onboarding_Vendor_Customization_Match_Training_Requirement_Vendor_Customiza</name>
        <label>Does Onboarding Vendor Customization Match Training Requirement Vendor Customization</label>
        <locationX>2684</locationX>
        <locationY>2148</locationY>
        <defaultConnector>
            <targetReference>Loop_Training_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_They_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Training_Requirements.Vendor_Customization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Onboarding_Records.Vendor_Customization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_LearnUpon_Course_Name_Contain_Vendor_on_Onboarding_Record</targetReference>
            </connector>
            <label>Yes - They Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prevent_Duplicates_with_Unique_Key</name>
        <label>Prevent Duplicates with Unique Key</label>
        <locationX>2354</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>Does_Onboarding_Vendor_Customization_Match_Training_Requirement_Vendor_Customiza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique Key is Available to be Created</defaultConnectorLabel>
        <rules>
            <name>Unique_Key_is_Not_Available_to_Be_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueKeyCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TrainingAssignmentUniqueKey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Training_Requirements</targetReference>
            </connector>
            <label>Unique Key is Not Available to Be Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LUEnrollmentAsText</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.LearnUponP__LUEnrollment__c})</expression>
    </formulas>
    <formulas>
        <name>TrainingAssignmentUniqueKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.LearnUponP__SFContact__c} &amp; &quot;|&quot; &amp; {!$Record.Name} &amp; &quot;|&quot; &amp; {!Loop_Training_Requirements.Id} &amp; &quot;|&quot; &amp; {!Loop_Onboarding_Records.Id}</expression>
    </formulas>
    <interviewLabel>LearnUpon - Record Trigger - Update LearnUponContactEnrollment with Onboarding Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LearnUpon - Record Trigger - Update LearnUponContactEnrollment with Onboarding Record</label>
    <loops>
        <name>Gather_Unique_Assignment_Key_into_List_from_Training_Assignment</name>
        <label>Gather Unique Assignment Key into List from Training Assignment</label>
        <locationX>1100</locationX>
        <locationY>900</locationY>
        <collectionReference>TrainingAssignmentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUniqueKey_to_Text_Collection_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Vendor_Customization_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Onboarding_Records</name>
        <label>Loop Onboarding Records</label>
        <locationX>1100</locationX>
        <locationY>1824</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Training_Requirements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LearnUpon_Contact_Enrollment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Onboarding_Records_to_Gather_Vendors</name>
        <label>Loop Onboarding Records to Gather Vendors</label>
        <locationX>1100</locationX>
        <locationY>492</locationY>
        <collectionReference>OnboardingRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vendor_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Training_Requirements</name>
        <label>Loop Training Requirements</label>
        <locationX>1936</locationX>
        <locationY>1932</locationY>
        <collectionReference>TrainingRequirementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prevent_Duplicates_with_Unique_Key</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Onboarding_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Vendor_Customizations_to_Training_Requiredment</name>
        <label>Loop Vendor Customizations to Training Requiredment</label>
        <locationX>1100</locationX>
        <locationY>1308</locationY>
        <collectionReference>VendorCustomizationRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vendor_Customization_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_System_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Assignments</name>
        <label>Create Training Assignments</label>
        <locationX>1100</locationX>
        <locationY>3324</locationY>
        <inputReference>TrainingAssignmentRecordsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Onboarding_Records</name>
        <label>Get All Onboarding Records</label>
        <locationX>1100</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Onboarding_Records_to_Gather_Vendors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <outputReference>OnboardingRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
        <queriedFields>Vendor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>1100</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Onboarding_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LearnUponP__SFContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Assignments</name>
        <label>Get Training Assignments</label>
        <locationX>1100</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Unique_Assignment_Key_into_List_from_Training_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingIdCollection</elementReference>
            </value>
        </filters>
        <object>Training_Assignment__c</object>
        <outputReference>TrainingAssignmentRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unique_Assignment_Key__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Requirement</name>
        <label>Get Training Requirement</label>
        <locationX>1100</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Onboarding_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingVendorCustomizationIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrainingSystem.Id</elementReference>
            </value>
        </filters>
        <object>Training_Requirement__c</object>
        <outputReference>TrainingRequirementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Vendor_Customization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_System_Record</name>
        <label>Get Training System Record</label>
        <locationX>1100</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training_Requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LearnUpon</stringValue>
            </value>
        </filters>
        <object>Training_System__c</object>
        <outputReference>TrainingSystem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Customization_Records</name>
        <label>Get Vendor Customization Records</label>
        <locationX>1100</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vendor_Customizations_to_Training_Requiredment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>VendorIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OnboardingVendorCustomizationIds</elementReference>
            </value>
        </filters>
        <object>Vendor_Customization__c</object>
        <outputReference>VendorCustomizationRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_LearnUpon_Contact_Enrollment</name>
        <label>Update LearnUpon Contact Enrollment</label>
        <locationX>1100</locationX>
        <locationY>3216</locationY>
        <connector>
            <targetReference>Create_Training_Assignments</targetReference>
        </connector>
        <inputReference>LearnUponContactEnrollmentCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LearnUponP__LearnUponContactEnrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Time_Delayed_Start</name>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Time Delayed Start</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Training_Requirements_for_LearnUpon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>LearnUponContactEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>LearnUponContactEnrollmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearnUponP__LearnUponContactEnrollment__c</objectType>
    </variables>
    <variables>
        <name>OnboardingIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OnboardingVendorCustomizationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssignmentRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingAssingmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TrainingRequirementIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingRequirementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Requirement__c</objectType>
    </variables>
    <variables>
        <name>TrainingSystem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_System__c</objectType>
    </variables>
    <variables>
        <name>UniqueKeyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorCustomizationIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VendorCustomizationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Customization__c</objectType>
    </variables>
    <variables>
        <name>VendorIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
