OnboardingV2Minimal/force-app/main/default/flows/Onboarding_Screenflow_Change_Principal_Owner_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Number_of_Changed_Principal_Owners</name>
        <label>Assign Number of Changed Principal Owners</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>NumberOfChangedPrincipalOwners</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TempContactCollectionOfChangedPrincipalOwners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Unchanged_Principal_Owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Unchanged_Principal_Owners</name>
        <label>Assign Number of Unchanged Principal Owners</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>NumberOfUnchangedPrincipalOwners</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TempContactCollectionOfUnchangedPrincipalOwners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_Passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal_Owner_to_Temp_Contact_Collection</name>
        <label>Assign Principal Owner to Temp Contact Collection</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TempContactCollectionOfChangedPrincipalOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal_Owner_to_Temp_Contact_Collection_of_Unchanged_Principal_Owners</name>
        <label>Assign Principal Owner to Temp Contact Collection of Unchanged Principal Owners</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TempContactCollectionOfUnchangedPrincipalOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id_to_Account_Id</name>
        <label>Assign Record Id to Account Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Contacts_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp_Collections</name>
        <label>Clear Temp Collections</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>TempContactCollectionOfChangedPrincipalOwners</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TempContactCollectionOfChangedPrincipalOwners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempContactCollectionOfUnchangedPrincipalOwners</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TempContactCollectionOfUnchangedPrincipalOwners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_All_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Principal_Owner_Changed</name>
        <label>Has Principal Owner Changed</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Principal_Owner_to_Temp_Contact_Collection_of_Unchanged_Principal_Owners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Principal Owner Has Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Principal_Owner_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Contacts.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Original_Principal_Owner.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_Owner_to_Temp_Contact_Collection</targetReference>
            </connector>
            <label>Yes - Principal Owner Has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Looped_Contact_the_Principal_Owner</name>
        <label>Is Current Looped Contact the Principal Owner</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Not Current Principal Owner</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_Looped_Contact_is_Principal_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Contacts.Principal_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Principal_Owner_Changed</targetReference>
            </connector>
            <label>Yes - Current Looped Contact is Principal Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Passed</name>
        <label>Validation Passed</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>ScreenflowDisplayMultipleContactsError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfChangedPrincipalOwners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfUnchangedPrincipalOwners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Principal_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Onboarding - Screenflow - Change Principal Owner Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Screenflow - Change Principal Owner Contact</label>
    <loops>
        <name>Loop_All_Contacts</name>
        <label>Loop All Contacts</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Contacts_on_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Looped_Contact_the_Principal_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Number_of_Changed_Principal_Owners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Contacts_on_Account</name>
        <label>Get All Contacts on Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Principal_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Principal_Owner</name>
        <label>Get Original Principal Owner</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenflowDisplayMultipleContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Principal_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Principal_Owner_Changed_on_Account_Record</name>
        <label>Mark Principal Owner Changed on Account Record</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Principal_Owner_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Principal_Owner</name>
        <label>Remove Principal Owner</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Update_Principal_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Principal_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Principal_Owner__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Principal_Owner</name>
        <label>Update Principal Owner</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Mark_Principal_Owner_Changed_on_Account_Record</targetReference>
        </connector>
        <inputReference>Get_All_Contacts_on_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>ScreenflowDisplayMultipleContacts</name>
        <label>ScreenflowDisplayMultipleContacts</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_All_Contacts</targetReference>
        </connector>
        <fields>
            <name>MultipleContactsDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Select the New Primary Contact to Receive Agreement. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Only one can be selected.﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTableMultipleContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Contacts_on_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>FirstName,LastName,Email,Phone,MobilePhone,Principal_Owner__c,Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>FirstName:0, LastName:0, Email:0, Phone:0, MobilePhone:0, Principal_Owner__c:0, Owner__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_All_Contacts_on_Account</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenflowDisplayMultipleContactsError</name>
        <label>ScreenflowDisplayMultipleContactsError</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Temp_Collections</targetReference>
        </connector>
        <fields>
            <name>MultipleContactsDisplayTextError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Select the New Primary Contact to Receive Agreement. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(255, 0, 0);&quot;&gt;Only one can be selected.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTableMultipleContactsError</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Contacts_on_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>FirstName,LastName,Email,Phone,MobilePhone,Principal_Owner__c,Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>FirstName:0, LastName:0, Email:0, Phone:0, MobilePhone:0, Principal_Owner__c:0, Owner__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_All_Contacts_on_Account</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_Id_to_Account_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfChangedPrincipalOwners</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfUnchangedPrincipalOwners</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempContactCollectionOfChangedPrincipalOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TempContactCollectionOfUnchangedPrincipalOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
