OnboardingV2Minimal/force-app/main/default/flows/Onboarding_Autolaunch_Close_All_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Completed_Tasks_to_Record_Collection</name>
        <label>Assign Completed Tasks to Record Collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateAsComplete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskToComplete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Tasks_to_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Tasks_As_Complete</name>
        <label>Assignment Tasks As Complete</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TaskToComplete.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Tasks_to_Complete.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToComplete.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Completed_Tasks_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EmailAddressString</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.Recruiter__r.Email})),
  {!Get.Territory_Assignments__r.Recruiter__r.Email},
  &quot;&quot;
) &amp;

IF(
  AND(
    NOT(ISBLANK({!Get.Territory_Assignments__r.Account_Manager__r.Email})),
    NOT(ISBLANK(
      {!Get.Territory_Assignments__r.Recruiter__r.Email}
    ))
  ),
  &quot;,&quot;,
  &quot;&quot;
) &amp;
IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.Account_Manager__r.Email})),
  {!Get.Territory_Assignments__r.Account_Manager__r.Email},
  &quot;&quot;
) &amp;

IF(
  AND(
    NOT(ISBLANK({!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email})),
    NOT(ISBLANK(
      {!Get.Territory_Assignments__r.Recruiter__r.Email} &amp; 
      {!Get.Territory_Assignments__r.Account_Manager__r.Email}
    ))
  ),
  &quot;,&quot;,
  &quot;&quot;
) &amp;
IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email})),
  {!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email},
  &quot;&quot;
) &amp;

IF(
  AND(
    NOT(ISBLANK({!Get.Territory_Assignments__r.Inside_BB_BDM__r.Email})),
    NOT(ISBLANK(
      {!Get.Territory_Assignments__r.Recruiter__r.Email} &amp;
      {!Get.Territory_Assignments__r.Account_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email}
    ))
  ),
  &quot;,&quot;,
  &quot;&quot;
) &amp;
IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.Inside_BB_BDM__r.Email})),
  {!Get.Territory_Assignments__r.Inside_BB_BDM__r.Email},
  &quot;&quot;
) &amp;

IF(
  AND(
    NOT(ISBLANK({!Get.Territory_Assignments__r.National_Account_Manager__r.Email})),
    NOT(ISBLANK(
      {!Get.Territory_Assignments__r.Recruiter__r.Email} &amp;
      {!Get.Territory_Assignments__r.Account_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Inside_BB_BDM__r.Email}
    ))
  ),
  &quot;,&quot;,
  &quot;&quot;
) &amp;
IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.National_Account_Manager__r.Email})),
  {!Get.Territory_Assignments__r.National_Account_Manager__r.Email},
  &quot;&quot;
) &amp;

IF(
  AND(
    NOT(ISBLANK({!Get.Territory_Assignments__r.Outside_BB_BDM__r.Email})),
    NOT(ISBLANK(
      {!Get.Territory_Assignments__r.Recruiter__r.Email} &amp;
      {!Get.Territory_Assignments__r.Account_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Inside_BB_BDM__r.Email} &amp;
      {!Get.Territory_Assignments__r.National_Account_Manager__r.Email}
    ))
  ),
  &quot;,&quot;,
  &quot;&quot;
) &amp;
IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.Outside_BB_BDM__r.Email})),
  {!Get.Territory_Assignments__r.Outside_BB_BDM__r.Email},
  &quot;&quot;
) &amp;

IF(
  AND(
    NOT(ISBLANK({!Get.Territory_Assignments__r.Regional_COM_Mgr__r.Email})),
    NOT(ISBLANK(
      {!Get.Territory_Assignments__r.Recruiter__r.Email} &amp;
      {!Get.Territory_Assignments__r.Account_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Outside_Territory_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Inside_BB_BDM__r.Email} &amp;
      {!Get.Territory_Assignments__r.National_Account_Manager__r.Email} &amp;
      {!Get.Territory_Assignments__r.Outside_BB_BDM__r.Email}
    ))
  ),
  &quot;,&quot;,
  &quot;&quot;
) &amp;
IF(
  NOT(ISBLANK({!Get.Territory_Assignments__r.Regional_COM_Mgr__r.Email})),
  {!Get.Territory_Assignments__r.Regional_COM_Mgr__r.Email},
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>This takes the retailer type from the vendor customization and transforms the value to the proper value for New Dealer Training</description>
        <name>RetailerTypeTransformation</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent&quot;, 
  &quot;National Agent&quot;,
  IF(
    TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent and D2D&quot;,
    &quot;National Agent and D2D&quot;,
    IF(
      TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;D2D&quot;,
      &quot;D2D&quot;,
      IF(
        TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail&quot;,
        &quot;National Retail&quot;,
        IF(
          TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and National Agent&quot;,
          &quot;National Agent and National Retail&quot;,
          IF(
            TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and D2D&quot;,
            &quot;D2D and National Retail&quot;,
            IF(
              TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail, National Agent, and D2D&quot;,
              &quot;National Agent, D2D and National Retail&quot;,
              IF(
                TEXT({!Get.Vendor_Customization__r.Business_Vertical__c}) = &quot;N/A&quot;,
                &quot;N/A&quot;,
                &quot;Other&quot;  /* fallback for unmapped values */
              )
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Onboarding - Autolaunch - Close All Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Autolaunch - Close All Tasks</label>
    <loops>
        <name>Loop_All_Tasks_to_Complete</name>
        <label>Loop All Tasks to Complete</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Tasks_As_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mark_All_Tasks_As_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Onboarding Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Tasks_to_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_All_Tasks_As_Complete</name>
        <label>Mark All Tasks As Complete</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>TasksToUpdateAsComplete</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailAddressCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onboardingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecruiterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TasksToUpdateAsComplete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToComplete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
