OnboardingV2Minimal/force-app/main/default/flows/Onboarding_Subflow_Update_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Does_Onboarding_Require_Training</name>
        <label>Does Onboarding Require Training</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Onboarding_Record_Status_LearnUponTrigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Onboarding Does Not Requires Training</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Requires_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Requirements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding_Record_Status</targetReference>
            </connector>
            <label>Yes - Onboarding Requires Training</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Onboarding - Subflow - Update Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Subflow - Update Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Record</name>
        <label>Get Onboarding Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Requirements</name>
        <label>Get Training Requirements</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Onboarding_Require_Training</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Customization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding_Record.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Record_Status</name>
        <label>Update Onboarding Record Status</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Status__c</field>
            <value>
                <elementReference>agreementStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Record_Status_LearnUponTrigger</name>
        <label>Update Onboarding Record Status</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Status__c</field>
            <value>
                <elementReference>agreementStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LearnUpon_Triggered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>agreementStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
