OnboardingV2Minimal/force-app/main/default/flows/Onboarding_Autolaunch_Dealer_Welcome_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Recipient_Emails_from_Vendor_Program</name>
        <label>Get Recipient Emails from Vendor Program</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <actionName>RecipientGroupEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contract_Type_to_Determine_Email</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>vendorProgramId</name>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecipientGroupEmailAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ccEmailAddresses</assignToReference>
            <name>emailAddresses</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Communication_Program_Base_App</name>
        <label>Send Email Communication - Program Base App</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Account_Company_Id_with_ptn</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>ccEmailAddresses</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>customeronboarding@perfect-vision.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>CommunicationTemplateRecord.Email_Template_Id__c</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>OnboardingRecord.Opportunity__r.Selected_Opportunity_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Communication_Vendor</name>
        <label>Send Email Communication - Vendor</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_New_Dealer_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>ccEmailAddresses</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>customeronboarding@perfect-vision.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>CommunicationTemplateRecord.Email_Template_Id__c</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>OnboardingRecord.Opportunity__r.Selected_Opportunity_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contract_Type_to_Determine_Email</name>
        <label>Contract Type to Determine Email</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Base_App</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Base Application - with Chuzo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Base Application - without Chuzo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Base Application - with Chuzo (No Personal Guarantee)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Communication_Program_Base_App</targetReference>
            </connector>
            <label>Program Base App</label>
        </rules>
        <rules>
            <name>Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingRecord.Contract__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Communication_Vendor</targetReference>
            </connector>
            <label>Vendor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decide if New Record Needs to Be Created</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>No - Do Not Create New Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Dealer_Training_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Dealer_Training_Record</targetReference>
            </connector>
            <label>Yes - Create New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>This takes the retailer type from the vendor customization and transforms the value to the proper value for New Dealer Training</description>
        <name>RetailerTypeTransformation</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent&quot;,
  &quot;National Agent&quot;,
  IF(
    TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Agent and D2D&quot;,
    &quot;National Agent and D2D&quot;,
    IF(
      TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;D2D&quot;,
      &quot;D2D&quot;,
      IF(
        TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail&quot;,
        &quot;National Retail&quot;,
        IF(
          TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and National Agent&quot;,
          &quot;National Agent and National Retail&quot;,
          IF(
            TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail and D2D&quot;,
            &quot;D2D and National Retail&quot;,
            IF(
              TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;National Retail, National Agent, and D2D&quot;,
              &quot;National Agent, D2D and National Retail&quot;,
              IF(
                TEXT({!OnboardingRecord.Vendor_Customization__r.Business_Vertical__c}) = &quot;N/A&quot;,
                &quot;N/A&quot;,
                &quot;D2D&quot;  /* fallback for unmapped values */
              )
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Onboarding - Autolaunch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Autolaunch - Dealer Welcome Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Dealer_Training_Record</name>
        <label>Create New Dealer Training Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Number__c</field>
            <value>
                <elementReference>OnboardingRecord.Contract__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_Live_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OnboardingRecord.Vendor__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding__c</field>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_New_Dealer_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retailer_Type__c</field>
            <value>
                <elementReference>RetailerTypeTransformation</elementReference>
            </value>
        </inputAssignments>
        <object>New_Dealer_Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Communication_Template</name>
        <label>Get Communication Template</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_Emails_from_Vendor_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor_Customization__c</elementReference>
            </value>
        </filters>
        <object>Communication_Template__c</object>
        <outputReference>CommunicationTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Template_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Dealer_Record_Type</name>
        <label>Get New Dealer Record Type</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Dealer_Training_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Vendor__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Dealer_Training__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Dealer_Training_Records</name>
        <label>Get New Dealer Training Records</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Dealer_Training_Records.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>New_Dealer_Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Principal_Owner_of_Account</name>
        <label>Get Principal Owner of Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Communication_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Principal_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Company_Id_with_ptn</name>
        <label>Update Account Company Id with ptn</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRecord.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_ID__c</field>
            <value>
                <stringValue>ptn</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Principal_Owner_of_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ccEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communication_Template__c</objectType>
    </variables>
    <variables>
        <name>OnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
