OnboardingV2Minimal/force-app/main/default/flows/Opportunity_Flow_Orchestration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Are_We_Sending_Documents</name>
        <label>Are We Sending Documents</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Create_Onboarding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Send Documents</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Documents_Ready__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Adobe_Agreements</targetReference>
            </connector>
            <label>Yes - Send Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Training_Assignment_Records_Are_Needed</name>
        <label>Decide if Training Assignment Records Are Needed</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Training Records Not Needed</defaultConnectorLabel>
        <rules>
            <name>Yes_Training_Records_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Related_Onboarding_Record.Outputs.OnboardingRecord.Onboarding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Training_Assignment_Records_Where_Needed</targetReference>
            </connector>
            <label>Yes Training Records Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage</name>
        <label>Opportunity Stage</label>
        <locationX>743</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Do Nothing with Onboarding</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Not_Closed_Lost</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contracts_from_Opportunity.Outputs.ContractRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contracts_from_Opportunity.Outputs.ContractRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Update_Account_Information</targetReference>
            </connector>
            <label>Stage is Not Closed Lost</label>
        </rules>
        <rules>
            <name>Stage_is_Closed_Lost</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contracts_from_Opportunity.Outputs.ContractRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contracts_from_Opportunity.Outputs.ContractRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Stage_Does_Nothing_in_Subflow</targetReference>
            </connector>
            <label>Stage is Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Flow Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Flow Orchestration</label>
    <orchestratedStages>
        <name>Create_Action_Plan_Onboarding_Record</name>
        <label>Create Action Plan &amp; Onboarding Record</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Decide_if_Training_Assignment_Records_Are_Needed</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Action_Plan</name>
            <actionName>Action_Plan_Subflow_Create_Action_Plan</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Adobe_Agreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>BaseAppOBRep</name>
                <value>
                    <elementReference>Get_Territory_Assignment.Outputs.BassAppOBRep</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionPlanTemplateId</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Action_Plan_Template__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorId</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorName</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <label>Create Action Plan</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Related_Onboarding_Record</name>
            <actionName>Onboarding_Subflow_Create_Related_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Action_Plan.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>actionPlanId</name>
                <value>
                    <elementReference>Create_Action_Plan.Outputs.actionPlanId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementId</name>
                <value>
                    <elementReference>Create_Adobe_Agreement.Outputs.agreementIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contactIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contractIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onboardingType</name>
                <value>
                    <elementReference>$Record.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>territoryAssignmentId</name>
                <value>
                    <elementReference>Get_Territory_Assignment.Outputs.territoryAssignmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorCustomizationId</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorId</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Related Onboarding Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>This background step updates the tasks with the onboarding record&apos;s whatId</description>
            <name>Update_ActionPlan_Line_Tasks_WhatId</name>
            <actionName>Onboarding_Subflow_Update_Action_Plan_Items_WhatId</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Related_Onboarding_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>onboardingId</name>
                <value>
                    <elementReference>Create_Related_Onboarding_Record.Outputs.onboardingId</elementReference>
                </value>
            </inputParameters>
            <label>Update ActionPlan Line Tasks WhatId</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Adobe_Agreements</name>
        <label>Create Adobe Agreements</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Create_Action_Plan_Onboarding_Record</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Adobe_Agreement</name>
            <actionName>Send_NDA_Contract</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>accountIdInput</name>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementTemplateIdInput</name>
                <value>
                    <elementReference>$Record.Agreement_Template__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactIdInput</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contactIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractIdInput</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contractIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityIdInput</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateOrSendNewAgreementInput</name>
                <value>
                    <elementReference>Create_Contract.Outputs.updateOrSendNewAgreementOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorIdInput</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Adobe Agreement</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Onboarding_Record</name>
        <label>Create Onboarding Record</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Created_Related_Onboarding_Record</name>
            <actionName>Onboarding_Subflow_Create_Related_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>NewRelatedOrUpdateRelated</name>
            </inputParameters>
            <inputParameters>
                <name>actionPlanId</name>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementId</name>
            </inputParameters>
            <inputParameters>
                <name>backgroundCheckId</name>
            </inputParameters>
            <inputParameters>
                <name>businessLicenseId</name>
            </inputParameters>
            <inputParameters>
                <name>clearingHouseId</name>
            </inputParameters>
            <inputParameters>
                <name>complianceId</name>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contactIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contractIdOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNewOrCreateRelated</name>
            </inputParameters>
            <inputParameters>
                <name>creditCheckId</name>
            </inputParameters>
            <inputParameters>
                <name>driversLicenseId</name>
            </inputParameters>
            <inputParameters>
                <name>eRPSetupId</name>
            </inputParameters>
            <inputParameters>
                <name>laborFormId</name>
            </inputParameters>
            <inputParameters>
                <name>learnUponContactEnrollmentId</name>
            </inputParameters>
            <inputParameters>
                <name>netTermsId</name>
            </inputParameters>
            <inputParameters>
                <name>onboardingId</name>
            </inputParameters>
            <inputParameters>
                <name>onboardingType</name>
                <value>
                    <elementReference>$Record.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>territoryAssignmentId</name>
                <value>
                    <elementReference>Get_Territory_Assignment.Outputs.territoryAssignmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorCustomizationId</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorId</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorOrderEntryPlatformId</name>
            </inputParameters>
            <label>Created Related Onboarding Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Training_Assignment_Records_Where_Needed</name>
        <label>Create Training Assignment Records Where Needed</label>
        <locationX>50</locationX>
        <locationY>1043</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Training_Assignment_Record</name>
            <actionName>DOM_Onboarding_SFL_CREATE_Training_Assignment_Records</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>Create_Related_Onboarding_Record.Outputs.OnboardingRecord</elementReference>
                </value>
            </inputParameters>
            <label>Create Training Assignment Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_External_Contact_Credential_Records</name>
            <actionName>DOMAIN_Onboarding_SFL_CREATE_External_Contact_Credentials</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_Training_Assignment_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OnboardingRecord</name>
                <value>
                    <elementReference>Create_Related_Onboarding_Record.Outputs.OnboardingRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PrincipalOwnerId</name>
                <value>
                    <elementReference>Create_Contract.Outputs.contactIdOutput</elementReference>
                </value>
            </inputParameters>
            <label>Create External Contact Credential Records</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Link_Between_ECC_and_Required_Credentials</name>
            <actionName>DOMAIN_External_Contact_Credential_SFL_CREATE_Required_External_Contact_Credenti</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Create_External_Contact_Credential_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ExternalContactCredentialRecords</name>
                <value>
                    <elementReference>Create_External_Contact_Credential_Records.Outputs.ExternalContactCredentialRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ExternalContactCredentialTypes</name>
                <value>
                    <elementReference>Create_External_Contact_Credential_Records.Outputs.ExternalContactCredentalTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RequiredCredentialRecordCollection</name>
                <value>
                    <elementReference>Create_External_Contact_Credential_Records.Outputs.RequiredCredentialRecordCollection</elementReference>
                </value>
            </inputParameters>
            <label>Create Link Between ECC and Required Credentials</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Current_Stage_Does_Nothing_in_Subflow</name>
        <label>Current Stage Does Nothing in Subflow</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Onboarding_Records</name>
            <actionName>Opportunity_Subflow_Update_Onboarding_Records</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Update Onboarding Records</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Gather_Update_Account_Information</name>
        <label>Gather &amp; Update Account Information</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Are_We_Sending_Documents</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Territory_Assignment</name>
            <actionName>Onboarding_Get_Territory_Assignments</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <label>Get Territory Assignment</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Add_Opportunity_Contacts_to_Opportunity</name>
            <actionName>Opportunity_Subflow_Assign_Opportunity_Contacts</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Get_Territory_Assignment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Add Opportunity Contacts to Opportunity</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Contract</name>
            <actionName>Contract_Creation_Subflow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Add_Opportunity_Contacts_to_Opportunity.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>SelectedOpportunityContactId</name>
                <value>
                    <elementReference>$Record.Selected_Opportunity_Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountIdInput</name>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>adobeAgreementTemplateIdInput</name>
                <value>
                    <elementReference>$Record.Agreement_Template__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractRecordTypeId</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Contract_Record_Type__r.RecordTypeId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractRecordTypeNameInput</name>
                <value>
                    <elementReference>$Record.Vendor__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractTypeInput</name>
                <value>
                    <elementReference>$Record.Program_Base_App_Selection__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityIdInput</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>retailerTypeInput</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__r.Retail_Option__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorCustomizationId</name>
                <value>
                    <elementReference>$Record.Vendor_Customization__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorIdInput</name>
                <value>
                    <elementReference>$Record.Vendor__c</elementReference>
                </value>
            </inputParameters>
            <label>Create Contract</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>743</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Opportunity_Stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Contracts_from_Opportunity</name>
            <actionName>DOM_Opportunity_SFL_GET_All_Related_Contract_Records</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>OpportunityRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Get Contracts from Opportunity</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Orchestration_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountContactId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>accountContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
