OnboardingV2Minimal/force-app/main/default/flows/Update_Trial_Period_For_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Disable_Trial_Period</name>
        <label>Disable Trial Period</label>
        <locationX>1616</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>$Record.POE_Enable_Trial_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Over_30_days_old</name>
        <label>Is Over 30 days old?</label>
        <locationX>1312</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>thirtyDaysFromCreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_Trial_Period</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>createdDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.POE_Start_Date__c}</expression>
    </formulas>
    <formulas>
        <name>thirtyDaysFromCreatedDate</name>
        <dataType>Date</dataType>
        <expression>{!createdDate} + 30</expression>
    </formulas>
    <interviewLabel>Update Trial Period For Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Trial Period For Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>1616</locationX>
        <locationY>657</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1192</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Is_Over_30_days_old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POE_Enable_Trial_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-04</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
